openapi: 3.1.0

# =============================================================================
# 친구야 — 여행사(G) 대상 Core API 명세 [v0.1]
#
# 범위: 계정 등록(초대 링크 수락, S2-G1), 로그인·로그아웃·세션 조회(S2-G2),
#       상품 조회·예약(S2-G4/G5), 예약 목록·취소(S2-G6), 인보이스(S2-G7). 대시보드(S2-G3)는
#       아직 없다 — 구현되는 대로 이어 붙인다.
#
# x-screens: 각 operation에 그 엔드포인트를 쓰는 화면코드를 단다(관리자 문서 헤더와 같은 규약).
#            노션 「페이지 정의서」의 `API 상태` 를 어느 행에 찍을지 이 값으로만 판단한다.
#            S2-G4/G5 부터 달았다 — 그 이전 operation(S2-G1/G2)에는 아직 없다.
#
# 왜 별도 문서인가: chinguya-slice1-openapi.yaml 은 헤더에서 스스로를 '고객 대상'
#       으로, chinguya-admin-api.yaml 은 '관리자 대상'으로 한정한다. 여행사는 세 번째
#       사용자군이고 쿠키·권한 모델이 둘 다와 다르므로 문서를 나눈다.
#
# 아키텍처: 여행사 앱(Next.js, :3002)은 자체 Route Handler(BFF)를 거쳐 이 Core API를
#       호출한다. 로그인만은 일반 프록시(/api/core/*)가 아니라 전용 BFF
#       (/api/agency/session)를 쓴다 — 공용 프록시가 응답의 Set-Cookie 를 흘려주지
#       않기 때문에, Core가 내려준 JWT를 BFF가 자기 오리진 쿠키로 다시 심어야 한다.
#       (관리자 앱의 /api/admin/session 과 같은 구조.)
#
# ⚠ 경로 프리픽스가 `/v1` 인 것은 고객 문서와 같지만 **쿠키는 다르다**:
#   고객 `access_token`(30분) / 관리자 `admin_access_token`(4시간) /
#   여행사 `agency_access_token`(4시간). 로컬 개발에서는 세 앱이 모두 localhost 이고
#   쿠키는 포트를 구분하지 않으므로, 이름이 겹치면 서로의 세션을 덮어쓴다.
#
# 미확정(TODO 협의):
#   1. 비밀번호 재설정(분실) 플로우가 없다. 지금은 관리자가 여행사를 지우고 다시
#      등록하거나, 초대를 재발송할 수 없다(이미 계정이 있으면 409). 운영 들어가기 전
#      결정 필요.
#   2. 토큰 만료(4시간) 시 UX 미정 — 자동 갱신인지 재로그인인지. 갱신 엔드포인트 없음.
#   3. 로그인 실패 횟수 제한·계정 잠금 정책 없음(관리자와 같은 상태).
#   4. 여행사 1곳 = 계정 1개(1:1)로 확정. 담당자가 여러 명인 여행사가 나오면
#      agency_account 의 UNIQUE(agency_id) 를 떼고 초대를 계정 단위로 바꿔야 한다.
#   5. **여권 영문명을 받지 않는다**(S2-G4/G5). 대시보드(S2-G3) 오늘 이용자 명단에는
#      여권명 칸이 있지만 예약 화면에는 입력칸이 없다. 이용자마다(수량만큼) 받을지,
#      예약마다 대표자 1명만 받을지 기획 결정이 필요하다.
#   6. 취소 이력을 남기지 않는다 — `agency_reservation` 에 취소 시각·사유 컬럼이 없고
#      `status` 만 `CANCELLED` 로 바뀐다. 누가 언제 취소했는지 물어볼 일이 생기면
#      컬럼을 추가해야 한다(S2-G6 화면에는 필요 없어서 넣지 않았다).
#   7. 매장 휴무는 **이용일(시작일)만** 본다. 2일(DAY_2) 상품의 둘째 날이 휴무여도 막지 않는다.
#   8. 예약번호는 `AG-{생성 연월 YYMM}{일련번호 4자리 이상}` 이다. 일련번호는 월마다
#      초기화되지 않고 계속 올라간다.
#   9. '오늘'(예약 가능 기간의 기준)은 **서버 날짜**다 — 재고 세팅(S1-A3)의 D-3 반환 규칙과
#      같은 기준이다. 규칙상 '오늘'은 일본 기준이므로 서버 타임존이 JST 가 아니면 어긋난다.
# =============================================================================

info:
  title: 친구야 여행사 Core API
  version: 0.1.0
  description: |
    여행사(G) 앱이 쓰는 Core API 계약. 현재는 계정 등록(S2-G1)·로그인(S2-G2)과
    상품 조회·예약(S2-G4/G5), 예약 목록·취소(S2-G6), 인보이스(S2-G7)를 정의한다.

    **계정의 생애주기** — 관리자와 여행사가 나눠 가진다:

    1. 관리자가 여행사를 등록한다(`POST /admin/agencies`, 관리자 문서). 이때 계정은
       아직 없고 초대 메일만 나간다.
    2. 담당자가 메일 링크(`{여행사앱}/login?token=…`)로 들어와 아이디·비밀번호를
       **직접** 정한다(`/v1/agency/invitations/complete`). 이 시점에 계정이 생긴다.
    3. 이후 그 아이디로 로그인한다(`/v1/agency/auth/login`).

    초대 토큰은 **유효기간 7일·1회용**이며, 재발송하면 이전 토큰은 즉시 죽는다.
    서버는 토큰 원문을 저장하지 않는다(SHA-256 해시만).

    **권한 모델** — 서버가 강제한다(SecurityConfig):
    - 초대 검증·계정 등록·로그인은 인증 없이 호출한다. 이 셋에서는 **초대 토큰 또는
      비밀번호 자체가 인증 수단**이다.
    - 그 밖의 `/v1/agency/**` 는 전부 `agency_access_token` 쿠키 필수(`ROLE_AGENCY`).
    - 관리자가 자기 쿠키로 여행사 API를 부르면 403이다(롤이 다르다).
    - 관리자가 여행사를 **사용 불가**로 바꾸면(S2-A1 토글) 로그인이 막히고, 이미
      로그인한 세션도 `GET /v1/agency/auth/me` 에서 403 이 되어 화면 이동 시 튕긴다.
      상품 조회·예약 API도 부를 때마다 같은 검사를 한다(403 `AGENCY_INACTIVE`).

    **여행사 예약 규칙**(S2-G4/G5):
    - 예약 가능 기간은 이용일 기준 **오늘 +3일 ~ +3개월**(양 끝 포함).
    - 가용 = 그날 **이 여행사의 연결 자산 할당**(관리자 S1-A3) − 이 여행사가 그 자산으로
      이미 잡은 예약 수량. 할당은 자산 단위라 **같은 자산의 상품끼리 나눠 쓴다**.
    - 2일(`DAY_2`) 상품은 이용일과 다음 날, 이틀의 할당을 쓴다.
    - 매장 휴무일에는 예약할 수 없다.
    - 예약은 **즉시 완료**다(입금 흐름 없음). 금액은 예약 시점의 여행사가로 서버가 계산한다.

    **여행사 취소 규칙**(S2-G6):
    - 취소도 **즉시 확정**이다(고객처럼 '취소 요청 → 관리자 승인'이 아니다). 수수료·환불 없음.
    - **이용일 기준 D-3 까지**가 기본이고, 관리자가 조정한다(S1-A10 · `admin_settings`).
    - 재고는 상태만 바꾸면 복원된다 — 가용량이 `COMPLETED` 예약의 합이기 때문이다.

servers:
  - url: https://api.chinguya.co.kr/v1
    description: 운영(prod)
  - url: http://localhost:8080/v1
    description: 로컬 개발

tags:
  - name: agency-invitation
    description: 초대 링크 검증·계정 등록 (S2-G1)
  - name: agency-auth
    description: 여행사 로그인·로그아웃·세션 조회 (S2-G2)
  - name: agency-booking
    description: 이용 날짜별 상품 조회·예약(즉시 완료)·예약 목록·취소 (S2-G4/G5/G6)
  - name: agency-invoice
    description: 월별 인보이스(전월 기준 정산 내역) (S2-G7)

# -----------------------------------------------------------------------------
paths:

  /agency/invitations/verify:
    post:
      tags: [agency-invitation]
      summary: 초대 토큰 검증 (S2-G1 진입)
      description: |
        계정 등록 화면이 뜨자마자 호출해, 폼을 그릴지 안내 문구를 그릴지 정한다.
        성공하면 여행사명을 돌려주므로 "OO 여행사 계정을 등록합니다" 처럼 확인시킬 수 있다.

        **의미상 조회지만 POST + 본문**이다 — 초대 토큰이 경로나 쿼리에 실리면
        액세스 로그·프록시 로그·`Referer` 헤더에 그대로 남는다. 토큰이 URL에 있는 것은
        메일 링크(브라우저 주소창)까지가 어쩔 수 없는 한계고, 거기서 더 번지지 않게 한다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InvitationTokenRequest' }
      responses:
        '200':
          description: 사용 가능한 초대
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InvitationVerifyResponse' }
        '404':
          $ref: '#/components/responses/InvitationNotFound'
        '409':
          $ref: '#/components/responses/InvitationUnusable'

  /agency/invitations/complete:
    post:
      tags: [agency-invitation]
      summary: 계정 등록 완료 (S2-G1)
      description: |
        초대 토큰과 함께 아이디·비밀번호를 받아 계정을 만든다. 성공하면 그 초대는
        즉시 사용 완료 처리되어 같은 링크를 다시 쓸 수 없다.

        **자동 로그인하지 않는다** — 페이지정의서의 화면 이동이 `등록 완료 → 로그인(S2-G2)`
        이다. 응답의 `loginId` 로 로그인 화면을 미리 채워 준다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InvitationCompleteRequest' }
      responses:
        '201':
          description: 계정 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyRegisteredResponse' }
        '400':
          description: |
            입력값 오류. 비밀번호 확인 불일치는 `fieldErrors` 의 `passwordConfirm` 항목으로 온다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: 사용 불가로 전환된 여행사
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_INACTIVE
                message: 사용이 중지된 계정입니다. 관리자에게 문의해 주세요.
        '404':
          $ref: '#/components/responses/InvitationNotFound'
        '409':
          description: |
            쓸 수 없는 초대(만료·사용됨·무효화)이거나, 이미 계정이 있거나, 아이디가 중복된 경우.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: DUPLICATE_LOGIN_ID
                message: 이미 사용 중인 아이디입니다.

  /agency/auth/login:
    post:
      tags: [agency-auth]
      summary: 여행사 로그인 (S2-G2)
      description: |
        아이디·비밀번호로 인증하고 액세스 토큰(JWT)을 **HttpOnly 쿠키로** 발급한다.

        아이디가 없는 경우, 비밀번호가 틀린 경우, **삭제된 여행사**인 경우 모두 같은
        401(`INVALID_CREDENTIALS`)로 응답한다.

        **사용 불가(active=false) 여행사만은 403(`AGENCY_INACTIVE`)로 구분한다.**
        비밀번호가 맞았다는 사실이 노출되지만, 계약 관계인 파트너에게는
        "관리자에게 문의하세요"가 실행 가능한 안내이고, 그렇지 않으면 담당자가
        비밀번호를 헛되이 뒤지게 된다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyLoginRequest' }
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              schema: { type: string }
              description: |
                `agency_access_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=14400`
                (`Secure` 는 운영에서만).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencySessionResponse' }
        '401':
          $ref: '#/components/responses/InvalidCredentials'
        '403':
          $ref: '#/components/responses/AgencyInactive'

  /agency/auth/logout:
    post:
      tags: [agency-auth]
      summary: 여행사 로그아웃 (S2-G2)
      description: |
        쿠키를 만료시킨다. 서버에 세션 저장소가 없으므로(stateless JWT) 실제 효과는
        쿠키 삭제뿐이다.

        ⚠ 이미 만료된 세션으로 부르면 401 이다. BFF는 401 도 로그아웃 성공으로
        취급하고 자기 오리진 쿠키를 지워야 한다.
      responses:
        '204':
          description: 로그아웃 완료
          headers:
            Set-Cookie:
              schema: { type: string }
              description: 만료된 `agency_access_token` (Max-Age=0).
        '401':
          $ref: '#/components/responses/Unauthorized'

  /agency/auth/me:
    get:
      tags: [agency-auth]
      summary: 현재 세션 조회 (S2-G2)
      description: |
        쿠키의 토큰을 검증하고 세션 정보를 돌려준다. 여행사 앱 셸이 화면 이동마다
        호출한다.

        **여행사명은 토큰 클레임이 아니라 DB에서 읽는다** — 관리자가 명칭을 바꾸면
        (S2-A3) 최대 4시간짜리 토큰 안에 낡은 이름이 남기 때문이다.

        같은 이유로 **`active` 를 매번 다시 확인**한다. 관리자가 사용 불가로 바꾸면
        발급된 토큰은 여전히 서명이 유효하지만 이 엔드포인트가 403 을 내므로,
        여행사 앱은 다음 화면 이동에서 로그인 화면으로 튕긴다.
      responses:
        '200':
          description: 세션 정보
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencySessionResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AgencyInactive'

  /agency/products:
    get:
      tags: [agency-booking]
      x-screens: [S2-G4]
      summary: 이용 날짜별 예약 가능 상품 조회 (S2-G4)
      description: |
        이용 날짜를 바꿀 때마다 호출해 상품 표(여행사가·가용)를 그린다.

        **대상 상품** — 삭제되지 않았고 여행사앱 표출(관리자 S1-A4 토글)이 켜진 상품 전부.
        순서는 관리자 상품 목록과 같다(카테고리 → 자산 등록순 → 옵션순). 고객가는 내려주지 않는다.

        **가용(`available`)** = 그날 이 여행사의 연결 자산 할당 − 이 여행사가 그 자산으로
        이미 잡은 예약 수량(완료 상태), 0 미만이면 0.
        - 할당은 자산 단위라 **같은 자산의 상품끼리 나눠 쓴다.** 전기자전거·1일로 2대를
          예약하면 전기자전거·2시간의 가용도 2 줄어든다.
        - 2일(`DAY_2`) 상품은 이용일과 다음 날 중 **작은 쪽**이다.
        - 매장 휴무일이면 `closed = true` 이고 모든 가용이 0이다.

        `available` 은 줄마다 따로 계산한 값이라, 같은 자산의 줄을 여러 개 담으면 합계가
        가용을 넘을 수 있다. 화면은 같은 `assetId` 줄들의 선택 수량을 빼서 스테퍼 상한을
        정하고, 최종 판정은 예약 API가 한다(409).
      parameters:
        - name: useDate
          in: query
          required: true
          schema: { type: string, format: date }
          description: 이용 날짜. 오늘 +3일 ~ +3개월(양 끝 포함).
      responses:
        '200':
          description: 그 날짜의 예약 가능 상품
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyProductList' }
        '400':
          description: |
            `useDate` 누락·형식 오류(`VALIDATION_ERROR`) 또는 예약 가능 기간 밖(`USE_DATE_OUT_OF_RANGE`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: USE_DATE_OUT_OF_RANGE
                message: 여행사 예약은 이용일 기준 오늘 +3일부터 +3개월까지 가능합니다.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AgencyInactive'

  /agency/reservations:
    get:
      tags: [agency-booking]
      x-screens: [S2-G6]
      summary: 여행사 예약 목록 (S2-G6)
      description: |
        이 여행사의 예약을 **전부** 돌려준다. 취소된 예약도 포함한다(화면이 상태를 같이 보여준다).
        페이징은 없다 — 여행사 1곳의 예약은 표 하나로 훑는 양이라는 전제다. 늘어나면 그때 붙인다.

        정렬은 **이용일 내림차순**, 같은 날은 예약번호 내림차순(최근 것이 위)이다.

        취소 가능 여부는 줄마다 내려주지 않는다. 화면이 `useDate - today >= cancelDeadlineDays`
        로 판정하고 버튼을 그리거나 `취소불가(D-n)` 를 쓴다. `today` 를 함께 내려주는 것은
        브라우저 시계가 서버와 어긋나도 판정이 흔들리지 않게 하려는 것이다.
      responses:
        '200':
          description: 예약 목록 — 없으면 `reservations` 가 빈 배열이다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyReservationList' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AgencyInactive'

    post:
      tags: [agency-booking]
      x-screens: [S2-G5]
      summary: 예약 — 즉시 완료 (S2-G5)
      description: |
        상품 조회(S2-G4)에서 고른 상품·수량을 한 번에 예약한다. 여행사 예약은 입금 흐름이
        없으므로 **만들어지는 즉시 `COMPLETED`** 다.

        - **상품 1줄 = 예약 1건**이다. 줄마다 예약번호가 따로 붙는다(예약 목록 S2-G6 의
          표도 줄 단위다). 응답 배열은 요청 `items` 순서와 같다.
        - **전부 성공하거나 전부 실패한다.** 한 줄이라도 가용을 넘으면 아무것도 저장하지 않는다.
        - 금액은 서버가 **지금의 여행사가**로 계산해 예약에 복사해 둔다(요청에 금액이 없다).
          나중에 관리자가 가격을 바꿔도 이미 잡은 예약의 금액은 그대로다.
        - 가용 판정은 조회 API와 같은 식이고, 같은 자산의 줄들은 **날짜별로 수량을 합쳐서** 본다.
          동시에 들어온 예약끼리 할당을 넘지 않도록 자산 단위로 잠근 뒤 판정한다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyReservationCreateRequest' }
      responses:
        '201':
          description: 예약 완료 — 요청 줄마다 1건
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AgencyReservation' }
        '400':
          description: |
            입력값 오류(`VALIDATION_ERROR` — 빈 목록·수량 1 미만·같은 상품 중복·날짜 누락)
            또는 예약 가능 기간 밖(`USE_DATE_OUT_OF_RANGE`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AgencyInactive'
        '404':
          description: 없거나 삭제됐거나 여행사앱 표출이 꺼진 상품
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: PRODUCT_NOT_FOUND
                message: 상품을 찾을 수 없습니다.
        '409':
          description: 매장 휴무일(`STORE_CLOSED`)이거나 가용보다 많이 담았다(`ALLOCATION_EXCEEDED`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: ALLOCATION_EXCEEDED
                message: 전기자전거의 예약 가능 수량을 넘었습니다(2026-09-20 남은 수량 1대).

  /agency/invoices:
    get:
      tags: [agency-invoice]
      x-screens: [S2-G7]
      summary: 여행사 인보이스 — 전월 정산 내역 (S2-G7)
      description: |
        **전월** 인보이스 1건을 돌려준다. 기간을 고르는 파라미터가 없는 것은 화면에 월 선택
        UI 가 없기 때문이다(와이어프레임 g-invoice). 지난 달들을 다시 보는 요구가 생기면
        그때 `period` 쿼리를 붙인다.

        **인보이스를 저장하지 않는다** — 요청할 때마다 예약에서 집계한다. 그래도 값이
        흔들리지 않는 이유는 취소 마감이 이용일 D-3 이기 때문이다. 전월 인보이스가 발행되는
        매월 1일에는 그 달 이용일의 예약이 전부 취소 불가 상태라, 집계 결과가 더는 변하지
        않는다. 발행 상태·정산 완료(`settled`) 플래그는 그것이 실제로 필요한 관리자 화면
        (S2-A5/A6)에서 도입한다.

        **라인아이템** = 그 달에 **이용일**이 든 **완료** 예약 1건. 예약 줄 단위라
        예약 목록(S2-G6)의 줄과 1:1 이다.
        - 취소된 예약은 **빼고 준다** — 여행사 취소에는 수수료가 없어 청구할 금액이 없다.
          ⚠ 관리자 인보이스 화면(S2-A5/A6)의 목업은 취소 건을 금액 0 으로 **표시**한다.
          두 화면이 갈리는 지점이라, 관리자 API 를 만들 때 한쪽으로 맞춰야 한다.
        - 2일(`DAY_2`) 상품이 월말에 걸쳐도 **이용일(시작일)이 든 달**에만 청구한다.
          예약이 두 달에 나뉘어 잘리지 않게 하려는 것이다.
        - 단가·금액은 예약 시점 여행사가 스냅샷이라, 관리자가 가격을 바꿔도 지난
          인보이스는 흔들리지 않는다(V14 설계).

        통화는 **KRW 고정**이고 **세금 라인이 없다**. 실제 정산(입금)은 시스템 밖에서
        수동 확인한다.
      responses:
        '200':
          description: |
            전월 인보이스. 대상 예약이 없으면 `lineItems` 가 빈 배열이고 `totalAmount` 는 0 이다
            (그 달에 인보이스가 없다는 뜻이라 404 가 아니다 — 화면은 '발행 대상 예약이 없습니다'를 쓴다).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyInvoice' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AgencyInactive'

  /agency/reservations/{reservationId}/cancel:
    post:
      tags: [agency-booking]
      x-screens: [S2-G6]
      summary: 예약 취소 — 즉시 (S2-G6)
      description: |
        여행사 취소는 **즉시 확정**이다(고객의 '취소 요청'과 다르다. 관리자 승인이 없다).
        수수료·환불 계산도 없다 — 여행사 정산은 월별 인보이스(S2-G7)에서 취소된 예약을
        빼는 방식이기 때문이다.

        **재고는 상태를 바꾸는 것만으로 즉시 복원된다.** 가용량이 `COMPLETED` 예약의 합으로
        계산되므로(`GET /agency/products`) 별도의 복원 처리가 없다.

        **마감** — `이용일 - 오늘 >= cancelDeadlineDays` 일 때만 된다. 기본 3(D-3)이고
        관리자가 조정한다(S1-A10). 이미 취소된 예약을 다시 취소하면 409 다.
      parameters:
        - name: reservationId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: 취소 완료 — `status` 가 `CANCELLED` 로 바뀐 예약
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyReservation' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AgencyInactive'
        '404':
          description: |
            없는 예약이거나 **다른 여행사의 예약**이다(`RESERVATION_NOT_FOUND`).
            남의 예약 존재 여부를 알려주지 않으려고 403 이 아니라 404 로 답한다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: RESERVATION_NOT_FOUND
                message: 예약을 찾을 수 없습니다.
        '409':
          description: |
            이미 취소됐거나(`RESERVATION_ALREADY_CANCELLED`) 취소 마감일이 지났다(`CANCEL_DEADLINE_PASSED`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: CANCEL_DEADLINE_PASSED
                message: 취소 마감일(2026-09-17)이 지나 취소할 수 없습니다.

# -----------------------------------------------------------------------------
components:

  securitySchemes:
    agencyCookieAuth:
      type: apiKey
      in: cookie
      name: agency_access_token
      description: |
        여행사 액세스 토큰(JWT). 클레임 = agencyId·accountId·loginId, 유효 **4시간**.

        ⚠ 고객(`access_token`, 30분)·관리자(`admin_access_token`, 4시간)와 **다른
        쿠키이고 서명 키도 다르다**. 키를 나눈 것은 정리 차원이 아니라 보안 속성이다 —
        키가 같으면 감사(audience) 검사 버그 하나로 관리자 토큰이 여행사 토큰으로
        통용될 수 있지만, 다르면 서명 검증 단계에서 죽는다.

  responses:
    Unauthorized:
      description: 인증 필요/만료 — 쿠키가 없거나 토큰이 유효하지 않다.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidCredentials:
      description: 아이디 없음·비밀번호 불일치·삭제된 여행사(셋을 구분하지 않는다)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVALID_CREDENTIALS
            message: 아이디 또는 비밀번호가 올바르지 않습니다.
    AgencyInactive:
      description: 관리자가 사용 불가로 전환한 여행사(S2-A1 토글)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: AGENCY_INACTIVE
            message: 사용이 중지된 계정입니다. 관리자에게 문의해 주세요.
    InvitationNotFound:
      description: 존재하지 않는 초대 토큰(오타·조작·삭제된 여행사)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVITATION_NOT_FOUND
            message: 유효하지 않은 초대 링크입니다.
    InvitationUnusable:
      description: 만료됐거나 이미 사용됐거나 재발송으로 무효화된 초대
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVITATION_EXPIRED
            message: 초대 링크가 만료되었습니다. 관리자에게 재발송을 요청해 주세요.

  schemas:

    InvitationTokenRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: |
            메일 링크의 `?token=` 값. URL-safe Base64 43자(256비트). 서버는 이 값을
            SHA-256 해시해 저장된 해시와 대조한다 — 원문은 DB에 없다.

    InvitationVerifyResponse:
      type: object
      required: [agencyName, contactEmail, expiresAt]
      properties:
        agencyName:
          type: string
          description: 등록 화면에서 "OO 여행사 계정을 등록합니다" 처럼 확인시키는 용도.
        contactEmail:
          type: string
          format: email
          description: 초대가 나간 주소. 담당자가 자기 링크가 맞는지 확인할 수 있게 한다.
        expiresAt:
          type: string
          format: date-time
          description: 초대 만료 시각(UTC). 화면은 KST로 환산해 보여준다.

    InvitationCompleteRequest:
      type: object
      required: [token, loginId, password, passwordConfirm]
      properties:
        token: { type: string }
        loginId:
          type: string
          pattern: '^[a-z0-9][a-z0-9_-]{3,29}$'
          description: |
            영소문자·숫자·`-`·`_` 조합 4~30자, 첫 글자는 영소문자 또는 숫자.
            전역 유니크(다른 여행사와도 겹칠 수 없다). 관리자 아이디와는 별개 네임스페이스다.
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 64
          description: |
            평문. 서버가 BCrypt로 해시해 저장한다.

            **최대 64자는 장식이 아니다** — BCrypt는 입력을 72바이트에서 조용히 잘라내므로,
            그보다 긴 비밀번호는 앞부분만으로 인증되는 셈이 된다. UTF-8 한글까지 감안해
            64자로 막는다.
        passwordConfirm:
          type: string
          format: password
          description: password 와 같아야 한다. 다르면 400(`fieldErrors[].field = passwordConfirm`).

    AgencyRegisteredResponse:
      type: object
      required: [agencyId, agencyName, loginId]
      description: 등록 결과. 로그인 화면(S2-G2)의 아이디를 미리 채우는 데 쓴다.
      properties:
        agencyId: { type: string }
        agencyName: { type: string }
        loginId: { type: string }

    AgencyLoginRequest:
      type: object
      required: [loginId, password]
      properties:
        loginId: { type: string }
        password: { type: string, format: password }

    AgencySessionResponse:
      type: object
      required: [agencyId, agencyName, accountId, loginId, expiresAt]
      properties:
        agencyId:
          type: string
          description: 여행사 PK(숫자지만 문자열로 직렬화된다).
        agencyName:
          type: string
          description: 헤더에 표시하는 여행사명. 토큰이 아니라 DB에서 매번 읽는다.
        accountId: { type: string }
        loginId: { type: string }
        expiresAt:
          type: string
          format: date-time
          description: 액세스 토큰 만료 시각(UTC). 발급 시점 +4시간.

    AgencyProductList:
      type: object
      required: [useDate, closed, products]
      properties:
        useDate: { type: string, format: date }
        closed:
          type: boolean
          description: 매장 휴무일이면 true. 이때 모든 상품의 `available` 은 0이다.
        products:
          type: array
          items: { $ref: '#/components/schemas/AgencyProduct' }

    AgencyProduct:
      type: object
      required: [productId, assetId, assetName, category, optionType, agencyPrice, available]
      description: 상품 표 한 줄. 화면의 상품명은 `assetName · 옵션 라벨`(예 "전기자전거 · 1일")이다.
      properties:
        productId: { type: string }
        assetId:
          type: string
          description: 연결 자산. 같은 값을 가진 줄끼리 할당을 나눠 쓴다.
        assetName: { type: string }
        category:
          type: string
          enum: [BICYCLE, FISHING_ROD]
        optionType:
          type: string
          enum: [HOURS_2, DAY_1, DAY_2, NIGHT]
        agencyPrice:
          type: integer
          minimum: 0
          description: 여행사가(KRW, 1대 기준).
        available:
          type: integer
          minimum: 0
          description: 이 줄만 담는다고 할 때 예약할 수 있는 최대 수량. 계산식은 `GET /agency/products` 설명 참고.

    AgencyReservationCreateRequest:
      type: object
      required: [useDate, items]
      properties:
        useDate:
          type: string
          format: date
          description: 이용 날짜. 오늘 +3일 ~ +3개월(양 끝 포함).
        items:
          type: array
          minItems: 1
          description: 같은 `productId` 가 두 번 나오면 400 이다.
          items:
            type: object
            required: [productId, quantity]
            properties:
              productId: { type: string }
              quantity:
                type: integer
                minimum: 1

    AgencyReservation:
      type: object
      required: [reservationId, reservationNumber, useDate, productId, assetName, optionType,
                 quantity, unitPrice, amount, status, createdAt]
      properties:
        reservationId: { type: string }
        reservationNumber:
          type: string
          example: AG-26090001
          description: 사람이 보는 예약번호. 형식은 헤더 TODO 8.
        useDate: { type: string, format: date }
        productId: { type: string }
        assetName: { type: string }
        optionType:
          type: string
          enum: [HOURS_2, DAY_1, DAY_2, NIGHT]
        quantity:
          type: integer
          minimum: 1
        unitPrice:
          type: integer
          minimum: 0
          description: 예약 시점의 여행사가(KRW).
        amount:
          type: integer
          minimum: 0
          description: unitPrice × quantity.
        status:
          type: string
          enum: [COMPLETED, CANCELLED]
          description: 여행사 예약은 만들어지는 즉시 COMPLETED. 취소(S2-G6)하면 CANCELLED 다.
        createdAt: { type: string, format: date-time }

    AgencyReservationList:
      type: object
      required: [today, cancelDeadlineDays, reservations]
      description: |
        취소 가능 여부는 줄마다 내려주지 않는다. 화면이 `useDate - today >= cancelDeadlineDays`
        로 판정하고, 최종 판정은 취소 API가 한다(409).
      properties:
        today:
          type: string
          format: date
          description: |
            서버 기준 '오늘'. 취소 가능 판정과 `취소불가(D-n)` 표기의 기준이며, 브라우저
            시계를 쓰면 안 된다(규칙상 '오늘'은 일본 기준 — 헤더 TODO 9).
        cancelDeadlineDays:
          type: integer
          minimum: 0
          description: |
            취소 마감 기준 일수. 기본 3(= D-3)이고 관리자가 조정한다(S1-A10,
            `PUT /admin/settings` 의 `agencyCancelDeadlineDays`).
        reservations:
          type: array
          items: { $ref: '#/components/schemas/AgencyReservation' }

    AgencyInvoice:
      type: object
      required: [period, currency, lineItems, totalAmount]
      description: 월 1건. 저장된 문서가 아니라 예약에서 집계한 값이다(`GET /agency/invoices` 설명 참고).
      properties:
        period:
          type: string
          pattern: '^\d{4}-\d{2}$'
          example: '2026-08'
          description: 대상 월(전월). 서버가 정한다 — 브라우저 시계를 쓰면 월초에 어긋난다.
        currency:
          type: string
          enum: [KRW]
          description: KRW 고정. 세금 라인은 없다.
        lineItems:
          type: array
          description: 이용일 오름차순, 같은 날은 예약번호 오름차순.
          items: { $ref: '#/components/schemas/AgencyInvoiceLineItem' }
        totalAmount:
          type: integer
          minimum: 0
          description: lineItems 의 amount 합. 대상이 없으면 0.

    AgencyInvoiceLineItem:
      type: object
      required: [useDate, reservationNumber, assetName, optionType, quantity, unitPrice, amount]
      description: 완료 예약 1건. 화면의 상품 표기는 `assetName · 옵션 라벨`이다.
      properties:
        useDate: { type: string, format: date }
        reservationNumber: { type: string, example: AG-26080001 }
        assetName: { type: string }
        optionType:
          type: string
          enum: [HOURS_2, DAY_1, DAY_2, NIGHT]
        quantity:
          type: integer
          minimum: 1
        unitPrice:
          type: integer
          minimum: 0
          description: 예약 시점 여행사가 스냅샷(KRW).
        amount:
          type: integer
          minimum: 0
          description: unitPrice × quantity.

    Error:
      type: object
      required: [code, message]
      description: |
        관리자·고객 문서와 같은 평면 구조다(래퍼 없음). `GlobalExceptionHandler` 가
        모든 도메인 예외를 이 모양으로 직렬화한다.
      properties:
        code:
          type: string
          description: |
            도메인 에러 코드.

            초대(S2-G1):
            - `INVITATION_NOT_FOUND` — 존재하지 않는 토큰(삭제된 여행사의 토큰 포함).
            - `INVITATION_EXPIRED` — 발급 후 7일이 지났다.
            - `INVITATION_ALREADY_USED` — 이미 계정 등록에 쓰인 링크다.
            - `INVITATION_REVOKED` — 재발송으로 무효화된 옛 링크다.
            - `AGENCY_ACCOUNT_ALREADY_EXISTS` — 그 여행사에 이미 계정이 있다.
            - `DUPLICATE_LOGIN_ID` — 이미 사용 중인 아이디다.

            인증(S2-G2):
            - `INVALID_CREDENTIALS` — 아이디 없음·비밀번호 불일치·삭제된 여행사.
            - `AGENCY_INACTIVE` — 관리자가 사용 불가로 전환했다.

            상품 조회·예약(S2-G4/G5):
            - `VALIDATION_ERROR` — 형식 오류(날짜 누락·빈 목록·수량 1 미만·같은 상품 중복).
            - `USE_DATE_OUT_OF_RANGE` — 이용 날짜가 오늘 +3일 ~ +3개월 밖이다.
            - `PRODUCT_NOT_FOUND` — 없거나 삭제됐거나 여행사앱 표출이 꺼진 상품이다.
            - `STORE_CLOSED` — 이용 날짜가 매장 휴무일이다.
            - `ALLOCATION_EXCEEDED` — 가용보다 많이 담았다. 메시지에 자산명·날짜·남은 수량이 있다.

            예약 목록·취소(S2-G6):
            - `RESERVATION_NOT_FOUND` — 없는 예약이거나 다른 여행사의 예약이다.
            - `RESERVATION_ALREADY_CANCELLED` — 이미 취소된 예약이다.
            - `CANCEL_DEADLINE_PASSED` — 취소 마감일이 지났다. 메시지에 마감일이 있다.
        message: { type: string }
        fieldErrors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              reason: { type: string }

security:
  - agencyCookieAuth: []
