openapi: 3.1.0

# =============================================================================
# 친구야 — 관리자 대상 Core API 명세 [v0.1]
#
# 2026-09-21 변경(대시보드 S1-A1 — 스펙 선행):
#   1. `GET /admin/dashboard` 신설. 지표 3개·재고 초과 날짜·오늘 방문 예약을 한 번에 준다.
#   2. **지표 3개를 입금 단계로 가른다** — 신규 예약 = 입금대기, 입금확인 요청 = 접수(고객이
#      입금했다고 알린 건), 취소요청 = 미처리 취소 요청. 와이어프레임이 기준을 정하지 않아
#      여기서 정했다. 셋이 겹치지 않고, 입금 기한이 지난 건은 앞의 둘에서 뺀다(미입금 탭 소관).
#   3. **재고 초과 집계를 서버로 옮긴다.** 화면이 자산 목록을 받아 자산×월마다 스냅샷을 부르던
#      것을 한 번의 호출로 바꾼다. 범위도 이번 달·다음 달에서 **오늘 ~ +3개월**로 넓혔다
#      (예약 가능 기간과 같은 범위).
#
# 범위: 관리자 인증(S0-A2 로그인), 관리자 계정 관리(S0-A5/A6), 대시보드(S1-A1), 자산 관리(S1-A2),
#       날짜별 재고 세팅(S1-A3, 여행사 할당 포함),
#       여행사 관리(S2-A1/A2/A3), FAQ·콘텐츠 관리(S4-A1/A3), 예약 관리 목록·상세·
#       입금확인·미입금 강제취소(S1-A6/A7/A8), 취소요청 처리(S1-A9),
#       여행사 인보이스(S2-A5/A6), 공지사항·이벤트 관리(S4-A4).
#
# 2026-09-21 변경(여행사 인보이스 S2-A5/A6 — 스펙 선행):
#   1. `GET /admin/invoices`·`GET /admin/invoices/{invoiceId}`·
#      `POST /admin/invoices/{invoiceId}/settle` 신설.
#   2. 인보이스는 **헤더만 저장**한다(여행사·대상월·발행일·정산일). 라인아이템과 금액은
#      `agency_reservation` 에서 매번 집계한다 — S2-G7 이 이미 쓰는 방식이라 여행사가 보는
#      합계와 관리자가 보는 합계가 구조적으로 같아진다.
#   3. **취소 예약도 인보이스 라인에 넣고, 금액은 취소 수수료로 반영**한다
#      (와이어프레임 a-invoicedetail: "합계 = 완료 예약 금액 합 + 취소 예약의 취소 수수료 합").
#      이 결정에 맞춰 chinguya-agency-api.yaml 의 S2-G7 도 함께 고쳤다 — 예전에는 취소를
#      아예 빼고 줬다. 수수료율은 고객과 공용(`cancellation_policy`)이고, 금액은 **취소
#      시점에 예약 행에 박는 스냅샷**(`agency_reservation.cancel_fee`)이라 요율을 나중에
#      바꿔도 지난 인보이스가 흔들리지 않는다.
#
# 2026-09-21 변경(문의 관리 S4-A2-1/A2-2 — 고객 질문하기 S4-C5 실연동과 함께):
#   1. `GET /admin/inquiries`·`GET /admin/inquiries/{inquiryId}`·`PUT /admin/inquiries/{inquiryId}/answer` 신설.
#   2. 조회는 관리자 누구나, 답변 등록·수정은 슈퍼어드민만(403). 고객 쪽 본인 글 잠금은 관리자에게 적용하지 않는다.
#   3. 답변은 질문당 하나 — 다시 보내면 덮어쓴다(답변 수정). 카카오 알림톡은 첫 등록 때만, 실발송은 이연(로그만).
#
# 2026-09-18 변경(취소요청 처리 S1-A9 — 스펙 선행, 백엔드 미구현):
#   1. `GET /admin/cancellations/{cancellationId}`·`POST /admin/cancellations/{cancellationId}/confirm` 신설.
#      화면 단위 = **고객 취소 요청 1건**(DB `cancellation`). 한 예약에 요청이 여러 건 생길 수 있어서다
#      (완료 예약은 항목을 골라 나눠서 요청할 수 있다).
#   2. 금액은 **고객이 요청한 시점의 견적 스냅샷**(`cancellation_item`)을 그대로 쓴다. 확정 시 다시 계산하지 않는다.
#   3. `AdminBookingSummary`·`AdminBookingDetail`에 `pendingCancellationId` 추가 — 목록·상세에서 S1-A9로 가는 키.
#   4. 탭 `CANCEL_REQUESTED`의 뜻을 바꾼다: 상태가 `CANCEL_REQUESTED`인 예약 → **처리 안 된 취소 요청이 있는 예약**.
#      부분 취소 요청은 예약 상태를 유지하므로(고객 문서 v0.4) 옛 규칙으로는 이 탭에 안 잡혔다.
#      부분 요청 예약은 원래 상태 탭(예: 완료)과 취소요청 탭 **양쪽에** 보인다.
#
#       여행사 **대상** 계약(여행사 담당자가 쓰는 초대 수락·로그인, S2-G1/G2)은
#       chinguya-agency-api.yaml 에 따로 있다. 이 문서는 관리자가 부르는 것만 담는다.
#
# 고객 대상 계약은 chinguya-slice1-openapi.yaml 에 따로 있다. 그 문서는 헤더에서
# 스스로를 '고객 대상 Core API'로 한정하므로 관리자 계약은 이 파일로 분리한다.
#
# x-screens: 각 operation에 이 확장 필드로 **그 엔드포인트를 쓰는 화면코드**를 단다.
#            노션 「페이지 정의서」의 `API 상태` 를 어느 행에 찍을지 이 값으로만 판단한다
#            (주석·summary로 추정하지 않는다 — chinguya-api/CLAUDE.md).
#            값은 와이어프레임 원본 화면코드다. 여러 화면이 쓰면 모두 적고,
#            로그아웃·세션조회처럼 특정 화면에 귀속되지 않는 공통 엔드포인트는 `[]` 다.
#            **새 operation을 추가하면 x-screens도 함께 단다.**
# 아키텍처: 관리자 앱(Next.js)은 자체 Route Handler(BFF)를 거쳐 이 Core API를
#           호출한다. Core가 내려준 JWT를 BFF가 자기 오리진 쿠키로 다시 심는다
#           (Core에는 CORS 설정이 없고 쿠키가 SameSite=Lax라 브라우저 직접 호출 불가).
#
# ⚠ 이 문서는 **구현을 역문서화**한 것이다. 통상은 스펙이 먼저이지만(README 참고),
#   관리자 인증은 백엔드(chinguya-api)에 먼저 구현됐다. 아래 내용은 구현
#   (admin/auth/AdminAuthController.java, security/SecurityConfig.java,
#   security/JwtTokenProvider.java)과 1:1로 맞춰 적었다. 이후 변경은 이 문서를
#   먼저 고치는 정상 순서로 돌아간다.
#
# 미확정(TODO 협의):
#   1. AdminSessionResponse 에 **표시 이름(name) 필드가 없다.** 화면(S0-A2 이후
#      공통 헤더 드로어)은 지금 loginId 만 보여줄 수 있다. 이름을 노출하려면
#      admin_account 에 컬럼 추가 + 이 응답 확장이 필요하다.
#   2. **S0-A1(슈퍼어드민 최초 생성) 플로우가 없다.** 현재는 마이그레이션
#      V3__admin_auth.sql 의 임시 시드 계정으로 대체 중이며, 그 파일 주석도
#      운영 배포 전 교체를 경고하고 있다.
#   3. (해결됨) 관리자 계정 CRUD(S0-A5/A6) API가 생겼다. 단, 토큰이 stateless라 **등급을
#      내리거나 계정을 삭제해도 그 사람이 이미 받은 토큰은 만료(최대 4시간)까지 이전 등급으로
#      동작한다.** 즉시 끊으려면 요청마다 계정을 다시 읽어야 한다 — 아직 하지 않는다.
#   4. 토큰 만료(4시간) 시 UX가 미정 — 자동 갱신(리프레시 토큰)인지 재로그인인지.
#      갱신 엔드포인트는 아직 없다.
#   5. 로그인 실패 횟수 제한·계정 잠금 정책 없음.
#   6. (해결됨) 자산 삭제의 소프트/하드 분기 기준인 '날짜별 재고 레코드' 테이블(S1-A3)이
#      생겼다. `Asset.hasInventoryRecords` 는 이제 실제 재고 레코드(기준 보유량 이력 또는
#      재고 조정) 유무를 반환하고, DELETE 는 그 값에 따라 HARD/SOFT를 실제로 가른다.
#   7. **"예약(reserved)" 수량은 아직 없다.** 고객 예약(S1-A6~A9)이 DB·백엔드 모두
#      미착수라, 날짜별 재고 세팅 API의 `reserved` 필드는 예약 시스템이 생기기 전까지
#      항상 0으로 내려간다 — 그래서 "초과 경고"(A3-M3)용 미리보기 엔드포인트도 항상
#      빈 배열을 반환한다. 예약 시스템이 생기면 서버의 계산 한 곳만 채우면 되고
#      응답 계약은 그대로다.
#   8. (해결됨) 여행사 예약(S2-G4/G5, 여행사 문서)이 생겼다. 여행사 예약 마감(이용일 D-3)이
#      지난 날짜는 "안 팔린 할당은 고객 가용으로 반환" 규칙대로 그 여행사의 실제 예약
#      수량(완료 상태)만 고객 가용에서 빠진다. 응답 계약은 그대로다.
#      ⚠ 할당을 줄이는 쓰기(A3-M4·할당 조정)는 이미 잡힌 여행사 예약보다 적게 줄이는 것을
#      아직 막지 않는다.
#  10. **업로드했지만 저장하지 않은 이미지는 지워지지 않는다**(S4-A3). 화면은 '배너 저장'을
#      누를 때만 올려서 줄이지만, 올린 뒤 저장이 실패하면 파일이 남는다. 정리 작업은 없다.
#  11. **고객·여행사 쪽 공개 조회 API가 아직 없다.** 고객 FAQ(S4-C3)·홈 배너·서비스 소개(S4-C2)와
#      여행사 로그인 배경(S2-G1/G2)은 여전히 목 데이터를 읽는다 — 그래서 여기서 저장해도 아직
#      그 화면들엔 반영되지 않는다. 연결할 때 `/v1` 쪽에 조회 API와 이미지 공개 경로를 만든다.
#  12. **이미지는 EC2 로컬 디스크에 저장한다**(`CONTENT_IMAGE_DIR`). 인스턴스를 새로 만들면
#      사라지고, 서버를 2대 이상으로 늘리면 쓸 수 없다 — 그때는 S3 등으로 옮겨야 한다.
# =============================================================================

info:
  title: 친구야 관리자 Core API
  version: 0.1.0
  description: |
    관리자(A) 앱이 쓰는 Core API 계약. 현재는 인증(S0-A2), 관리자 계정 관리(S0-A5/A6), 자산 관리(S1-A2), 날짜별
    재고 세팅(S1-A3 — 여행사 할당 포함, 구 S2-A4 흡수), 여행사 관리(S2-A1/A2/A3),
    FAQ·콘텐츠 관리(S4-A1/A3)를 정의한다.

    **권한 모델** — 서버가 강제한다(SecurityConfig):
    - `/admin/**` 는 전부 쿠키 인증 필수(로그인 엔드포인트만 예외). 미인증 시 401.
    - 쓰기 메서드(POST·PUT·PATCH·DELETE)는 **SUPER_ADMIN만** 허용. STAFF가 시도하면 403.
    - 조회(GET)는 인증된 관리자면 누구나.

    즉 '일반 관리자는 조회 전용, 쓰기는 슈퍼어드민'(와이어프레임 공통 규칙)은
    프론트 UI가 아니라 **서버가 최종 강제**한다. 프론트의 버튼 숨김은 정합성을
    맞추는 것일 뿐 보안 경계가 아니다.

servers:
  - url: https://api.chinguya.co.kr
    description: 운영(prod)
  - url: http://localhost:8080
    description: 로컬 개발

# ⚠ 고객 문서(slice1)의 서버 URL에는 `/v1` 프리픽스가 붙지만 관리자 컨트롤러에는
#   없다(@RequestMapping("/admin/auth")). 경로를 그대로 복사하지 말 것.

tags:
  - name: admin-auth
    description: 관리자 로그인·로그아웃·세션 조회 (S0-A2)
  - name: admin-account
    description: 관리자 계정 목록·등록·수정(등급·비밀번호)·삭제 (S0-A5/A6)
  - name: admin-asset
    description: 자산(명칭 마스터) 등록·수정·삭제·복원 (S1-A2)
  - name: admin-inventory
    description: 자산별 날짜별 재고 세팅 — 기준 보유량·여행사 할당·재고 조정·매장 휴무 (S1-A3)
  - name: admin-product
    description: 상품(연결 자산 × 대여 옵션) 목록·등록·수정·삭제·표출 토글 (S1-A4/A5)
  - name: admin-agency
    description: 여행사(거래처) 목록·등록(초대)·상세·사용 가능/불가 (S2-A1/A2/A3)
  - name: admin-booking
    description: 고객 예약 관리 — 목록·검색·상세·입금확인·미입금 강제취소 (S1-A6/A7/A8)
  - name: admin-cancellation
    description: 고객 취소요청 처리 — 요청 항목 검토·환불 후 취소 확정 (S1-A9)
  - name: admin-faq
    description: FAQ 등록·수정·삭제·노출 순서 (S4-A1)
  - name: admin-inquiry
    description: 고객 1:1 문의 목록·상세·답변 (S4-A2-1/A2-2)
  - name: admin-content
    description: 랜딩 히어로 배너·서비스 소개 본문·이미지 업로드 (S4-A3)

# -----------------------------------------------------------------------------
paths:

  /admin/auth/login:
    post:
      tags: [admin-auth]
      x-screens: [S0-A2]
      summary: 관리자 로그인 (S0-A2)
      description: |
        아이디·비밀번호로 인증하고 액세스 토큰(JWT)을 **HttpOnly 쿠키로** 발급한다.
        비밀번호는 BCrypt 해시와 대조한다.

        아이디가 없는 경우와 비밀번호가 틀린 경우 모두 **같은 401
        (`INVALID_CREDENTIALS`)** 로 응답한다 — 계정 존재 여부가 새지 않게.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: |
                `admin_access_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=<4시간>`
                `Secure` 는 환경변수(ADMIN_COOKIE_SECURE)로 결정된다 — 운영은 반드시 true.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminSessionResponse' }
        '400':
          description: loginId·password 누락(검증 실패)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/InvalidCredentials'

  /admin/auth/logout:
    post:
      tags: [admin-auth]
      x-screens: []
      summary: 관리자 로그아웃
      description: 액세스 토큰 쿠키를 Max-Age=0 으로 만료시킨다. 서버는 stateless라 토큰 폐기 목록은 두지 않는다.
      responses:
        '204':
          description: 로그아웃 완료
          headers:
            Set-Cookie:
              description: '`admin_access_token=; Max-Age=0` (쿠키 삭제)'
              schema: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/auth/me:
    get:
      tags: [admin-auth]
      x-screens: []
      summary: 현재 로그인 세션 조회
      description: |
        쿠키의 JWT를 검증해 현재 관리자 정보를 돌려준다. 화면 재진입·새로고침 때
        '내가 누구이고 슈퍼어드민인지'를 확인하는 용도.
      responses:
        '200':
          description: 유효한 세션
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminSessionResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/admins:
    get:
      tags: [admin-account]
      x-screens: [S0-A5]
      summary: 관리자 계정 목록 (S0-A5)
      description: |
        삭제되지 않은 계정을 등록 순서대로 돌려준다. 계정 수가 적어 페이지네이션은 없다.
        조회는 STAFF도 할 수 있다(다른 조회 API와 같은 규칙).
      responses:
        '200':
          description: 관리자 계정 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminAccount' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-account]
      x-screens: [S0-A6]
      summary: 관리자 계정 등록 (S0-A6)
      description: |
        비밀번호는 BCrypt 해시로만 저장한다. 아이디는 **삭제된 계정의 것도 다시 쓸 수 없다**
        (소프트 삭제라 행이 남고, 아이디 유니크가 전체 행에 걸려 있다).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminAccountCreateRequest' }
      responses:
        '201':
          description: 등록됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAccount' }
        '400':
          description: 아이디·비밀번호 형식 오류 또는 등급 누락(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateLoginId'

  /admin/admins/{adminId}:
    parameters:
      - name: adminId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-account]
      x-screens: [S0-A6]
      summary: 관리자 계정 수정 (S0-A6)
      description: |
        등급을 바꾸고, `password` 를 보냈을 때만 비밀번호도 바꾼다(생략·null = 그대로).
        아이디는 바꿀 수 없다.

        **마지막 슈퍼어드민은 STAFF로 내릴 수 없다**(409 `LAST_SUPER_ADMIN`) — 쓰기 권한을
        가진 사람이 아무도 남지 않기 때문이다.

        ⚠ 등급을 내려도 그 사람이 이미 받은 토큰은 만료(최대 4시간)까지 이전 등급으로 동작한다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdminAccountUpdateRequest' }
      responses:
        '200':
          description: 수정됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAccount' }
        '400':
          description: 비밀번호 형식 오류 또는 등급 누락(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AdminNotFound'
        '409':
          $ref: '#/components/responses/LastSuperAdmin'

    delete:
      tags: [admin-account]
      x-screens: [S0-A5, S0-A6]
      summary: 관리자 계정 삭제 (S0-A5/A6)
      description: |
        **소프트 삭제**다. 목록에서 빠지고 그 아이디로는 로그인할 수 없다(없는 계정과 같은 401).
        복원 엔드포인트는 없다. 마지막 슈퍼어드민은 삭제할 수 없다(409 `LAST_SUPER_ADMIN`).

        ⚠ 삭제해도 그 사람이 이미 받은 토큰은 만료(최대 4시간)까지 동작한다.
      responses:
        '204':
          description: 삭제됨
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AdminNotFound'
        '409':
          $ref: '#/components/responses/LastSuperAdmin'

  # ---------------------------------------------------------------------------
  # 공지사항·이벤트 관리 (S4-A4)
  #
  # 본문은 **마크다운 이미지 표기만** 해석한다(`![설명](주소)`). 굵게·목록 등 다른 문법은
  # 고객 화면에서 글자 그대로 보인다 — 에디터나 마크다운 렌더러를 새로 붙이지 않고 "글 중간
  # 이미지"만 만족시키는 최소 범위다(2026-09-21 결정).
  #
  # 첨부는 **이미지만**이고 업로드는 기존 콘텐츠 이미지 엔드포인트(`POST /admin/content/images`)를
  # 그대로 쓴다. 이 API 는 그렇게 받은 주소 목록만 저장한다 — 파일 저장소를 새로 만들지 않는다.
  # ---------------------------------------------------------------------------
  /admin/notices:
    get:
      tags: [admin-notice]
      x-screens: [S4-A4]
      summary: 공지사항·이벤트 목록 (S4-A4)
      description: |
        카테고리별 글 목록. 관리자 목록이므로 **숨긴 글도 함께** 준다(`published: false`) —
        화면이 토글로 다시 공개할 수 있어야 하기 때문이다. 고객 목록(`GET /notices`)은 공개 글만 준다.

        정렬은 **고정 글 먼저, 그다음 작성일 내림차순**(같으면 id 내림차순). 고객 화면과 같은 순서다.

        화면이 **무한 스크롤**이라 페이지를 이어 붙인다. 커서가 아니라 page·size 인 것은 예약
        관리 목록(S1-A6)과 같은 방식을 쓰기 위함이다 — 스크롤 중에 글이 새로 올라오면 경계에서
        한 건이 밀릴 수 있지만, 공지 목록은 그럴 일이 드물어 감수한다.
      parameters:
        - name: category
          in: query
          required: false
          schema: { $ref: '#/components/schemas/NoticeCategory' }
          description: 비우면 전체. 화면은 탭에 맞춰 항상 하나를 보낸다.
        - name: page
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: size
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: 글 목록(숨긴 글 포함)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminNoticeListPage' }
        '400':
          description: 카테고리 값이 올바르지 않거나 page·size 범위를 벗어났다(`VALIDATION_ERROR`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
    post:
      tags: [admin-notice]
      x-screens: [S4-A4]
      summary: 공지사항·이벤트 등록 (S4-A4)
      description: |
        새 글을 만든다. 작성일은 **서버가 정한다**(요청에 없다) — 관리자가 날짜를 지정하거나
        고치지 않기로 했다. 슈퍼어드민 전용.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NoticeInput' }
      responses:
        '201':
          description: 등록된 글
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminNoticeDetail' }
        '400':
          $ref: '#/components/responses/InvalidNotice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/notices/{noticeId}:
    parameters:
      - $ref: '#/components/parameters/NoticeIdPath'
    get:
      tags: [admin-notice]
      x-screens: [S4-A4]
      summary: 공지사항·이벤트 상세 (S4-A4)
      description: 수정 폼이 채울 값 전부. 숨긴 글도 볼 수 있다.
      responses:
        '200':
          description: 글 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminNoticeDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NoticeNotFound'
    put:
      tags: [admin-notice]
      x-screens: [S4-A4]
      summary: 공지사항·이벤트 수정 (S4-A4)
      description: |
        보낸 값으로 **통째로 교체**한다(부분 수정이 아니다). 첨부 이미지도 배열을 그대로 덮어쓰므로,
        한 장을 빼려면 나머지만 담아 보낸다. 작성일은 바뀌지 않는다. 슈퍼어드민 전용.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/NoticeInput' }
      responses:
        '200':
          description: 수정된 글
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminNoticeDetail' }
        '400':
          $ref: '#/components/responses/InvalidNotice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NoticeNotFound'
    delete:
      tags: [admin-notice]
      x-screens: [S4-A4]
      summary: 공지사항·이벤트 삭제 (S4-A4)
      description: |
        **완전 삭제**다 — 복원할 수 없다(첨부 이미지 주소도 함께 지운다). 잠시 내리는 용도로는
        삭제가 아니라 `published: false` 를 쓴다.

        ⚠ 올린 **이미지 파일 자체는 서버에 남는다.** 콘텐츠 이미지 저장소에 정리 기능이 없어서다
        (S4-A3 배너도 같다). 고아 파일 정리는 별도 과제로 남겨 둔다. 슈퍼어드민 전용.
      responses:
        '204':
          description: 삭제됨
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NoticeNotFound'

  /admin/dashboard:
    get:
      tags: [admin-dashboard]
      x-screens: [S1-A1]
      summary: 관리자 대시보드 (S1-A1)
      description: |
        로그인 직후 보는 화면의 세 덩어리 — **지표 3개**, **재고 초과 날짜**, **오늘 방문 예약**.

        **'오늘'은 서버가 일본 기준으로 정한다.** 예약 가능 기간·이용일 판정이 전부 JST 라
        (공통 비즈니스 규칙), 브라우저 시계를 쓰면 자정 근처에서 어제·내일 목록을 보게 된다.
        응답의 `today` 를 화면이 그대로 쓴다.

        **지표 3개는 서로 겹치지 않는다** — 입금 단계로 가른다(2026-09-21 결정).
        - `newBookingCount` — **입금대기**(`AWAITING_DEPOSIT`). 고객이 아직 '입금 확인 요청'을
          누르지 않은, 기다리는 건.
        - `depositRequestCount` — **접수**(`RECEIVED`). 고객이 입금했다고 알린 건이라 관리자가
          확인해줘야 한다.
        - `cancelRequestCount` — **처리 안 된 취소 요청**이 있는 예약 수(`pendingCancellationId`
          가 있는 예약). 예약 관리(S1-A6)의 취소요청 탭과 같은 규칙이라 두 숫자가 어긋나지 않는다.

        앞의 두 지표는 **입금 기한(생성 +24시간)이 지난 건을 뺀다.** 기한이 지나면 강제 취소
        대상(미입금)이라 '기다리는 예약'도 '확인해줄 입금'도 아니기 때문이다. 미입금 건은
        예약 관리의 미입금 탭에서 따로 다룬다.

        **`overCapacityDates` = 오늘부터 +3개월** 안에서 다음 둘 중 하나인 날짜다(예약 가능
        기간과 같은 범위 — 예약을 받을 수 있는 날만 본다. 지난 날짜는 손댈 수 없다).
        - 그날 예약 수가 총 보유를 넘은 날(S1-A3 에서 재고를 낮춰 생긴다)
        - 여행사 할당 합이 총 보유를 넘은 날(**할당 초과**)

        여러 자산이 같은 날 초과해도 **날짜는 한 번만** 나오고, 오름차순이다. 화면은 앞의 4개만
        보여주고 나머지는 '외 N건'으로 줄인다. 해소될 때까지 계속 내려간다.
      responses:
        '200':
          description: |
            대시보드 값. 오늘 방문 예약이 없으면 `todayVisits` 가 빈 배열이고, 초과가 없으면
            `overCapacityDates` 가 빈 배열이다(둘 다 404 가 아니다 — 화면이 '0건'·'없습니다'를 쓴다).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminDashboard' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/assets:
    get:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 목록 조회 (S1-A2)
      description: |
        자산 명칭 마스터 목록. 자산은 소수(현재 4종)라 페이지네이션 없이 전량 반환한다.

        정렬은 **활성 자산 먼저, 그 안에서 등록 순(id 오름차순)** 이다. 화면(S1-A2)은
        `deleted` 로 갈라 활성 자산을 위에, 삭제된 자산을 '삭제됨' 섹션으로 아래에 둔다.
      parameters:
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: |
            true 면 소프트 삭제된 자산까지 포함한다. 자산 관리 화면(S1-A2)은 '삭제됨'
            섹션을 그려야 하므로 true 로 부르고, 재고 세팅(S1-A3)의 자산 선택기처럼
            활성 자산만 필요한 곳은 기본값(false)을 쓴다.
      responses:
        '200':
          description: 자산 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Asset' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 등록 (A2-M1)
      description: |
        명칭과 카테고리를 받아 자산을 만든다. 앞뒤 공백은 서버가 제거한다.

        **카테고리는 등록 때만 정한다** — 수정(PUT)에는 없고, 복원은 기존 값을 승계한다.
        연결 상품의 옵션이 카테고리를 따르기 때문에 나중에 바꿀 수 없다(S1-A2).

        중복 검사는 **활성 자산끼리만** 한다 — 소프트 삭제된 자산의 명칭은 재사용할 수
        있어서, 같은 이름이 목록에 둘 보일 수 있다(하나는 '삭제됨'). 카테고리가 달라도
        명칭이 같으면 중복이다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetCreateRequest' }
      responses:
        '201':
          description: 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락/공백만 입력, 또는 category 누락·허용값 아님
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateAssetName'

  /admin/assets/{assetId}:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
        description: 자산 PK(숫자지만 문자열로 직렬화된다).

    put:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 명칭 수정 (A2-M2)
      description: |
        명칭만 바꾼다. **카테고리는 여기서 바꿀 수 없다** — 등록 때 정한 값이 그대로
        간다(A2-M2에서 읽기 전용). **삭제됨 상태의 자산은 수정할 수 없다**(409 `ASSET_DELETED`) —
        되살리려면 복원 엔드포인트를 쓴다. 중복 검사는 등록과 같이 활성 자산끼리만 하며,
        자기 자신은 비교에서 제외한다(값을 바꾸지 않고 저장해도 409가 아니다).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetNameRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락 또는 공백만 입력
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있음
            / `ASSET_DELETED` — 삭제된 자산은 수정 불가
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 삭제 (A2-M3)
      description: |
        **연결 상품이 1개라도 있으면 삭제할 수 없다**(409 `ASSET_HAS_PRODUCTS`, CASE 0) —
        상품을 먼저 지워야 한다. 상품이 연결 자산의 재고를 쓰기 때문이다.

        연결 상품이 없으면 **재고 레코드 유무로 처리가 갈린다** — 0건이면 완전 삭제(hard),
        1건 이상이면 소프트 삭제. 어느 쪽이 일어났는지 응답의 `deletion` 으로 알려준다
        (화면은 이 값으로 토스트 문구를 고른다).

        삭제 확인 모달의 문구 분기(CASE 0 / CASE 1 / CASE 2)는 목록 응답의
        `productCount` 와 `hasInventoryRecords` 를 보고 **삭제를 부르기 전에** 정한다.

      responses:
        '200':
          description: 삭제 완료. 어떤 방식으로 지워졌는지 반환한다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetDeleteResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `ASSET_HAS_PRODUCTS` — 연결 상품이 있어 삭제 불가(CASE 0, 상품 먼저 삭제)
            / `ASSET_ALREADY_DELETED` — 이미 소프트 삭제된 자산
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/assets/{assetId}/restore:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }

    post:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 복원 (A2-M4)
      description: |
        소프트 삭제된 자산을 다시 활성으로 되돌린다. **id가 그대로라 과거 재고·예약
        이력과 카테고리를 그대로 승계**한다(요청 본문에 카테고리가 없는 이유).

        명칭은 요청 본문으로 받는다 — 삭제된 명칭은 재사용 가능해서 그 사이 같은
        이름의 활성 자산이 생겼을 수 있고, 그때는 409 `DUPLICATE_ASSET_NAME` 로
        **명칭 변경을 요구**한다(A2-M4 모달의 입력 항목이 명칭인 이유).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetNameRequest' }
      responses:
        '200':
          description: 복원 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락 또는 공백만 입력
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있음(명칭 변경 필요)
            / `ASSET_NOT_DELETED` — 삭제 상태가 아니라 복원할 게 없음
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/inventory/assets/{assetId}/snapshot:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 월간 재고 스냅샷 (달력, S1-A3)
      description: |
        그 달 전체 일자의 계산된 스냅샷을 한 번에 돌려준다 — 달력이 이 배열 하나로
        잔여/고객 가용 색상과 재고 조정 있는 날 점 표시를 그린다.

        그날 총 보유 = 그 날짜의 기준 보유량 + 그 날짜에 걸리는 **보유** 조정 delta 합계
        (0 미만 불가). 그날 여행사 할당 = 여행사마다 (기준 할당 + 그 여행사 할당 조정 합)을
        더한 값이고, `customerAvailable` = max(`totalStock` − `allocated`, 0).
        여행사가 없거나 할당이 없으면 `customerAvailable` = `totalStock`.

        ⚠ `reserved` 는 예약 백엔드가 생기기 전까지 항상 0이다(헤더 TODO 7).
      parameters:
        - name: year
          in: query
          required: true
          schema: { type: integer }
        - name: month
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 12 }
      responses:
        '200':
          description: 그 달 일자별 스냅샷 배열
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InventoryDaySnapshot' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/days/{date}:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
      - name: date
        in: path
        required: true
        schema: { type: string, format: date }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 선택일 상세 (S1-A3)
      description: 달력에서 날짜를 탭했을 때 하단 상세 패널(기준 보유량 · 이 날 조정 N줄 · 총 보유 · 여행사 할당 · 고객 가용 · 예약 · 잔여 · 매장 휴무)이 쓰는 값.
      responses:
        '200':
          description: 선택일 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryDayDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/baseline/current:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 현재(오늘 기준) 기준 보유량
      responses:
        '200':
          description: 기준 보유량
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BaselineResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/baseline:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 기준 보유량 변경 (A3-M1)
      description: |
        구매·처분처럼 **영구적인 변화**를 적용 시작일과 함께 기록한다(이력 누적, 덮어쓰지
        않음). 그 시작일 이전 날짜의 총 보유·이미 걸린 재고 조정에는 영향을 주지 않는다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BaselineChangeRequest' }
      responses:
        '200':
          description: 변경 후 현재 기준 보유량
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BaselineResponse' }
        '400':
          description: value·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/allocations/current:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 현재(오늘 기준) 여행사별 기준 할당
      description: |
        삭제되지 않은 여행사 전부를 등록 순으로 돌려준다(할당이 없으면 `value` 0).
        기준 카드는 `value` > 0 인 여행사만 보여 주고, A3-M4 모달은 이 목록 전체를
        여행사 선택지로 쓴다.
      responses:
        '200':
          description: 여행사별 현재 기준 할당
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AgencyAllocation' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/allocations:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 여행사 기준 할당 변경 (A3-M4)
      description: |
        기준 보유량 변경(A3-M1)과 같은 방식 — 계약 변경 같은 **영구적인 변화**를 적용
        시작일과 함께 이력으로 쌓는다(덮어쓰지 않음). 시작일 이전 날짜와 이미 걸린 할당
        조정에는 영향을 주지 않는다. `value` 0 이면 그날부터 할당 해제.

        **할당 합 > 총 보유가 되는 날이 생기면 저장하지 않고 409** 를 돌려준다. 검사
        범위는 여행사가 예약할 수 있는 날짜(오늘 +3일 이후)부터 시작일 기준 3개월이다 —
        마감(D-3)이 지난 날짜의 할당은 어차피 고객 가용으로 반환되므로 검사하지 않는다.
        이미 할당 초과인 날(보유가 줄어 생긴 경우)에서 할당을 **줄이는** 변경은 막지 않는다 —
        그래야 초과를 푸는 수정이 가능하다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllocationChangeRequest' }
      responses:
        '200':
          description: 변경 후 여행사별 현재 기준 할당(목록 조회와 같은 모양)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AgencyAllocation' }
        '400':
          description: agencyId·value·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 존재하지 않는 자산(`ASSET_NOT_FOUND`) 또는 존재하지 않거나 삭제된 여행사(`AGENCY_NOT_FOUND`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'

  /admin/inventory/assets/{assetId}/adjustments:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 추가 (A3-M2)
      description: |
        수리·임시 임차 등 **일시적인 증감**(±N)을 기간(+요일 지정)과 함께 기록한다.
        같은 날짜에 여러 조정이 걸리면 전부 합산된다. 저장 전에 초과 여부를 먼저
        확인하려면 `/preview` 를 먼저 부른다(A3-M3).

        **대상**은 `agencyId` 로 가른다 — null이면 **보유** 조정(총 보유 증감), 값이
        있으면 그 여행사의 **할당** 조정(그 여행사 할당만 증감). 할당 조정으로
        할당 합 > 총 보유가 되는 날이 생기면 저장하지 않고 409(검사 범위는 A3-M4와 같다).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '201':
          description: 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryAdjustment' }
        '400':
          description: delta·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 존재하지 않는 자산(`ASSET_NOT_FOUND`) 또는 존재하지 않거나 삭제된 여행사(`AGENCY_NOT_FOUND`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'

  /admin/inventory/assets/{assetId}/adjustments/preview:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 추가 시 초과 미리보기 (A3-M3)
      description: |
        아무것도 저장하지 않는 계산 전용 엔드포인트 — 그래서 SUPER_ADMIN이 아니어도
        (조회 권한만 있어도) 부를 수 있다. 이 조정을 실제로 적용했을 때 다음 중 하나가
        되는 날짜를 돌려준다:
        - **예약 초과** — 고객 예약 > 고객 가용(총 보유 − 할당).
        - **할당 초과** — 여행사 할당 합 > 총 보유(`allocated` > `totalStockAfter`).

        보유 조정(`agencyId` null)은 두 경우 모두 경고 후 저장을 허용한다. 할당 조정은
        할당 초과가 있으면 실제 저장이 409로 막히므로, 화면은 이 결과로 미리 막는다.

        ⚠ `reserved` 가 항상 0인 동안(헤더 TODO 7)은 예약 초과는 나오지 않고 할당 초과만 나온다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 초과가 발생하는 날짜 목록(없으면 빈 배열)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/OverCapacityDate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/adjustments/{adjustmentId}:
    parameters:
      - name: adjustmentId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 수정 (A3-M2)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryAdjustment' }
        '400':
          description: delta·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 존재하지 않는 재고 조정(`ADJUSTMENT_NOT_FOUND`) 또는 존재하지 않거나 삭제된 여행사(`AGENCY_NOT_FOUND`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'
    delete:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 해제 (A3-M2)
      description: |
        마이너스 **할당** 조정을 해제하면 그 여행사 할당이 다시 늘어난다 — 그 때문에 할당 합 >
        총 보유가 되는 날이 생기면 해제하지 않고 409(추가·수정과 같은 검사).
      responses:
        '204':
          description: 해제 완료
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AdjustmentNotFound'
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'

  /admin/inventory/adjustments/{adjustmentId}/preview:
    parameters:
      - name: adjustmentId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 수정 시 초과 미리보기 (A3-M3)
      description: |
        수정 중인 조정 자신은 계산에서 빼고(중복 반영 방지) 새 값을 얹어 미리 계산한다.
        조회 전용이라 SUPER_ADMIN이 아니어도 부를 수 있다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 초과가 발생하는 날짜 목록(없으면 빈 배열)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/OverCapacityDate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AdjustmentNotFound'

  /admin/inventory/closures/{date}:
    parameters:
      - name: date
        in: path
        required: true
        schema: { type: string, format: date }
    put:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 매장 휴무 토글 (전 자산 공통)
      description: 이 날짜는 모든 자산이 함께 쉰다 — 수량은 보존되고 판매만 차단된다. 자산 하나만 중단하려면 재고 조정으로 수량 0을 만든다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClosureRequest' }
      responses:
        '200':
          description: 반영 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClosureResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ---------------------------------------------------------------------------
  # 여행사 관리 (S2-A1/A2/A3)
  #
  # 여행사와 그 로그인 계정은 별개의 생애주기를 가진다: 관리자가 여행사를 등록하면
  # 초대 메일만 나가고, 담당자가 링크로 아이디·비밀번호를 직접 정할 때 비로소 계정이
  # 생긴다(S2-G1). 그래서 이 문서에는 계정 생성 API가 없다 — 그건 여행사 대상 계약
  # (chinguya-agency-api.yaml)에 있다. 여기서 관리자가 하는 일은 여행사 마스터 관리와
  # **초대 발송**뿐이다.
  # ---------------------------------------------------------------------------

  /admin/products:
    get:
      tags: [admin-product]
      x-screens: [S1-A4]
      summary: 상품 목록 조회 (S1-A4)
      description: |
        상품 목록. 상품 수가 `활성 자산 × 옵션` 정도라 페이지네이션 없이 전량 반환한다
        (자산·여행사 목록과 같은 컨벤션).

        화면(S1-A4)은 **카테고리 탭 → 연결 자산별 묶음** 으로 그린다. 정렬은 그 구조에
        맞춰 **카테고리 · 자산 등록순 · 옵션순** 이고, 각 항목이 `assetId`·`assetName`·
        `category` 를 함께 들고 있어 클라이언트가 따로 자산을 조회하지 않아도 묶을 수 있다.
      parameters:
        - name: category
          in: query
          required: false
          schema: { $ref: '#/components/schemas/AssetCategory' }
          description: 카테고리 탭(자전거/낚싯대) 필터. 연결 자산의 카테고리 기준이다.
        - name: assetId
          in: query
          required: false
          schema: { type: string }
          description: 특정 자산의 상품만. 자산 삭제 전 연결 상품을 확인할 때 쓴다.
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: |
            true 면 소프트 삭제된 상품까지 포함한다. 화면은 삭제된 상품을 보여주지
            않으므로 기본값(false)을 쓴다.
      responses:
        '200':
          description: 상품 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Product' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-product]
      x-screens: [S1-A5]
      summary: 상품 등록 (S1-A5)
      description: |
        상품 = **연결 자산 1개 + 대여 옵션 1개**. 자산 1개에 상품이 여러 개 달릴 수 있다
        (예: 전기자전거 → 1일 · 2일 · 야간).

        **연결 자산과 옵션은 등록 때만 정한다** — 수정(PUT)에서 바꾸려 하면 400
        `PRODUCT_OPTION_IMMUTABLE` 이다.

        제약:
        - 연결 자산은 **활성 자산만** 고를 수 있다(삭제된 자산이면 409 `ASSET_DELETED`).
        - 옵션은 **연결 자산의 카테고리에 맞는 것만** — 자전거 = `HOURS_2`/`DAY_1`/`DAY_2`/`NIGHT`,
          낚싯대 = `DAY_1`/`DAY_2`. 어긋나면 400 `INVALID_OPTION_FOR_CATEGORY`.
        - 같은 자산 × 같은 옵션의 **활성 상품은 1개만** (409 `DUPLICATE_PRODUCT_OPTION`).
          삭제된 조합은 재등록할 수 있다.
        - 타지역 반납 추가요금은 **2일(`DAY_2`) 상품에만** 둘 수 있다(자전거·낚싯대 모두).
          그 외 옵션에 값을 주면 400 `INVALID_CROSS_REGION_COMBO`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductCreateRequest' }
      responses:
        '201':
          description: 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '400':
          description: |
            `VALIDATION_ERROR` — 필수값 누락·형식 오류
            / `INVALID_OPTION_FOR_CATEGORY` — 연결 자산 카테고리에 없는 옵션
            / `INVALID_CROSS_REGION_COMBO` — 2일 상품이 아닌데 타지역 반납 추가요금을 줌
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `DUPLICATE_PRODUCT_OPTION` — 같은 자산·옵션의 활성 상품이 이미 있음
            / `ASSET_DELETED` — 삭제된 자산에는 상품을 달 수 없음
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/products/{productId}:
    parameters:
      - name: productId
        in: path
        required: true
        schema: { type: string }
        description: 상품 PK(숫자지만 문자열로 직렬화된다).

    get:
      tags: [admin-product]
      x-screens: [S1-A5]
      summary: 상품 상세 조회 (S1-A5)
      description: 수정 화면이 기존 값을 채우려고 부른다. 삭제된 상품도 조회된다.
      responses:
        '200':
          description: 상품 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/ProductNotFound'

    put:
      tags: [admin-product]
      x-screens: [S1-A5]
      summary: 상품 수정 (S1-A5)
      description: |
        가격·표출·타지역 반납 추가요금·설명·이미지를 바꾼다. **연결 자산과 옵션은 바꿀 수
        없다** — 요청 본문에 아예 없고, 화면에서도 읽기 전용이다.

        **삭제된 상품은 수정할 수 없다**(409 `PRODUCT_DELETED`).

        이미지는 **통째로 교체**한다(부분 수정 없음) — 보낸 배열이 그대로 새 목록이 된다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductUpdateRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '400':
          description: '`VALIDATION_ERROR` / `INVALID_CROSS_REGION_COMBO`'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ProductNotFound'
        '409':
          description: '`PRODUCT_DELETED` — 삭제된 상품은 수정 불가'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      tags: [admin-product]
      x-screens: [S1-A5]
      summary: 상품 삭제 (A5-M1)
      description: |
        **소프트 삭제만** 한다 — 예약 이력이 상품을 참조하므로 행을 지우지 않는다.
        목록에서는 기본적으로 빠지고(`includeDeleted=false`), 같은 자산·옵션 조합을
        다시 등록할 수 있게 된다.

        자산 삭제와 달리 **복원 API는 없다**(운영 정책).
      responses:
        '204':
          description: 삭제 완료
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ProductNotFound'
        '409':
          description: '`PRODUCT_ALREADY_DELETED` — 이미 삭제된 상품'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/products/{productId}/visibility:
    parameters:
      - name: productId
        in: path
        required: true
        schema: { type: string }

    patch:
      tags: [admin-product]
      x-screens: [S1-A4]
      summary: 상품 표출 토글 (S1-A4)
      description: |
        상품 목록(S1-A4)의 **고객앱 / 여행사앱 표출 토글** 전용이다. 둘은 서로 독립이라
        한쪽만 보내도 된다(보내지 않은 쪽은 그대로 둔다). 둘 다 비면 400이다.

        상품 전체를 저장하지 않고 토글만 하려고 PUT 과 분리했다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProductVisibilityRequest' }
      responses:
        '200':
          description: 변경 후 상품
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Product' }
        '400':
          description: '`VALIDATION_ERROR` — customerVisible/agencyVisible 이 둘 다 비었음'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ProductNotFound'
        '409':
          description: '`PRODUCT_DELETED` — 삭제된 상품은 표출 변경 불가'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/bookings:
    get:
      tags: [admin-booking]
      x-screens: [S1-A6]
      summary: 예약 관리 목록 (S1-A6)
      description: |
        고객 예약(고객 문서 `Booking`)을 **탭별**로 조회·검색한다. 여행사 예약(S2-G4/G5)은
        포함하지 않는다. 관리자 목록 중 유일하게 페이지네이션한다(페이지정의서 S1-A6).

        **탭 규칙** — 예약 상태(`BookingStatus`)와 입금 기한(`depositDueBy`)으로 가른다.
        - `RECEIVED`(접수): 상태가 `AWAITING_DEPOSIT`(입금대기) 또는 `RECEIVED`(접수)이고
          입금 기한이 **아직 안 지난** 예약. 입금대기는 별도 탭 없이 카드의 상태 태그로 구분한다.
        - `UNPAID`(미입금): 상태가 `AWAITING_DEPOSIT`·`RECEIVED`인데 입금 기한(생성+24시간)이
          **지난** 예약. 저장된 상태값이 아니라 계산 결과다 — 응답의 `unpaid`가 true.
          강제 취소(S1-A8) 대상이다.
        - `COMPLETED` / `CANCELLED`: 상태가 그 값인 예약.
        - `CANCEL_REQUESTED`(취소요청): **처리 안 된 취소 요청이 있는 예약**(`pendingCancellationId`가
          null이 아님). 전체 취소 요청(상태 `CANCEL_REQUESTED`)과 부분 취소 요청(상태 유지)을 모두 잡는다.
          그래서 부분 요청 예약은 원래 상태 탭과 이 탭 양쪽에 보인다.
        - 부분취소는 탭이 아니라 `partiallyCancelled` 뱃지다(유효 항목 기준 상태의 탭에 잡힌다).

        **검색** — `keyword`가 예약번호 또는 여권 영문명에 포함(대소문자 무시)되는 예약만.
        앞뒤 공백은 무시하고, 비었으면 검색하지 않는다.

        정렬은 **최근 예약 먼저**(생성 시각 내림차순, 같으면 id 내림차순).
      parameters:
        - name: tab
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/AdminBookingTab'
        - name: keyword
          in: query
          required: false
          schema: { type: string }
          description: 예약번호·여권 영문명 부분 일치(대소문자 무시).
        - name: page
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: size
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: 예약 목록
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminBookingListPage' }
        '400':
          description: 탭 값이 올바르지 않거나 page·size 범위를 벗어났다(`VALIDATION_ERROR`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/bookings/{bookingId}:
    parameters:
      - $ref: '#/components/parameters/BookingIdPath'
    get:
      tags: [admin-booking]
      x-screens: [S1-A7]
      summary: 예약 상세 (S1-A7)
      description: |
        예약번호·고객·여권명과 **항목 리스트**(취소 항목 포함)를 반환한다. 조회 전용이며
        상태 변경은 입금확인(S1-A8) 엔드포인트로 한다. 화면은 `depositConfirmable`·
        `forceCancellable`로 버튼 노출을 가른다.
      responses:
        '200':
          description: 예약 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminBookingDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/BookingNotFound'

  /admin/bookings/{bookingId}/deposit-confirm:
    parameters:
      - $ref: '#/components/parameters/BookingIdPath'
    post:
      tags: [admin-booking]
      x-screens: [S1-A8]
      summary: 입금 확인 → 완료 처리 (S1-A8)
      description: |
        입금대기(`AWAITING_DEPOSIT`) 또는 접수(`RECEIVED`) 예약을 **완료(`COMPLETED`)**로 바꾼다.
        고객이 '입금 확인 요청'을 누르기 전에 입금이 들어온 경우, 입금 기한이 지나
        '미입금'으로 표시된 뒤 늦게 입금된 경우에도 완료 처리할 수 있다.
        그 외 상태면 409 `INVALID_BOOKING_STATUS`. 슈퍼어드민 전용.
      responses:
        '200':
          description: 완료 처리된 예약
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminBookingDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/BookingNotFound'
        '409':
          $ref: '#/components/responses/InvalidBookingStatus'

  /admin/bookings/{bookingId}/force-cancel:
    parameters:
      - $ref: '#/components/parameters/BookingIdPath'
    post:
      tags: [admin-booking]
      x-screens: [S1-A8]
      summary: 미입금 강제 취소 (S1-A8)
      description: |
        **미입금** 예약(입금대기·접수인데 입금 기한 = 생성+24시간이 지남)을 **예약 전체 단위**로
        취소한다. 입금 전이므로 부분취소는 없다.
        - 예약 상태 → `CANCELLED`, 유효 항목 → `CANCELLED`.
        - 그 항목들의 날짜별 점유를 지워 **재고를 즉시 복원**한다.
        미입금이 아니면 409 `INVALID_BOOKING_STATUS`. 슈퍼어드민 전용.
      responses:
        '200':
          description: 강제 취소된 예약
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminBookingDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/BookingNotFound'
        '409':
          $ref: '#/components/responses/InvalidBookingStatus'

  /admin/cancellations/{cancellationId}:
    parameters:
      - $ref: '#/components/parameters/CancellationIdPath'
    get:
      tags: [admin-cancellation]
      x-screens: [S1-A9]
      summary: 취소 요청 상세 (S1-A9)
      description: |
        고객 취소 요청 1건과 그 예약의 **항목 전체**를 반환한다. 진입 키는 목록·상세의
        `pendingCancellationId`다.

        - 항목 중 이 요청에 담긴 것은 `requested=true`이고 요율·수수료·환불 예정액이 채워진다.
          나머지 항목(유지·이전에 취소됨·다른 요청에 담김)은 `requested=false`, 금액 필드는 null —
          화면에서 흐리게 표시한다.
        - 금액은 **고객 요청 시점의 스냅샷**이다(`requestedAt` 기준 D-day). 조회할 때마다 다시
          계산하지 않으므로, 처리가 늦어져도 고객이 본 금액과 같다.
        - 이미 처리한 요청도 조회된다(`processedAt`이 채워지고 `confirmable=false`).
      responses:
        '200':
          description: 취소 요청 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCancellationDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/CancellationNotFound'

  /admin/cancellations/{cancellationId}/confirm:
    parameters:
      - $ref: '#/components/parameters/CancellationIdPath'
    post:
      tags: [admin-cancellation]
      x-screens: [S1-A9]
      summary: 요청 항목 취소 확정 — 환불 완료 (S1-A9 · A9-M1)
      description: |
        관리자가 고객 계좌로 **수동 이체를 마친 뒤** 요청 항목을 취소로 확정한다. 슈퍼어드민 전용.
        A9-M1의 '환불 처리 했음' 입력은 화면 쪽 확인 절차라 서버로 보내지 않는다(요청 본문 없음).

        한 트랜잭션으로:
        1. 요청에 담긴 항목 `CANCEL_REQUESTED` → `CANCELLED`. 항목의 `refundAmount`·`cancelledAt`을
           채운다(고객 문서 `BookingItem`에 그대로 보인다).
        2. 그 항목들의 날짜별 점유를 지워 **요청 항목·날짜의 재고만** 즉시 복원한다.
        3. 요청의 `processedAt` = 지금.
        4. 예약 상태: 유효(`ACTIVE`)·취소요청 항목이 하나도 안 남으면 `CANCELLED`, 아니면 그대로 둔다.
           유효 항목이 남아 있으면 `partiallyCancelled=true`(부분취소 뱃지).

        이미 처리한 요청이면 409 `CANCELLATION_ALREADY_PROCESSED`.
      responses:
        '200':
          description: 확정된 취소 요청(`processedAt` 채워짐, 항목 상태 반영)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminCancellationDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/CancellationNotFound'
        '409':
          description: 이미 확정한 취소 요청(`CANCELLATION_ALREADY_PROCESSED`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/agencies:
    get:
      tags: [admin-agency]
      x-screens: [S2-A1]
      summary: 여행사 목록 조회 (S2-A1)
      description: |
        여행사(거래처) 목록. 자산과 마찬가지로 소수라 페이지네이션 없이 전량 반환한다.

        정렬은 **활성 여행사 먼저, 그 안에서 등록 순(id 오름차순)** 이다.
      parameters:
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: true 면 소프트 삭제된 여행사까지 포함한다.
      responses:
        '200':
          description: 여행사 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Agency' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-agency]
      x-screens: [S2-A2]
      summary: 여행사 등록 + 초대 메일 발송 (S2-A2)
      description: |
        여행사를 만들고 담당자 이메일로 **계정 등록 초대 링크**를 보낸다. 두 일이 한
        요청인 이유는 화면(S2-A2)의 CTA가 '가입 링크 이메일 발송' 하나이기 때문이다.

        초대 링크는 여행사 웹앱의 `/login?token=…` 을 가리키며 **유효기간 7일·1회용**이다.
        토큰 원문은 서버에 저장되지 않는다(SHA-256 해시만) — 그래서 발송에 실패하면
        같은 링크를 다시 얻을 수 없고, 재발송(`POST /admin/agencies/{agencyId}/invitations`)
        으로 새 토큰을 끊어야 한다.

        **메일 발송 실패는 5xx가 아니다.** 여행사 행과 초대 행은 커밋되고 응답의
        `invitation.sent` 가 false로 내려온다 — SMTP가 죽었다고 등록 자체를 되돌리면
        관리자가 '등록이 된 건가'를 추론해야 하기 때문이다. 화면은 이 필드로 토스트를
        가르고 재발송을 안내한다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyCreateRequest' }
      responses:
        '201':
          description: 등록 완료(메일 발송 성공 여부는 `invitation.sent` 로 판단)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyCreateResponse' }
        '400':
          description: 필수값 누락 또는 이메일 형식 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateAgencyName'

  /admin/agencies/{agencyId}:
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }
        description: 여행사 PK(숫자지만 문자열로 직렬화된다).

    get:
      tags: [admin-agency]
      x-screens: [S2-A3]
      summary: 여행사 상세 조회 (S2-A3)
      responses:
        '200':
          description: 여행사 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agency' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AgencyNotFound'

    put:
      tags: [admin-agency]
      x-screens: [S2-A3]
      summary: 여행사 정보 수정 (S2-A3)
      description: |
        명칭·담당자·연락처·이메일을 바꾼다. 사용 가능/불가는 여기가 아니라 전용
        엔드포인트(`PATCH .../active`)로 다룬다 — 목록 화면의 토글이 다른 필드를
        모르는 채로 부를 수 있어야 하기 때문이다.

        **담당자 이메일을 바꿔도 초대 메일이 자동으로 나가지 않는다.** 재발송은
        명시적 행위여야 하므로 별도 엔드포인트를 쓴다.

        삭제된 여행사는 수정할 수 없다(409 `AGENCY_DELETED`).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyUpdateRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agency' }
        '400':
          description: 필수값 누락 또는 이메일 형식 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          $ref: '#/components/responses/DuplicateAgencyName'

    delete:
      tags: [admin-agency]
      x-screens: [S2-A1]
      summary: 여행사 삭제 (S2-A1)
      description: |
        **항상 소프트 삭제**다. 자산(S1-A2)처럼 하드/소프트를 가르지 않는 이유는,
        여행사가 곧 할당(S2-A4)·예약(S2-G4~G6)·인보이스(S2-A5)에서 참조되기 때문이다 —
        지난달 인보이스가 여행사 이름을 잃으면 안 된다.

        복원 엔드포인트는 없다. 삭제된 여행사는 목록·상세·로그인에서 모두 빠지며,
        그 계정으로는 로그인할 수 없다(계정이 없는 것과 같은 401로 응답한다).
      responses:
        '204':
          description: 삭제 완료
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          description: 이미 삭제된 여행사
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_ALREADY_DELETED
                message: 이미 삭제된 여행사입니다.

  /admin/agencies/{agencyId}/active:
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }

    patch:
      tags: [admin-agency]
      x-screens: [S2-A1]
      summary: 사용 가능/불가 토글 (S2-A1)
      description: |
        `active=false` 로 바꾸면 그 여행사 계정의 **로그인·예약이 차단**된다.

        ⚠ 액세스 토큰은 stateless(JWT)라 이미 발급된 토큰이 이 시점에 무효화되지는
        않는다. 대신 여행사 앱이 화면 이동마다 부르는 `GET /v1/agency/auth/me` 가
        매번 `active` 를 다시 읽어 403(`AGENCY_INACTIVE`)을 낸다 — 실질적으로는
        한 번의 화면 이동 안에 튕긴다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyActiveRequest' }
      responses:
        '200':
          description: 반영 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agency' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          description: 삭제된 여행사는 상태를 바꿀 수 없다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_DELETED
                message: 삭제된 여행사는 수정할 수 없습니다.

  /admin/agencies/{agencyId}/invitations:
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }

    post:
      tags: [admin-agency]
      x-screens: [S2-A3]
      summary: 초대 메일 재발송 (S2-A3)
      description: |
        새 토큰을 끊어 담당자 이메일로 다시 보낸다. **이전에 보낸 초대 링크는 이 순간
        무효가 된다** — 여행사당 살아 있는 초대는 최대 1건이다.

        이미 계정 등록을 마친 여행사에는 보낼 수 없다(409
        `AGENCY_ACCOUNT_ALREADY_EXISTS`). 페이지정의서의 '이미 계정 있으면 발송 생략'은
        이 1:1 모델에서 **그 여행사의 계정이 이미 있을 때**를 뜻하며, 신규 등록 시점에는
        참이 될 수 없으므로 실질적으로 이 엔드포인트에서만 발동한다. 관리자가 명시적으로
        요청한 행위이므로 조용히 생략하지 않고 409로 알린다.

        메일 발송 실패는 등록과 같이 `sent: false` 로 보고한다(5xx 아님).
      responses:
        '200':
          description: 재발송 처리 완료(성공 여부는 `sent` 로 판단)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyInvitationResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          description: 이미 계정이 등록됐거나 삭제된 여행사
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_ACCOUNT_ALREADY_EXISTS
                message: 이미 계정이 등록된 여행사입니다.

  /admin/faqs:
    get:
      tags: [admin-faq]
      x-screens: [S4-A1]
      summary: FAQ 목록 (S4-A1)
      description: |
        노출 순서(`displayOrder`) 오름차순. 분류·검색이 없는 화면이라 페이지네이션·필터도 없다.
      responses:
        '200':
          description: FAQ 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Faq' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-faq]
      x-screens: [S4-A1]
      summary: FAQ 등록 (S4-A1)
      description: 새 항목은 **맨 뒤**에 붙는다. 질문·답변 앞뒤 공백은 서버가 제거한다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FaqRequest' }
      responses:
        '201':
          description: 등록됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Faq' }
        '400':
          description: 질문·답변 누락 또는 길이 초과(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/faqs/{faqId}:
    parameters:
      - name: faqId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-faq]
      x-screens: [S4-A1]
      summary: FAQ 수정 (S4-A1)
      description: 질문·답변만 바꾼다. 노출 순서는 `PUT /admin/faqs/order` 로 바꾼다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FaqRequest' }
      responses:
        '200':
          description: 수정됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Faq' }
        '400':
          description: 질문·답변 누락 또는 길이 초과(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/FaqNotFound'

    delete:
      tags: [admin-faq]
      x-screens: [S4-A1]
      summary: FAQ 삭제 (S4-A1)
      description: 완전 삭제다(복원 없음). 남은 항목의 순서는 그대로 유지된다.
      responses:
        '204':
          description: 삭제됨
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/FaqNotFound'

  /admin/faqs/order:
    put:
      tags: [admin-faq]
      x-screens: [S4-A1]
      summary: FAQ 노출 순서 변경 (S4-A1)
      description: |
        **전체 FAQ id를 원하는 순서대로** 보낸다. 서버는 받은 순서대로 1부터 다시 매기고
        새 목록을 돌려준다.

        보낸 id 묶음이 현재 FAQ 전체와 정확히 같아야 한다(빠짐·추가·중복 없음). 다르면
        그 사이 다른 관리자가 등록·삭제한 것이므로 409 `FAQ_ORDER_MISMATCH` — 화면은
        목록을 새로 불러와야 한다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/FaqOrderRequest' }
      responses:
        '200':
          description: 순서가 바뀐 FAQ 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Faq' }
        '400':
          description: faqIds 누락(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: 보낸 id 묶음이 현재 FAQ 전체와 다르다
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: FAQ_ORDER_MISMATCH
                message: FAQ 목록이 바뀌었습니다. 새로고침 후 다시 시도해 주세요.

  /admin/inquiries:
    get:
      tags: [admin-inquiry]
      x-screens: [S4-A2-1]
      summary: 문의 목록 (S4-A2-1)
      description: 모든 고객 문의를 최신순으로. 페이지네이션 없음. 없으면 빈 배열.
      responses:
        '200':
          description: 문의 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AdminInquiry' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/inquiries/{inquiryId}:
    parameters:
      - name: inquiryId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inquiry]
      x-screens: [S4-A2-2]
      summary: 문의 상세 (S4-A2-2)
      responses:
        '200':
          description: 문의 본문과 답변
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminInquiry' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/InquiryNotFound'

  /admin/inquiries/{inquiryId}/answer:
    parameters:
      - name: inquiryId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-inquiry]
      x-screens: [S4-A2-2]
      summary: 답변 등록·수정 (S4-A2-2)
      description: |
        답변은 질문당 하나다. 이미 있으면 덮어쓰고 `answeredAt`을 새로 찍는다. 앞뒤 공백은 서버가 제거한다.
        고객 카카오 알림톡은 **첫 등록 때만** 보낸다(수정 시엔 보내지 않음). 실발송은 이연 — 지금은 서버 로그만 남긴다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InquiryAnswerRequest' }
      responses:
        '200':
          description: 답변이 반영된 문의
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminInquiry' }
        '400':
          description: 답변 누락 또는 길이 초과(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InquiryNotFound'

  /admin/content/banners:
    get:
      tags: [admin-content]
      x-screens: [S4-A3]
      summary: 랜딩 히어로 배너 조회 (S4-A3)
      description: 배너는 **3장 고정**이다. `slot` 1·2·3 순서로 돌려준다.
      responses:
        '200':
          description: 배너 3장
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/HeroBanner' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [admin-content]
      x-screens: [S4-A3]
      summary: 랜딩 히어로 배너 저장 (S4-A3)
      description: |
        3장을 **통째로** 저장한다(화면의 '배너 저장' 버튼 하나가 3장을 다 저장한다).
        `slot` 1·2·3이 하나씩 있어야 한다 — 아니면 400 `INVALID_BANNERS`.

        새 이미지는 먼저 `POST /admin/content/images` 로 올리고, 받은 `imageUrl` 을
        여기 `pcImageUrl`·`mobileImageUrl` 에 넣는다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/HeroBannersUpdateRequest' }
      responses:
        '200':
          description: 저장된 배너 3장
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/HeroBanner' }
        '400':
          description: 필수값 누락·형식 오류(`VALIDATION_ERROR`) 또는 slot 구성 오류(`INVALID_BANNERS`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: INVALID_BANNERS
                message: 배너 1·2·3이 하나씩 있어야 합니다.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/content/intro:
    get:
      tags: [admin-content]
      x-screens: [S4-A3]
      summary: 서비스 소개 본문 조회 (S4-A3)
      responses:
        '200':
          description: 서비스 소개(S4-C2) 본문
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceIntro' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [admin-content]
      x-screens: [S4-A3]
      summary: 서비스 소개 본문 저장 (S4-A3)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ServiceIntro' }
      responses:
        '200':
          description: 저장된 본문
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ServiceIntro' }
        '400':
          description: 본문 누락 또는 길이 초과(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/content/images:
    post:
      tags: [admin-content]
      x-screens: [S4-A3]
      summary: 콘텐츠 이미지 업로드 (S4-A3)
      description: |
        이미지 한 장을 서버 디스크에 저장하고 주소(`imageUrl`)를 돌려준다. 이것만으로는
        배너가 바뀌지 않는다 — `PUT /admin/content/banners` 로 저장해야 반영된다.

        - 허용 형식: PNG · JPG · WEBP. 확장자가 아니라 **파일 내용**으로 판정한다.
        - 최대 10MB.
        - `imageUrl` 은 `/content/images/{fileName}` 형태다. Core의 네임스페이스
          프리픽스 뒤에 붙는 경로라, 관리자는 `/admin` + `imageUrl` 로 읽는다.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        '201':
          description: 저장됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ContentImageUploadResult' }
        '400':
          description: 파일 누락(`VALIDATION_ERROR`) 또는 허용하지 않는 형식(`INVALID_IMAGE`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: INVALID_IMAGE
                message: PNG·JPG·WEBP 이미지만 올릴 수 있습니다.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '413':
          description: 10MB 초과
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: IMAGE_TOO_LARGE
                message: 이미지는 10MB까지 올릴 수 있습니다.

  /admin/content/images/{fileName}:
    get:
      tags: [admin-content]
      x-screens: [S4-A3]
      summary: 업로드한 콘텐츠 이미지 보기 (S4-A3)
      description: 관리자 화면의 현재 이미지 미리보기용. 파일명은 업로드 응답의 것만 유효하다.
      parameters:
        - name: fileName
          in: path
          required: true
          schema: { type: string, example: 3f1c2a9e-8d7b-4c6a-9e1f-2b3c4d5e6f70.png }
      responses:
        '200':
          description: 이미지
          content:
            image/png: {}
            image/jpeg: {}
            image/webp: {}
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: 없는 파일
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: CONTENT_IMAGE_NOT_FOUND
                message: 이미지를 찾을 수 없습니다.

  # ---------------------------------------------------------------------------
  # 여행사 인보이스 (S2-A5/A6)
  #
  # 인보이스는 **헤더만 저장한다**(`invoice` 테이블 = 여행사·대상월·발행일·정산일).
  # 라인아이템과 금액은 저장하지 않고 `agency_reservation` 에서 매번 집계한다 —
  # 여행사 인보이스(S2-G7)가 이미 쓰는 방식이라 두 화면의 합계가 구조적으로 같아진다.
  # 값이 흔들리지 않는 근거는 취소 마감이 D-3 이라는 점이다. 발행일(매월 1일)에는
  # 전월 이용일 예약이 전부 취소 불가라 집계 결과가 더는 변하지 않는다.
  #
  # 발행은 **자동·멱등**이다. 수동 등록 버튼이 없고(와이어프레임 a-invoice),
  # 목록을 조회할 때 발행 시점이 지난 달의 헤더가 없으면 그 자리에서 만든다.
  # 배치 스케줄러가 없어서 택한 방식이라, 나중에 배치가 생기면 같은 멱등 로직을 부른다.
  # ---------------------------------------------------------------------------
  /admin/invoices:
    get:
      tags: [admin-invoice]
      x-screens: [S2-A5]
      summary: 인보이스 목록 (S2-A5)
      description: |
        여행사·월별 인보이스를 **전량** 반환한다(관리자 목록의 기본 관례 — 페이지네이션은
        S1-A6 예약 관리에만 있다). 여행사 수 × 운영 개월 수라 증가가 완만하다.

        응답은 두 덩어리다.
        - `invoices` — **이미 발행된** 인보이스. 최근 월 먼저, 같은 월이면 여행사명 순.
          호출 시점에 발행 시점(대상월 다음 달 1일)이 지난 달의 헤더가 없으면 **여기서
          만들어 넣는다**(멱등). 그래서 배치 없이도 목록이 스스로 최신이 된다.
        - `pending` — **아직 발행 전인 이번 달** 사용액. 사용 가능 여행사마다 1건이고,
          발행되지 않았으므로 `issuedAt`·정산 상태가 없다. 와이어프레임의 '예정' 태그다.

        대상 월(`period`)·이번 달 판단은 **서버가 한다**. 브라우저 시계를 쓰면 월초에
        하루 어긋난다(S2-G7 과 같은 이유).
      parameters:
        - name: agencyId
          in: query
          required: false
          schema: { type: string }
          description: |
            특정 여행사만. 비우면 전체다. 없는 여행사 id 면 빈 목록(404 아님) —
            화면의 필터가 삭제된 여행사를 들고 있을 수 있어서다.
      responses:
        '200':
          description: 인보이스 목록
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminInvoiceList' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/invoices/{invoiceId}:
    parameters:
      - $ref: '#/components/parameters/InvoiceIdPath'
    get:
      tags: [admin-invoice]
      x-screens: [S2-A6]
      summary: 인보이스 상세 (S2-A6)
      description: |
        발행된 인보이스 1건의 라인아이템과 합계를 반환한다. **발행 전(`pending`) 건에는
        id 가 없으므로 이 엔드포인트로 들어올 수 없다** — 목록의 '예정' 카드는 링크가 아니다.

        라인아이템 = 그 달에 **이용일**이 든 **완료·취소** 예약 1건. 여행사 인보이스(S2-G7)와
        같은 집계라 두 화면의 합계가 항상 일치한다.

        화면은 `settleable` 로 '입금 확인' 버튼 노출을 가른다(S1-A7 의 `depositConfirmable`
        과 같은 관례 — 상태값을 화면이 해석하지 않는다).
      responses:
        '200':
          description: 인보이스 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminInvoiceDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/InvoiceNotFound'

  /admin/invoices/{invoiceId}/settle:
    parameters:
      - $ref: '#/components/parameters/InvoiceIdPath'
    post:
      tags: [admin-invoice]
      x-screens: [S2-A6]
      summary: 입금(정산) 확인 (S2-A6)
      description: |
        인보이스를 **정산 완료**로 바꾼다. 실제 입금은 시스템 밖에서 받으므로, 이 호출은
        "돈이 들어온 걸 확인했다"는 관리자의 선언이다. 되돌리는 엔드포인트는 없다
        (필요해지면 그때 만든다 — 취소요청 확정 S1-A9 와 같은 판단).

        이미 정산된 건이면 409 `INVOICE_ALREADY_SETTLED`. 조건부 UPDATE 로 막으므로
        두 관리자가 동시에 눌러도 한 번만 성공한다. 슈퍼어드민 전용.
      responses:
        '200':
          description: 정산 처리된 인보이스
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminInvoiceDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/InvoiceNotFound'
        '409':
          description: 이미 정산 완료된 인보이스(`INVOICE_ALREADY_SETTLED`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

# -----------------------------------------------------------------------------
components:

  securitySchemes:
    adminCookieAuth:
      type: apiKey
      in: cookie
      name: admin_access_token
      description: |
        관리자 액세스 토큰(JWT). 클레임 = adminId·loginId·role, 유효 **4시간**.

        ⚠ 고객 문서(chinguya-slice1-openapi.yaml)의 `cookieAuth` 와 **다른 쿠키다**.
        고객은 `access_token`(30분), 관리자는 `admin_access_token`(4시간).
        미들웨어·BFF가 쿠키 이름을 혼동하면 인증이 조용히 어긋난다.

  parameters:
    BookingIdPath:
      name: bookingId
      in: path
      required: true
      schema: { type: string }
    CancellationIdPath:
      name: cancellationId
      in: path
      required: true
      schema: { type: string }
    InvoiceIdPath:
      name: invoiceId
      in: path
      required: true
      schema: { type: string }
    NoticeIdPath:
      name: noticeId
      in: path
      required: true
      schema: { type: string }

  responses:
    AdminNotFound:
      description: 존재하지 않거나 삭제된 관리자 계정
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ADMIN_NOT_FOUND
            message: 관리자 계정을 찾을 수 없습니다.
    DuplicateLoginId:
      description: 같은 아이디의 계정이 이미 있음(삭제된 계정 포함)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: DUPLICATE_LOGIN_ID
            message: 이미 사용 중인 아이디입니다.
    LastSuperAdmin:
      description: 마지막 슈퍼어드민을 STAFF로 내리거나 삭제하려 했다
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: LAST_SUPER_ADMIN
            message: 슈퍼어드민이 최소 1명은 있어야 합니다.
    Unauthorized:
      description: 인증 필요/만료 — 쿠키가 없거나 토큰이 유효하지 않다.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidCredentials:
      description: 아이디 또는 비밀번호 불일치
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVALID_CREDENTIALS
            message: 아이디 또는 비밀번호가 올바르지 않습니다.
    Forbidden:
      description: 권한 부족 — STAFF가 쓰기 메서드를 시도한 경우.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    BookingNotFound:
      description: 존재하지 않는 예약(`BOOKING_NOT_FOUND`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidBookingStatus:
      description: 지금 상태에서는 할 수 없는 처리(`INVALID_BOOKING_STATUS`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    CancellationNotFound:
      description: 존재하지 않는 취소 요청(`CANCELLATION_NOT_FOUND`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvoiceNotFound:
      description: 존재하지 않는 인보이스(`INVOICE_NOT_FOUND`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NoticeNotFound:
      description: 존재하지 않는 글(`NOTICE_NOT_FOUND`).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidNotice:
      description: |
        입력이 규칙에 맞지 않다(`VALIDATION_ERROR`). 제목·본문이 비었거나 길이를 넘었을 때,
        공지사항인데 이벤트 기간을 보냈을 때, 종료일만 보냈을 때, 시작일 > 종료일일 때,
        첨부가 5장을 넘을 때다.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    AssetNotFound:
      description: 존재하지 않는 자산
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ASSET_NOT_FOUND
            message: 자산을 찾을 수 없습니다.
    DuplicateAssetName:
      description: 같은 명칭의 **활성** 자산이 이미 있음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: DUPLICATE_ASSET_NAME
            message: 이미 사용 중인 자산 명칭입니다.
    ProductNotFound:
      description: 존재하지 않는 상품
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: PRODUCT_NOT_FOUND
            message: 상품을 찾을 수 없습니다.
    AdjustmentNotFound:
      description: 존재하지 않는 재고 조정
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ADJUSTMENT_NOT_FOUND
            message: 재고 조정을 찾을 수 없습니다.
    AllocationExceedsStock:
      description: 여행사 할당 합이 총 보유를 넘는 날짜가 생겨 저장하지 않았다(A3-M4·할당 조정).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ALLOCATION_EXCEEDS_STOCK
            message: '여행사 할당 합이 총 보유를 넘는 날짜가 있습니다: 2027-07-20(할당 4 / 총 보유 3)'
    AgencyNotFound:
      description: 존재하지 않거나 삭제된 여행사
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: AGENCY_NOT_FOUND
            message: 여행사를 찾을 수 없습니다.
    DuplicateAgencyName:
      description: 같은 명칭의 **활성** 여행사가 이미 있음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: DUPLICATE_AGENCY_NAME
            message: 이미 사용 중인 여행사 명칭입니다.
    InquiryNotFound:
      description: 존재하지 않는 문의
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INQUIRY_NOT_FOUND
            message: 문의를 찾을 수 없습니다.
    FaqNotFound:
      description: 존재하지 않는 FAQ
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: FAQ_NOT_FOUND
            message: FAQ를 찾을 수 없습니다.

  schemas:

    AdminRole:
      type: string
      enum: [SUPER_ADMIN, STAFF]
      description: |
        관리자 등급.
        - `SUPER_ADMIN` — 전체 권한. 쓰기 가능.
        - `STAFF` — 일반 관리자. **조회 전용**(접객용).

    LoginRequest:
      type: object
      required: [loginId, password]
      properties:
        loginId:
          type: string
          description: 관리자 아이디. admin_account.login_id 와 대조(고유).
        password:
          type: string
          format: password
          description: 평문 비밀번호. 서버가 BCrypt 해시와 대조한다.

    AdminSessionResponse:
      type: object
      required: [adminId, loginId, role, expiresAt]
      properties:
        adminId:
          type: string
          description: 관리자 PK(숫자지만 문자열로 직렬화된다).
        loginId: { type: string }
        role: { $ref: '#/components/schemas/AdminRole' }
        expiresAt:
          type: string
          format: date-time
          description: 액세스 토큰 만료 시각(UTC). 발급 시점 +4시간.

    AdminAccount:
      type: object
      required: [adminId, loginId, role]
      description: 관리자 계정 한 건(S0-A5/A6). 비밀번호는 내려주지 않는다.
      properties:
        adminId:
          type: string
          description: 관리자 PK(숫자지만 문자열로 직렬화된다). AdminSessionResponse.adminId 와 같은 값.
        loginId: { type: string }
        role: { $ref: '#/components/schemas/AdminRole' }

    AdminAccountCreateRequest:
      type: object
      required: [loginId, password, role]
      properties:
        loginId:
          type: string
          pattern: '^[A-Za-z0-9._-]{4,50}$'
          description: 영문·숫자·`.`·`_`·`-` 4~50자. 등록 후 바꿀 수 없다.
        password:
          type: string
          format: password
          pattern: '^[\x21-\x7E]{8,72}$'
          description: 공백 없는 영문·숫자·기호 8~72자(BCrypt가 72바이트까지만 쓴다). 서버는 해시만 저장한다.
        role: { $ref: '#/components/schemas/AdminRole' }

    AdminAccountUpdateRequest:
      type: object
      required: [role]
      properties:
        role: { $ref: '#/components/schemas/AdminRole' }
        password:
          type: [string, 'null']
          format: password
          pattern: '^[\x21-\x7E]{8,72}$'
          description: 새 비밀번호. 생략하거나 null이면 기존 비밀번호를 유지한다.

    Asset:
      type: object
      required: [assetId, name, category, deleted, hasInventoryRecords, productCount, createdAt, updatedAt]
      description: |
        대여 자산의 **명칭·카테고리 마스터**(S1-A2). 자산은 이 둘만 가진다 — 보유
        대수는 전부 재고 세팅(S1-A3)이 `자산 × 날짜` 단위로 관리하므로 이 스키마에
        수량 필드는 없다. 사유(수리/입고/외부임대)도 관리하지 않는다.
      properties:
        assetId:
          type: string
          description: 자산 PK(숫자지만 문자열로 직렬화된다).
        name: { type: string }
        category:
          allOf:
            - $ref: '#/components/schemas/AssetCategory'
          description: |
            등록 때 정해지고 이후 바뀌지 않는다. 복원해도 그대로 승계한다.
        deleted:
          type: boolean
          description: |
            소프트 삭제 여부. true 면 화면 하단 '삭제됨' 섹션에 놓고 수정은 막되
            복원은 허용한다. 재고 세팅의 자산 선택기에서도 제외한다.
        hasInventoryRecords:
          type: boolean
          description: |
            이 자산을 참조하는 **날짜별 재고 레코드(기준 보유량 이력 또는 재고 조정)가
            1건 이상** 있는지. 삭제 모달의 문구·처리 분기(CASE 1 완전 삭제 / CASE 2
            소프트 삭제)를 삭제를 부르기 전에 정하기 위한 값이다.
        productCount:
          type: integer
          description: |
            이 자산에 연결된 **삭제되지 않은 상품 수**. 자산 카드에 '연결 상품 N개'로
            표시하고(S1-A2), 1 이상이면 삭제 모달이 **CASE 0**(삭제 불가, 상품 먼저
            삭제) 문구로 간다 — 삭제를 부르기 전에 정하기 위한 값이다.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt:
          type: [string, 'null']
          format: date-time
          description: 소프트 삭제 시각. `deleted` 가 false 면 null.

    AssetCategory:
      type: string
      enum: [BICYCLE, FISHING_ROD]
      description: |
        자산의 상위 분류 — 자전거 / 낚싯대. 기획서에 고정된 두 값이며 관리자가 늘릴 수
        없다(S1-A2). 고객앱 카테고리 칩(S1-C1)과 관리자 상품 목록 탭(S1-A4)이 이 값을
        기준으로 갈리고, 상품의 선택 가능 옵션도 여기서 정해진다
        (자전거 = 2시간/1일/2일/야간, 낚싯대 = 1일/2일).

        고객 Core API의 `ProductCategory`(chinguya-slice1-openapi.yaml)와 **같은 값**이다.

    AssetCreateRequest:
      type: object
      required: [name, category]
      description: |
        자산 등록(A2-M1) 요청 본문. 카테고리를 받는 건 등록뿐이라 수정·복원과 스키마를
        나눴다.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 60
          description: 자산 명칭. 서버가 앞뒤 공백을 제거한 뒤 저장·중복검사한다.
        category:
          $ref: '#/components/schemas/AssetCategory'

    AssetNameRequest:
      type: object
      required: [name]
      description: |
        자산 명칭 수정(A2-M2)·복원(A2-M4)이 공유하는 요청 본문. 두 경우 모두 입력 항목이
        명칭 하나뿐이다 — 카테고리는 등록 때만 정하고 여기서는 바꿀 수 없다.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 60
          description: 자산 명칭. 서버가 앞뒤 공백을 제거한 뒤 저장·중복검사한다.

    AssetDeleteResult:
      type: object
      required: [deletion]
      properties:
        deletion:
          type: string
          enum: [HARD, SOFT]
          description: |
            - `HARD` — 재고 레코드가 없어 행을 완전히 지웠다. 목록에서 사라진다.
            - `SOFT` — 재고 레코드가 있어 `deleted_at` 만 찍었다. '삭제됨'으로 남고 복원 가능.

    InventoryDaySnapshot:
      type: object
      required: [date, baseline, totalStock, allocated, customerAvailable, closed, reserved, remaining, hasAdjustment]
      description: 달력 한 칸(하루)의 계산된 스냅샷(S1-A3). 월간 조회가 이 배열을 한 번에 돌려준다.
      properties:
        date: { type: string, format: date }
        baseline:
          type: integer
          description: 그 날짜에 적용되던 기준 보유량(오늘 기준 최신값이 아니라 "그날" 기준).
        totalStock:
          type: integer
          description: 그날 총 보유 = 기준 보유량 + 그날 걸리는 보유 조정 delta 합계(0 미만 불가).
        allocated:
          type: integer
          description: |
            그날 여행사 할당 합(고객 가용에서 빠지는 양). 여행사마다 기준 할당 + 그 여행사
            할당 조정 합(0 미만 불가)을 더한다. 여행사 예약 마감(이용일 D-3)이 지난 날짜는
            안 팔린 할당이 반환되므로 여행사 예약 수만 남는다(헤더 TODO 8).
        customerAvailable:
          type: integer
          description: max(totalStock − allocated, 0). 할당 합이 총 보유를 넘는 날(할당 초과)은 0.
        closed:
          type: boolean
          description: 매장 휴무(전 자산 공통) 여부.
        reserved:
          type: integer
          description: |
            고객 예약 확정 수량. ⚠ 예약 백엔드가 없어 헤더 TODO 7이 해소되기 전까지 항상 0.
        remaining:
          type: integer
          description: customerAvailable − reserved. 마이너스면 재고 초과.
        hasAdjustment:
          type: boolean
          description: 이 날짜에 걸리는 재고 조정(보유·할당)이 1건 이상 있는지(달력 점 표시용).

    InventoryDayDetail:
      type: object
      required: [date, baseline, totalStock, allocated, allocationReleased, customerAvailable, closed, reserved, remaining, allocations, adjustments]
      description: 선택일 상세(S1-A3) — 하단 패널이 이 값으로 그린다.
      properties:
        date: { type: string, format: date }
        baseline: { type: integer }
        totalStock: { type: integer }
        allocated:
          type: integer
          description: 고객 가용에서 빠지는 여행사 할당 합(InventoryDaySnapshot.allocated 와 같은 값).
        allocationReleased:
          type: boolean
          description: |
            여행사 예약 마감(이용일 D-3)이 지나 안 팔린 할당이 고객 가용으로 반환된 날짜인지.
            true면 `allocations[].allocated` 는 설정값 그대로이고 `allocated` 에는 여행사 예약 수만 남는다.
        customerAvailable: { type: integer }
        closed: { type: boolean }
        reserved: { type: integer }
        remaining: { type: integer }
        allocations:
          type: array
          description: 그날 할당이 있거나 할당 조정이 걸린 여행사별 줄(여행사 등록 순).
          items: { $ref: '#/components/schemas/AgencyAllocationLine' }
        adjustments:
          type: array
          description: 그날 걸리는 조정 전부 — 보유 조정과 할당 조정이 섞여 있고 `agencyId` 로 구분한다.
          items: { $ref: '#/components/schemas/InventoryAdjustment' }

    AgencyAllocationLine:
      type: object
      required: [agencyId, agencyName, baseline, allocated]
      description: 선택일 상세의 여행사 한 줄.
      properties:
        agencyId: { type: string }
        agencyName: { type: string }
        baseline:
          type: integer
          description: 그 날짜에 적용되던 그 여행사의 기준 할당.
        allocated:
          type: integer
          description: 기준 할당 + 그 여행사 할당 조정 합(0 미만 불가). 삭제된 여행사는 삭제일부터 0.

    AgencyAllocation:
      type: object
      required: [agencyId, agencyName, value]
      description: 여행사의 "지금"(오늘 기준) 기준 할당.
      properties:
        agencyId: { type: string }
        agencyName: { type: string }
        value: { type: integer }

    AllocationChangeRequest:
      type: object
      required: [agencyId, value, startDate]
      description: 여행사 기준 할당 변경 요청(A3-M4).
      properties:
        agencyId: { type: string }
        value: { type: integer, minimum: 0 }
        startDate: { type: string, format: date }
        memo: { type: string, maxLength: 200 }

    InventoryAdjustment:
      type: object
      required: [id, assetId, agencyId, agencyName, tag, delta, startDate, weekdays, memo, createdAt]
      description: 자산의 일시적 재고 증감 1건(A3-M2, 수리·임차 등). 대상이 여행사면 그 여행사 할당만 증감한다.
      properties:
        id: { type: string }
        assetId: { type: string }
        agencyId:
          type: [string, 'null']
          description: null이면 보유 조정, 값이 있으면 그 여행사의 할당 조정.
        agencyName:
          type: [string, 'null']
          description: 할당 조정의 대상 여행사명(삭제된 여행사도 이름은 남는다). 보유 조정이면 null.
        tag:
          type: string
          description: 화면·안내메일 표시용 자유 라벨(예 "임차"/"수리"). 코드값이 아니다.
        delta: { type: integer, description: 증감량(양수/음수). }
        startDate: { type: string, format: date }
        endDate:
          type: [string, 'null']
          format: date
          description: null이면 "종료일 미정"(진행 중) — 복귀일이 정해지면 수정으로 채운다.
        weekdays:
          type: array
          items: { type: integer, minimum: 0, maximum: 6 }
          description: 특정 요일에만 반복 적용(0=일~6=토). 빈 배열이면 기간 내 모든 날짜.
        memo: { type: string }
        createdAt: { type: string, format: date-time }

    AdjustmentRequest:
      type: object
      required: [delta, startDate]
      description: 재고 조정 추가·수정(A3-M2)과 초과 미리보기가 공유하는 요청 본문.
      properties:
        agencyId:
          type: [string, 'null']
          description: 대상. null(또는 생략)이면 보유 조정, 값이 있으면 그 여행사의 할당 조정.
        tag: { type: string, maxLength: 60 }
        delta: { type: integer, description: 0이 아닌 증감량. }
        startDate: { type: string, format: date }
        endDate:
          type: [string, 'null']
          format: date
          description: null이면 종료일 미정.
        weekdays:
          type: [array, 'null']
          items: { type: integer, minimum: 0, maximum: 6 }
        memo: { type: string, maxLength: 200 }

    BaselineChangeRequest:
      type: object
      required: [value, startDate]
      description: 기준 보유량 변경 요청(A3-M1). 구매·처분처럼 영구적인 변화라 적용 시작일을 함께 받는다.
      properties:
        value: { type: integer, minimum: 0 }
        startDate: { type: string, format: date }
        memo: { type: string, maxLength: 200 }

    BaselineResponse:
      type: object
      required: [value]
      properties:
        value:
          type: integer
          description: 자산의 "지금"(오늘 날짜 기준) 기준 보유량.

    OverCapacityDate:
      type: object
      required: [date, reserved, totalStockAfter, allocated]
      description: |
        재고 조정을 실제로 적용하면 예약 초과(고객 예약 > 총 보유 − 할당) 또는 할당 초과
        (할당 합 > 총 보유)가 되는 날짜(A3-M3 초과 경고).
        ⚠ reserved가 항상 0인 동안(헤더 TODO 7)은 할당 초과만 나온다.
      properties:
        date: { type: string, format: date }
        reserved: { type: integer }
        totalStockAfter: { type: integer }
        allocated:
          type: integer
          description: 적용 후 그날 여행사 할당 합. totalStockAfter보다 크면 할당 초과.

    ClosureRequest:
      type: object
      required: [closed]
      description: 매장 휴무 토글 요청 — 전 자산 공통(자산별이 아니다).
      properties:
        closed: { type: boolean }

    ClosureResponse:
      type: object
      required: [date, closed]
      properties:
        date: { type: string, format: date }
        closed: { type: boolean }

    RentalOptionType:
      type: string
      enum: [HOURS_2, DAY_1, DAY_2, NIGHT]
      description: |
        대여 옵션 — 2시간 / 1일 / 2일 / 야간. 고객 Core API 의 동명 스키마와 같은 값이다.

        **선택 가능한 옵션은 연결 자산의 카테고리가 정한다**:
        자전거 = `HOURS_2`·`DAY_1`·`DAY_2`·`NIGHT`, 낚싯대 = `DAY_1`·`DAY_2`.

    Product:
      type: object
      required:
        [productId, assetId, assetName, category, optionType, displayName,
         customerPrice, agencyPrice, customerVisible, agencyVisible, imageUrls,
         deleted, createdAt, updatedAt]
      description: |
        상품 하나 = **연결 자산 1개 + 대여 옵션 1개**(S1-A5). 옵션마다 가격·사진·설명이
        달라서 자산 하나에 옵션 배열을 중첩시키지 않고 조합마다 독립된 상품으로 둔다.

        수량은 이 스키마에 없다 — 예약은 **연결 자산의 재고**(S1-A3)를 쓰고, 같은 자산의
        상품끼리 재고와 여행사 할당을 함께 사용한다.
      properties:
        productId:
          type: string
          description: 상품 PK(숫자지만 문자열로 직렬화된다).
        assetId:
          type: string
          description: 연결 자산 PK. **등록 때만 정해지고 이후 바뀌지 않는다.**
        assetName:
          type: string
          description: 연결 자산의 명칭. 목록(S1-A4)이 자산별로 묶을 때 소제목으로 쓴다.
        category:
          allOf:
            - $ref: '#/components/schemas/AssetCategory'
          description: 연결 자산의 카테고리. 상품이 따로 갖는 값이 아니라 자산에서 따라온다.
        optionType:
          allOf:
            - $ref: '#/components/schemas/RentalOptionType'
          description: 대여 옵션. **등록 때만 정해지고 이후 바뀌지 않는다.**
        displayName:
          type: string
          description: |
            화면에 쓰는 상품명 — **`자산명 · 옵션`** 형태로 서버가 만들어 준다
            (예: `전기자전거 · 2일`). 별도 입력 항목이 아니다(S1-A5).
        customerPrice:
          type: integer
          description: 고객가(KRW, 원 정수).
        agencyPrice:
          type: integer
          description: 여행사 정산가(KRW). **고객앱에는 절대 노출하지 않는다.**
        customerVisible:
          type: boolean
          description: 고객앱 목록 노출 여부. 상품을 지우지 않고 숨기는 토글(S1-A4).
        agencyVisible:
          type: boolean
          description: 여행사앱 목록 노출 여부. customerVisible 과 독립이다.
        crossRegionReturnExtraFee:
          type: [integer, 'null']
          description: |
            타지역 반납 추가요금(KRW). **2일(`DAY_2`) 상품에만** 값이 있고 그 외에는 null 이다.
        description:
          type: [string, 'null']
          description: 상세 설명. 없으면 null.
        imageUrls:
          type: array
          items: { type: string }
          description: 상품 이미지 URL. 배열 순서가 곧 표시 순서이고 **0번이 대표 이미지**다.
        deleted:
          type: boolean
          description: 소프트 삭제 여부. 자산과 달리 복원 API가 없다.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt:
          type: [string, 'null']
          format: date-time
          description: 소프트 삭제 시각. `deleted` 가 false 면 null.

    ProductCreateRequest:
      type: object
      required: [assetId, optionType, customerPrice, agencyPrice, customerVisible, agencyVisible]
      description: |
        상품 등록(S1-A5) 요청 본문. `assetId`·`optionType` 을 받는 건 등록뿐이라
        수정과 스키마를 나눴다.
      properties:
        assetId:
          type: string
          description: 연결 자산 PK. **활성 자산만** 고를 수 있다.
        optionType:
          allOf:
            - $ref: '#/components/schemas/RentalOptionType'
          description: 연결 자산의 카테고리가 허용하는 옵션이어야 한다.
        customerPrice: { type: integer, minimum: 0 }
        agencyPrice: { type: integer, minimum: 0 }
        customerVisible: { type: boolean }
        agencyVisible: { type: boolean }
        crossRegionReturnExtraFee:
          type: [integer, 'null']
          minimum: 0
          description: 2일(`DAY_2`) 상품에만 허용. 그 외 옵션에 값을 주면 400이다.
        description:
          type: [string, 'null']
        imageUrls:
          type: array
          items: { type: string }
          description: 생략하면 이미지 없음. 빈 배열은 400이다(생략과 구분).

    ProductUpdateRequest:
      type: object
      required: [customerPrice, agencyPrice, customerVisible, agencyVisible]
      description: |
        상품 수정(S1-A5) 요청 본문. **연결 자산·옵션이 없다** — 등록 때 정한 값이 그대로
        가기 때문이다(화면에서도 읽기 전용). 보낸 값으로 통째로 교체한다.
      properties:
        customerPrice: { type: integer, minimum: 0 }
        agencyPrice: { type: integer, minimum: 0 }
        customerVisible: { type: boolean }
        agencyVisible: { type: boolean }
        crossRegionReturnExtraFee:
          type: [integer, 'null']
          minimum: 0
        description:
          type: [string, 'null']
        imageUrls:
          type: array
          items: { type: string }
          description: 생략하면 기존 이미지를 모두 지운다(통째로 교체).

    ProductVisibilityRequest:
      type: object
      description: |
        표출 토글(S1-A4) 전용. 둘 다 선택이지만 **최소 하나는 있어야 한다**.
        보내지 않은 쪽은 기존 값을 그대로 둔다.
      properties:
        customerVisible: { type: boolean }
        agencyVisible: { type: boolean }

    AgencyInvitationStatus:
      type: string
      enum: [NONE, PENDING, EXPIRED, ACCEPTED]
      description: |
        여행사의 **최신** 초대 상태. 목록·상세 화면의 배지 문구가 이 값에서 나온다.
        - `NONE` — 초대를 보낸 적이 없다(등록 직후 메일 발송에 실패한 경우도 여기).
        - `PENDING` — 살아 있는 초대가 있다(미사용·미만료).
        - `EXPIRED` — 마지막 초대가 만료됐다. 재발송이 필요하다.
        - `ACCEPTED` — 담당자가 링크로 계정 등록을 마쳤다. `accountRegistered` 도 true.

    Agency:
      type: object
      required: [agencyId, name, contactName, contactPhone, contactEmail, active, accountRegistered, invitationStatus, deleted, createdAt, updatedAt]
      description: |
        여행사(거래처) 마스터(S2-A1~A3). 로그인 계정은 별도 테이블이라 이 스키마에
        비밀번호 필드가 없고, 계정 존재 여부는 `accountRegistered`·`loginId` 로만 비친다.
      properties:
        agencyId:
          type: string
          description: 여행사 PK(숫자지만 문자열로 직렬화된다).
        name: { type: string }
        contactName:
          type: string
          description: 담당자명. 미입력이면 빈 문자열.
        contactPhone:
          type: string
          description: 담당자 연락처. 미입력이면 빈 문자열.
        contactEmail:
          type: string
          format: email
          description: 담당자 이메일. 초대 메일 수신 주소. 서버가 소문자로 정규화해 저장한다.
        active:
          type: boolean
          description: |
            사용 가능/불가(S2-A1 토글). false면 이 여행사 계정으로 여행사앱 로그인·예약이
            차단된다.
        accountRegistered:
          type: boolean
          description: 담당자가 초대 링크로 아이디·비밀번호를 설정했는지(S2-G1 완료 여부).
        loginId:
          type: [string, 'null']
          description: 등록된 계정의 아이디. `accountRegistered` 가 false면 null.
        invitationStatus: { $ref: '#/components/schemas/AgencyInvitationStatus' }
        invitationExpiresAt:
[...]
