openapi: 3.1.0

# =============================================================================
# 친구야 — 여행사(G) 대상 Core API 명세 [v0.1]
#
# 범위: 계정 등록(초대 링크 수락, S2-G1), 로그인·로그아웃·세션 조회(S2-G2).
#       여행사 대시보드·상품 예약·예약 목록·인보이스(S2-G3~G7)는 아직 없다 —
#       구현되는 대로 이어 붙인다.
#
# 왜 별도 문서인가: chinguya-slice1-openapi.yaml 은 헤더에서 스스로를 '고객 대상'
#       으로, chinguya-admin-api.yaml 은 '관리자 대상'으로 한정한다. 여행사는 세 번째
#       사용자군이고 쿠키·권한 모델이 둘 다와 다르므로 문서를 나눈다.
#
# 아키텍처: 여행사 앱(Next.js, :3002)은 자체 Route Handler(BFF)를 거쳐 이 Core API를
#       호출한다. 로그인만은 일반 프록시(/api/core/*)가 아니라 전용 BFF
#       (/api/agency/session)를 쓴다 — 공용 프록시가 응답의 Set-Cookie 를 흘려주지
#       않기 때문에, Core가 내려준 JWT를 BFF가 자기 오리진 쿠키로 다시 심어야 한다.
#       (관리자 앱의 /api/admin/session 과 같은 구조.)
#
# ⚠ 경로 프리픽스가 `/v1` 인 것은 고객 문서와 같지만 **쿠키는 다르다**:
#   고객 `access_token`(30분) / 관리자 `admin_access_token`(4시간) /
#   여행사 `agency_access_token`(4시간). 로컬 개발에서는 세 앱이 모두 localhost 이고
#   쿠키는 포트를 구분하지 않으므로, 이름이 겹치면 서로의 세션을 덮어쓴다.
#
# 미확정(TODO 협의):
#   1. 비밀번호 재설정(분실) 플로우가 없다. 지금은 관리자가 여행사를 지우고 다시
#      등록하거나, 초대를 재발송할 수 없다(이미 계정이 있으면 409). 운영 들어가기 전
#      결정 필요.
#   2. 토큰 만료(4시간) 시 UX 미정 — 자동 갱신인지 재로그인인지. 갱신 엔드포인트 없음.
#   3. 로그인 실패 횟수 제한·계정 잠금 정책 없음(관리자와 같은 상태).
#   4. 여행사 1곳 = 계정 1개(1:1)로 확정. 담당자가 여러 명인 여행사가 나오면
#      agency_account 의 UNIQUE(agency_id) 를 떼고 초대를 계정 단위로 바꿔야 한다.
# =============================================================================

info:
  title: 친구야 여행사 Core API
  version: 0.1.0
  description: |
    여행사(G) 앱이 쓰는 Core API 계약. 현재는 계정 등록(S2-G1)과 로그인(S2-G2)을 정의한다.

    **계정의 생애주기** — 관리자와 여행사가 나눠 가진다:

    1. 관리자가 여행사를 등록한다(`POST /admin/agencies`, 관리자 문서). 이때 계정은
       아직 없고 초대 메일만 나간다.
    2. 담당자가 메일 링크(`{여행사앱}/login?token=…`)로 들어와 아이디·비밀번호를
       **직접** 정한다(`/v1/agency/invitations/complete`). 이 시점에 계정이 생긴다.
    3. 이후 그 아이디로 로그인한다(`/v1/agency/auth/login`).

    초대 토큰은 **유효기간 7일·1회용**이며, 재발송하면 이전 토큰은 즉시 죽는다.
    서버는 토큰 원문을 저장하지 않는다(SHA-256 해시만).

    **권한 모델** — 서버가 강제한다(SecurityConfig):
    - 초대 검증·계정 등록·로그인은 인증 없이 호출한다. 이 셋에서는 **초대 토큰 또는
      비밀번호 자체가 인증 수단**이다.
    - 그 밖의 `/v1/agency/**` 는 전부 `agency_access_token` 쿠키 필수(`ROLE_AGENCY`).
    - 관리자가 자기 쿠키로 여행사 API를 부르면 403이다(롤이 다르다).
    - 관리자가 여행사를 **사용 불가**로 바꾸면(S2-A1 토글) 로그인이 막히고, 이미
      로그인한 세션도 `GET /v1/agency/auth/me` 에서 403 이 되어 화면 이동 시 튕긴다.

servers:
  - url: https://api.chinguya.co.kr/v1
    description: 운영(prod)
  - url: http://localhost:8080/v1
    description: 로컬 개발

tags:
  - name: agency-invitation
    description: 초대 링크 검증·계정 등록 (S2-G1)
  - name: agency-auth
    description: 여행사 로그인·로그아웃·세션 조회 (S2-G2)

# -----------------------------------------------------------------------------
paths:

  /agency/invitations/verify:
    post:
      tags: [agency-invitation]
      summary: 초대 토큰 검증 (S2-G1 진입)
      description: |
        계정 등록 화면이 뜨자마자 호출해, 폼을 그릴지 안내 문구를 그릴지 정한다.
        성공하면 여행사명을 돌려주므로 "OO 여행사 계정을 등록합니다" 처럼 확인시킬 수 있다.

        **의미상 조회지만 POST + 본문**이다 — 초대 토큰이 경로나 쿼리에 실리면
        액세스 로그·프록시 로그·`Referer` 헤더에 그대로 남는다. 토큰이 URL에 있는 것은
        메일 링크(브라우저 주소창)까지가 어쩔 수 없는 한계고, 거기서 더 번지지 않게 한다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InvitationTokenRequest' }
      responses:
        '200':
          description: 사용 가능한 초대
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InvitationVerifyResponse' }
        '404':
          $ref: '#/components/responses/InvitationNotFound'
        '409':
          $ref: '#/components/responses/InvitationUnusable'

  /agency/invitations/complete:
    post:
      tags: [agency-invitation]
      summary: 계정 등록 완료 (S2-G1)
      description: |
        초대 토큰과 함께 아이디·비밀번호를 받아 계정을 만든다. 성공하면 그 초대는
        즉시 사용 완료 처리되어 같은 링크를 다시 쓸 수 없다.

        **자동 로그인하지 않는다** — 페이지정의서의 화면 이동이 `등록 완료 → 로그인(S2-G2)`
        이다. 응답의 `loginId` 로 로그인 화면을 미리 채워 준다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InvitationCompleteRequest' }
      responses:
        '201':
          description: 계정 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyRegisteredResponse' }
        '400':
          description: |
            입력값 오류. 비밀번호 확인 불일치는 `fieldErrors` 의 `passwordConfirm` 항목으로 온다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '403':
          description: 사용 불가로 전환된 여행사
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_INACTIVE
                message: 사용이 중지된 계정입니다. 관리자에게 문의해 주세요.
        '404':
          $ref: '#/components/responses/InvitationNotFound'
        '409':
          description: |
            쓸 수 없는 초대(만료·사용됨·무효화)이거나, 이미 계정이 있거나, 아이디가 중복된 경우.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: DUPLICATE_LOGIN_ID
                message: 이미 사용 중인 아이디입니다.

  /agency/auth/login:
    post:
      tags: [agency-auth]
      summary: 여행사 로그인 (S2-G2)
      description: |
        아이디·비밀번호로 인증하고 액세스 토큰(JWT)을 **HttpOnly 쿠키로** 발급한다.

        아이디가 없는 경우, 비밀번호가 틀린 경우, **삭제된 여행사**인 경우 모두 같은
        401(`INVALID_CREDENTIALS`)로 응답한다.

        **사용 불가(active=false) 여행사만은 403(`AGENCY_INACTIVE`)로 구분한다.**
        비밀번호가 맞았다는 사실이 노출되지만, 계약 관계인 파트너에게는
        "관리자에게 문의하세요"가 실행 가능한 안내이고, 그렇지 않으면 담당자가
        비밀번호를 헛되이 뒤지게 된다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyLoginRequest' }
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              schema: { type: string }
              description: |
                `agency_access_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=14400`
                (`Secure` 는 운영에서만).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencySessionResponse' }
        '401':
          $ref: '#/components/responses/InvalidCredentials'
        '403':
          $ref: '#/components/responses/AgencyInactive'

  /agency/auth/logout:
    post:
      tags: [agency-auth]
      summary: 여행사 로그아웃 (S2-G2)
      description: |
        쿠키를 만료시킨다. 서버에 세션 저장소가 없으므로(stateless JWT) 실제 효과는
        쿠키 삭제뿐이다.

        ⚠ 이미 만료된 세션으로 부르면 401 이다. BFF는 401 도 로그아웃 성공으로
        취급하고 자기 오리진 쿠키를 지워야 한다.
      responses:
        '204':
          description: 로그아웃 완료
          headers:
            Set-Cookie:
              schema: { type: string }
              description: 만료된 `agency_access_token` (Max-Age=0).
        '401':
          $ref: '#/components/responses/Unauthorized'

  /agency/auth/me:
    get:
      tags: [agency-auth]
      summary: 현재 세션 조회 (S2-G2)
      description: |
        쿠키의 토큰을 검증하고 세션 정보를 돌려준다. 여행사 앱 셸이 화면 이동마다
        호출한다.

        **여행사명은 토큰 클레임이 아니라 DB에서 읽는다** — 관리자가 명칭을 바꾸면
        (S2-A3) 최대 4시간짜리 토큰 안에 낡은 이름이 남기 때문이다.

        같은 이유로 **`active` 를 매번 다시 확인**한다. 관리자가 사용 불가로 바꾸면
        발급된 토큰은 여전히 서명이 유효하지만 이 엔드포인트가 403 을 내므로,
        여행사 앱은 다음 화면 이동에서 로그인 화면으로 튕긴다.
      responses:
        '200':
          description: 세션 정보
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencySessionResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/AgencyInactive'

# -----------------------------------------------------------------------------
components:

  securitySchemes:
    agencyCookieAuth:
      type: apiKey
      in: cookie
      name: agency_access_token
      description: |
        여행사 액세스 토큰(JWT). 클레임 = agencyId·accountId·loginId, 유효 **4시간**.

        ⚠ 고객(`access_token`, 30분)·관리자(`admin_access_token`, 4시간)와 **다른
        쿠키이고 서명 키도 다르다**. 키를 나눈 것은 정리 차원이 아니라 보안 속성이다 —
        키가 같으면 감사(audience) 검사 버그 하나로 관리자 토큰이 여행사 토큰으로
        통용될 수 있지만, 다르면 서명 검증 단계에서 죽는다.

  responses:
    Unauthorized:
      description: 인증 필요/만료 — 쿠키가 없거나 토큰이 유효하지 않다.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidCredentials:
      description: 아이디 없음·비밀번호 불일치·삭제된 여행사(셋을 구분하지 않는다)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVALID_CREDENTIALS
            message: 아이디 또는 비밀번호가 올바르지 않습니다.
    AgencyInactive:
      description: 관리자가 사용 불가로 전환한 여행사(S2-A1 토글)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: AGENCY_INACTIVE
            message: 사용이 중지된 계정입니다. 관리자에게 문의해 주세요.
    InvitationNotFound:
      description: 존재하지 않는 초대 토큰(오타·조작·삭제된 여행사)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVITATION_NOT_FOUND
            message: 유효하지 않은 초대 링크입니다.
    InvitationUnusable:
      description: 만료됐거나 이미 사용됐거나 재발송으로 무효화된 초대
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVITATION_EXPIRED
            message: 초대 링크가 만료되었습니다. 관리자에게 재발송을 요청해 주세요.

  schemas:

    InvitationTokenRequest:
      type: object
      required: [token]
      properties:
        token:
          type: string
          description: |
            메일 링크의 `?token=` 값. URL-safe Base64 43자(256비트). 서버는 이 값을
            SHA-256 해시해 저장된 해시와 대조한다 — 원문은 DB에 없다.

    InvitationVerifyResponse:
      type: object
      required: [agencyName, contactEmail, expiresAt]
      properties:
        agencyName:
          type: string
          description: 등록 화면에서 "OO 여행사 계정을 등록합니다" 처럼 확인시키는 용도.
        contactEmail:
          type: string
          format: email
          description: 초대가 나간 주소. 담당자가 자기 링크가 맞는지 확인할 수 있게 한다.
        expiresAt:
          type: string
          format: date-time
          description: 초대 만료 시각(UTC). 화면은 KST로 환산해 보여준다.

    InvitationCompleteRequest:
      type: object
      required: [token, loginId, password, passwordConfirm]
      properties:
        token: { type: string }
        loginId:
          type: string
          pattern: '^[a-z0-9][a-z0-9_-]{3,29}$'
          description: |
            영소문자·숫자·`-`·`_` 조합 4~30자, 첫 글자는 영소문자 또는 숫자.
            전역 유니크(다른 여행사와도 겹칠 수 없다). 관리자 아이디와는 별개 네임스페이스다.
        password:
          type: string
          format: password
          minLength: 8
          maxLength: 64
          description: |
            평문. 서버가 BCrypt로 해시해 저장한다.

            **최대 64자는 장식이 아니다** — BCrypt는 입력을 72바이트에서 조용히 잘라내므로,
            그보다 긴 비밀번호는 앞부분만으로 인증되는 셈이 된다. UTF-8 한글까지 감안해
            64자로 막는다.
        passwordConfirm:
          type: string
          format: password
          description: password 와 같아야 한다. 다르면 400(`fieldErrors[].field = passwordConfirm`).

    AgencyRegisteredResponse:
      type: object
      required: [agencyId, agencyName, loginId]
      description: 등록 결과. 로그인 화면(S2-G2)의 아이디를 미리 채우는 데 쓴다.
      properties:
        agencyId: { type: string }
        agencyName: { type: string }
        loginId: { type: string }

    AgencyLoginRequest:
      type: object
      required: [loginId, password]
      properties:
        loginId: { type: string }
        password: { type: string, format: password }

    AgencySessionResponse:
      type: object
      required: [agencyId, agencyName, accountId, loginId, expiresAt]
      properties:
        agencyId:
          type: string
          description: 여행사 PK(숫자지만 문자열로 직렬화된다).
        agencyName:
          type: string
          description: 헤더에 표시하는 여행사명. 토큰이 아니라 DB에서 매번 읽는다.
        accountId: { type: string }
        loginId: { type: string }
        expiresAt:
          type: string
          format: date-time
          description: 액세스 토큰 만료 시각(UTC). 발급 시점 +4시간.

    Error:
      type: object
      required: [code, message]
      description: |
        관리자·고객 문서와 같은 평면 구조다(래퍼 없음). `GlobalExceptionHandler` 가
        모든 도메인 예외를 이 모양으로 직렬화한다.
      properties:
        code:
          type: string
          description: |
            도메인 에러 코드.

            초대(S2-G1):
            - `INVITATION_NOT_FOUND` — 존재하지 않는 토큰(삭제된 여행사의 토큰 포함).
            - `INVITATION_EXPIRED` — 발급 후 7일이 지났다.
            - `INVITATION_ALREADY_USED` — 이미 계정 등록에 쓰인 링크다.
            - `INVITATION_REVOKED` — 재발송으로 무효화된 옛 링크다.
            - `AGENCY_ACCOUNT_ALREADY_EXISTS` — 그 여행사에 이미 계정이 있다.
            - `DUPLICATE_LOGIN_ID` — 이미 사용 중인 아이디다.

            인증(S2-G2):
            - `INVALID_CREDENTIALS` — 아이디 없음·비밀번호 불일치·삭제된 여행사.
            - `AGENCY_INACTIVE` — 관리자가 사용 불가로 전환했다.
        message: { type: string }
        fieldErrors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              reason: { type: string }

security:
  - agencyCookieAuth: []
