openapi: 3.1.0

# =============================================================================
# 친구야 — 관리자 대상 Core API 명세 [v0.1]
#
# 범위: 관리자 인증(S0-A2 로그인), 자산 관리(S1-A2), 날짜별 재고 세팅(S1-A3, 여행사 할당 포함),
#       여행사 관리(S2-A1/A2/A3). 나머지 관리자 운영 API(상품·예약·인보이스)는 아직 이
#       문서에 없다 — 구현되는 대로 이어 붙인다.
#
#       여행사 **대상** 계약(여행사 담당자가 쓰는 초대 수락·로그인, S2-G1/G2)은
#       chinguya-agency-api.yaml 에 따로 있다. 이 문서는 관리자가 부르는 것만 담는다.
#
# 고객 대상 계약은 chinguya-slice1-openapi.yaml 에 따로 있다. 그 문서는 헤더에서
# 스스로를 '고객 대상 Core API'로 한정하므로 관리자 계약은 이 파일로 분리한다.
#
# x-screens: 각 operation에 이 확장 필드로 **그 엔드포인트를 쓰는 화면코드**를 단다.
#            노션 「페이지 정의서」의 `API 상태` 를 어느 행에 찍을지 이 값으로만 판단한다
#            (주석·summary로 추정하지 않는다 — chinguya-api/CLAUDE.md).
#            값은 와이어프레임 원본 화면코드다. 여러 화면이 쓰면 모두 적고,
#            로그아웃·세션조회처럼 특정 화면에 귀속되지 않는 공통 엔드포인트는 `[]` 다.
#            **새 operation을 추가하면 x-screens도 함께 단다.**
# 아키텍처: 관리자 앱(Next.js)은 자체 Route Handler(BFF)를 거쳐 이 Core API를
#           호출한다. Core가 내려준 JWT를 BFF가 자기 오리진 쿠키로 다시 심는다
#           (Core에는 CORS 설정이 없고 쿠키가 SameSite=Lax라 브라우저 직접 호출 불가).
#
# ⚠ 이 문서는 **구현을 역문서화**한 것이다. 통상은 스펙이 먼저이지만(README 참고),
#   관리자 인증은 백엔드(chinguya-api)에 먼저 구현됐다. 아래 내용은 구현
#   (admin/auth/AdminAuthController.java, security/SecurityConfig.java,
#   security/JwtTokenProvider.java)과 1:1로 맞춰 적었다. 이후 변경은 이 문서를
#   먼저 고치는 정상 순서로 돌아간다.
#
# 미확정(TODO 협의):
#   1. AdminSessionResponse 에 **표시 이름(name) 필드가 없다.** 화면(S0-A2 이후
#      공통 헤더 드로어)은 지금 loginId 만 보여줄 수 있다. 이름을 노출하려면
#      admin_account 에 컬럼 추가 + 이 응답 확장이 필요하다.
#   2. **S0-A1(슈퍼어드민 최초 생성) 플로우가 없다.** 현재는 마이그레이션
#      V3__admin_auth.sql 의 임시 시드 계정으로 대체 중이며, 그 파일 주석도
#      운영 배포 전 교체를 경고하고 있다.
#   3. **관리자 계정 CRUD(S0-A5/A6) API가 없다.** V3 마이그레이션이 범위 밖으로
#      명시했다. 프론트의 해당 화면은 그때까지 목 데이터로 동작한다.
#   4. 토큰 만료(4시간) 시 UX가 미정 — 자동 갱신(리프레시 토큰)인지 재로그인인지.
#      갱신 엔드포인트는 아직 없다.
#   5. 로그인 실패 횟수 제한·계정 잠금 정책 없음.
#   6. (해결됨) 자산 삭제의 소프트/하드 분기 기준인 '날짜별 재고 레코드' 테이블(S1-A3)이
#      생겼다. `Asset.hasInventoryRecords` 는 이제 실제 재고 레코드(기준 보유량 이력 또는
#      재고 조정) 유무를 반환하고, DELETE 는 그 값에 따라 HARD/SOFT를 실제로 가른다.
#   7. **"예약(reserved)" 수량은 아직 없다.** 고객 예약(S1-A6~A9)이 DB·백엔드 모두
#      미착수라, 날짜별 재고 세팅 API의 `reserved` 필드는 예약 시스템이 생기기 전까지
#      항상 0으로 내려간다 — 그래서 "초과 경고"(A3-M3)용 미리보기 엔드포인트도 항상
#      빈 배열을 반환한다. 예약 시스템이 생기면 서버의 계산 한 곳만 채우면 되고
#      응답 계약은 그대로다.
#   8. **여행사 예약 수량도 아직 없다.** 여행사 예약(S2-G4~G6) 백엔드가 미착수라, 여행사
#      예약 마감(이용일 D-3) 뒤 "안 팔린 할당은 고객 가용으로 반환" 규칙에서 여행사 예약
#      수는 항상 0으로 계산된다 — 즉 마감이 지난 날짜의 할당은 전부 고객 가용으로 돌아간다.
#      예약 시스템이 생기면 서버 계산 한 곳만 채우면 되고 응답 계약은 그대로다.
# =============================================================================

info:
  title: 친구야 관리자 Core API
  version: 0.1.0
  description: |
    관리자(A) 앱이 쓰는 Core API 계약. 현재는 인증(S0-A2), 자산 관리(S1-A2), 날짜별
    재고 세팅(S1-A3 — 여행사 할당 포함, 구 S2-A4 흡수), 여행사 관리(S2-A1/A2/A3)를 정의한다.

    **권한 모델** — 서버가 강제한다(SecurityConfig):
    - `/admin/**` 는 전부 쿠키 인증 필수(로그인 엔드포인트만 예외). 미인증 시 401.
    - 쓰기 메서드(POST·PUT·PATCH·DELETE)는 **SUPER_ADMIN만** 허용. STAFF가 시도하면 403.
    - 조회(GET)는 인증된 관리자면 누구나.

    즉 '일반 관리자는 조회 전용, 쓰기는 슈퍼어드민'(와이어프레임 공통 규칙)은
    프론트 UI가 아니라 **서버가 최종 강제**한다. 프론트의 버튼 숨김은 정합성을
    맞추는 것일 뿐 보안 경계가 아니다.

servers:
  - url: https://api.chinguya.co.kr
    description: 운영(prod)
  - url: http://localhost:8080
    description: 로컬 개발

# ⚠ 고객 문서(slice1)의 서버 URL에는 `/v1` 프리픽스가 붙지만 관리자 컨트롤러에는
#   없다(@RequestMapping("/admin/auth")). 경로를 그대로 복사하지 말 것.

tags:
  - name: admin-auth
    description: 관리자 로그인·로그아웃·세션 조회 (S0-A2)
  - name: admin-asset
    description: 자산(명칭 마스터) 등록·수정·삭제·복원 (S1-A2)
  - name: admin-inventory
    description: 자산별 날짜별 재고 세팅 — 기준 보유량·여행사 할당·재고 조정·매장 휴무 (S1-A3)
  - name: admin-agency
    description: 여행사(거래처) 목록·등록(초대)·상세·사용 가능/불가 (S2-A1/A2/A3)

# -----------------------------------------------------------------------------
paths:

  /admin/auth/login:
    post:
      tags: [admin-auth]
      x-screens: [S0-A2]
      summary: 관리자 로그인 (S0-A2)
      description: |
        아이디·비밀번호로 인증하고 액세스 토큰(JWT)을 **HttpOnly 쿠키로** 발급한다.
        비밀번호는 BCrypt 해시와 대조한다.

        아이디가 없는 경우와 비밀번호가 틀린 경우 모두 **같은 401
        (`INVALID_CREDENTIALS`)** 로 응답한다 — 계정 존재 여부가 새지 않게.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: |
                `admin_access_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=<4시간>`
                `Secure` 는 환경변수(ADMIN_COOKIE_SECURE)로 결정된다 — 운영은 반드시 true.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminSessionResponse' }
        '400':
          description: loginId·password 누락(검증 실패)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/InvalidCredentials'

  /admin/auth/logout:
    post:
      tags: [admin-auth]
      x-screens: []
      summary: 관리자 로그아웃
      description: 액세스 토큰 쿠키를 Max-Age=0 으로 만료시킨다. 서버는 stateless라 토큰 폐기 목록은 두지 않는다.
      responses:
        '204':
          description: 로그아웃 완료
          headers:
            Set-Cookie:
              description: '`admin_access_token=; Max-Age=0` (쿠키 삭제)'
              schema: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/auth/me:
    get:
      tags: [admin-auth]
      x-screens: []
      summary: 현재 로그인 세션 조회
      description: |
        쿠키의 JWT를 검증해 현재 관리자 정보를 돌려준다. 화면 재진입·새로고침 때
        '내가 누구이고 슈퍼어드민인지'를 확인하는 용도.
      responses:
        '200':
          description: 유효한 세션
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminSessionResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/assets:
    get:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 목록 조회 (S1-A2)
      description: |
        자산 명칭 마스터 목록. 자산은 소수(현재 4종)라 페이지네이션 없이 전량 반환한다.

        정렬은 **활성 자산 먼저, 그 안에서 등록 순(id 오름차순)** 이다. 화면(S1-A2)은
        `deleted` 로 갈라 활성 자산을 위에, 삭제된 자산을 '삭제됨' 섹션으로 아래에 둔다.
      parameters:
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: |
            true 면 소프트 삭제된 자산까지 포함한다. 자산 관리 화면(S1-A2)은 '삭제됨'
            섹션을 그려야 하므로 true 로 부르고, 재고 세팅(S1-A3)의 자산 선택기처럼
            활성 자산만 필요한 곳은 기본값(false)을 쓴다.
      responses:
        '200':
          description: 자산 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Asset' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 등록 (A2-M1)
      description: |
        명칭과 카테고리를 받아 자산을 만든다. 앞뒤 공백은 서버가 제거한다.

        **카테고리는 등록 때만 정한다** — 수정(PUT)에는 없고, 복원은 기존 값을 승계한다.
        연결 상품의 옵션이 카테고리를 따르기 때문에 나중에 바꿀 수 없다(S1-A2).

        중복 검사는 **활성 자산끼리만** 한다 — 소프트 삭제된 자산의 명칭은 재사용할 수
        있어서, 같은 이름이 목록에 둘 보일 수 있다(하나는 '삭제됨'). 카테고리가 달라도
        명칭이 같으면 중복이다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetCreateRequest' }
      responses:
        '201':
          description: 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락/공백만 입력, 또는 category 누락·허용값 아님
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateAssetName'

  /admin/assets/{assetId}:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
        description: 자산 PK(숫자지만 문자열로 직렬화된다).

    put:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 명칭 수정 (A2-M2)
      description: |
        명칭만 바꾼다. **카테고리는 여기서 바꿀 수 없다** — 등록 때 정한 값이 그대로
        간다(A2-M2에서 읽기 전용). **삭제됨 상태의 자산은 수정할 수 없다**(409 `ASSET_DELETED`) —
        되살리려면 복원 엔드포인트를 쓴다. 중복 검사는 등록과 같이 활성 자산끼리만 하며,
        자기 자신은 비교에서 제외한다(값을 바꾸지 않고 저장해도 409가 아니다).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetNameRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락 또는 공백만 입력
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있음
            / `ASSET_DELETED` — 삭제된 자산은 수정 불가
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 삭제 (A2-M3)
      description: |
        **재고 레코드 유무로 처리가 갈린다** — 0건이면 완전 삭제(hard), 1건 이상이면
        소프트 삭제. 어느 쪽이 일어났는지 응답의 `deletion` 으로 알려준다(화면은 이
        값으로 토스트 문구를 고른다).

        삭제 확인 모달의 문구 분기(CASE 1 / CASE 2)는 목록 응답의
        `hasInventoryRecords` 를 보고 **삭제를 부르기 전에** 정한다.

      responses:
        '200':
          description: 삭제 완료. 어떤 방식으로 지워졌는지 반환한다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetDeleteResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: '`ASSET_ALREADY_DELETED` — 이미 소프트 삭제된 자산'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/assets/{assetId}/restore:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }

    post:
      tags: [admin-asset]
      x-screens: [S1-A2]
      summary: 자산 복원 (A2-M4)
      description: |
        소프트 삭제된 자산을 다시 활성으로 되돌린다. **id가 그대로라 과거 재고·예약
        이력과 카테고리를 그대로 승계**한다(요청 본문에 카테고리가 없는 이유).

        명칭은 요청 본문으로 받는다 — 삭제된 명칭은 재사용 가능해서 그 사이 같은
        이름의 활성 자산이 생겼을 수 있고, 그때는 409 `DUPLICATE_ASSET_NAME` 로
        **명칭 변경을 요구**한다(A2-M4 모달의 입력 항목이 명칭인 이유).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetNameRequest' }
      responses:
        '200':
          description: 복원 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락 또는 공백만 입력
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있음(명칭 변경 필요)
            / `ASSET_NOT_DELETED` — 삭제 상태가 아니라 복원할 게 없음
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/inventory/assets/{assetId}/snapshot:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 월간 재고 스냅샷 (달력, S1-A3)
      description: |
        그 달 전체 일자의 계산된 스냅샷을 한 번에 돌려준다 — 달력이 이 배열 하나로
        잔여/고객 가용 색상과 재고 조정 있는 날 점 표시를 그린다.

        그날 총 보유 = 그 날짜의 기준 보유량 + 그 날짜에 걸리는 **보유** 조정 delta 합계
        (0 미만 불가). 그날 여행사 할당 = 여행사마다 (기준 할당 + 그 여행사 할당 조정 합)을
        더한 값이고, `customerAvailable` = max(`totalStock` − `allocated`, 0).
        여행사가 없거나 할당이 없으면 `customerAvailable` = `totalStock`.

        ⚠ `reserved` 는 예약 백엔드가 생기기 전까지 항상 0이다(헤더 TODO 7).
      parameters:
        - name: year
          in: query
          required: true
          schema: { type: integer }
        - name: month
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 12 }
      responses:
        '200':
          description: 그 달 일자별 스냅샷 배열
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InventoryDaySnapshot' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/days/{date}:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
      - name: date
        in: path
        required: true
        schema: { type: string, format: date }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 선택일 상세 (S1-A3)
      description: 달력에서 날짜를 탭했을 때 하단 상세 패널(기준 보유량 · 이 날 조정 N줄 · 총 보유 · 여행사 할당 · 고객 가용 · 예약 · 잔여 · 매장 휴무)이 쓰는 값.
      responses:
        '200':
          description: 선택일 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryDayDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/baseline/current:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 현재(오늘 기준) 기준 보유량
      responses:
        '200':
          description: 기준 보유량
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BaselineResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/baseline:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 기준 보유량 변경 (A3-M1)
      description: |
        구매·처분처럼 **영구적인 변화**를 적용 시작일과 함께 기록한다(이력 누적, 덮어쓰지
        않음). 그 시작일 이전 날짜의 총 보유·이미 걸린 재고 조정에는 영향을 주지 않는다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BaselineChangeRequest' }
      responses:
        '200':
          description: 변경 후 현재 기준 보유량
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BaselineResponse' }
        '400':
          description: value·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/allocations/current:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 현재(오늘 기준) 여행사별 기준 할당
      description: |
        삭제되지 않은 여행사 전부를 등록 순으로 돌려준다(할당이 없으면 `value` 0).
        기준 카드는 `value` > 0 인 여행사만 보여 주고, A3-M4 모달은 이 목록 전체를
        여행사 선택지로 쓴다.
      responses:
        '200':
          description: 여행사별 현재 기준 할당
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AgencyAllocation' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/allocations:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 여행사 기준 할당 변경 (A3-M4)
      description: |
        기준 보유량 변경(A3-M1)과 같은 방식 — 계약 변경 같은 **영구적인 변화**를 적용
        시작일과 함께 이력으로 쌓는다(덮어쓰지 않음). 시작일 이전 날짜와 이미 걸린 할당
        조정에는 영향을 주지 않는다. `value` 0 이면 그날부터 할당 해제.

        **할당 합 > 총 보유가 되는 날이 생기면 저장하지 않고 409** 를 돌려준다. 검사
        범위는 여행사가 예약할 수 있는 날짜(오늘 +3일 이후)부터 시작일 기준 3개월이다 —
        마감(D-3)이 지난 날짜의 할당은 어차피 고객 가용으로 반환되므로 검사하지 않는다.
        이미 할당 초과인 날(보유가 줄어 생긴 경우)에서 할당을 **줄이는** 변경은 막지 않는다 —
        그래야 초과를 푸는 수정이 가능하다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AllocationChangeRequest' }
      responses:
        '200':
          description: 변경 후 여행사별 현재 기준 할당(목록 조회와 같은 모양)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AgencyAllocation' }
        '400':
          description: agencyId·value·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 존재하지 않는 자산(`ASSET_NOT_FOUND`) 또는 존재하지 않거나 삭제된 여행사(`AGENCY_NOT_FOUND`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'

  /admin/inventory/assets/{assetId}/adjustments:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 추가 (A3-M2)
      description: |
        수리·임시 임차 등 **일시적인 증감**(±N)을 기간(+요일 지정)과 함께 기록한다.
        같은 날짜에 여러 조정이 걸리면 전부 합산된다. 저장 전에 초과 여부를 먼저
        확인하려면 `/preview` 를 먼저 부른다(A3-M3).

        **대상**은 `agencyId` 로 가른다 — null이면 **보유** 조정(총 보유 증감), 값이
        있으면 그 여행사의 **할당** 조정(그 여행사 할당만 증감). 할당 조정으로
        할당 합 > 총 보유가 되는 날이 생기면 저장하지 않고 409(검사 범위는 A3-M4와 같다).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '201':
          description: 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryAdjustment' }
        '400':
          description: delta·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 존재하지 않는 자산(`ASSET_NOT_FOUND`) 또는 존재하지 않거나 삭제된 여행사(`AGENCY_NOT_FOUND`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'

  /admin/inventory/assets/{assetId}/adjustments/preview:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 추가 시 초과 미리보기 (A3-M3)
      description: |
        아무것도 저장하지 않는 계산 전용 엔드포인트 — 그래서 SUPER_ADMIN이 아니어도
        (조회 권한만 있어도) 부를 수 있다. 이 조정을 실제로 적용했을 때 다음 중 하나가
        되는 날짜를 돌려준다:
        - **예약 초과** — 고객 예약 > 고객 가용(총 보유 − 할당).
        - **할당 초과** — 여행사 할당 합 > 총 보유(`allocated` > `totalStockAfter`).

        보유 조정(`agencyId` null)은 두 경우 모두 경고 후 저장을 허용한다. 할당 조정은
        할당 초과가 있으면 실제 저장이 409로 막히므로, 화면은 이 결과로 미리 막는다.

        ⚠ `reserved` 가 항상 0인 동안(헤더 TODO 7)은 예약 초과는 나오지 않고 할당 초과만 나온다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 초과가 발생하는 날짜 목록(없으면 빈 배열)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/OverCapacityDate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/adjustments/{adjustmentId}:
    parameters:
      - name: adjustmentId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 수정 (A3-M2)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryAdjustment' }
        '400':
          description: delta·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          description: 존재하지 않는 재고 조정(`ADJUSTMENT_NOT_FOUND`) 또는 존재하지 않거나 삭제된 여행사(`AGENCY_NOT_FOUND`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'
    delete:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 해제 (A3-M2)
      description: |
        마이너스 **할당** 조정을 해제하면 그 여행사 할당이 다시 늘어난다 — 그 때문에 할당 합 >
        총 보유가 되는 날이 생기면 해제하지 않고 409(추가·수정과 같은 검사).
      responses:
        '204':
          description: 해제 완료
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AdjustmentNotFound'
        '409':
          $ref: '#/components/responses/AllocationExceedsStock'

  /admin/inventory/adjustments/{adjustmentId}/preview:
    parameters:
      - name: adjustmentId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 재고 조정 수정 시 초과 미리보기 (A3-M3)
      description: |
        수정 중인 조정 자신은 계산에서 빼고(중복 반영 방지) 새 값을 얹어 미리 계산한다.
        조회 전용이라 SUPER_ADMIN이 아니어도 부를 수 있다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 초과가 발생하는 날짜 목록(없으면 빈 배열)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/OverCapacityDate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AdjustmentNotFound'

  /admin/inventory/closures/{date}:
    parameters:
      - name: date
        in: path
        required: true
        schema: { type: string, format: date }
    put:
      tags: [admin-inventory]
      x-screens: [S1-A3]
      summary: 매장 휴무 토글 (전 자산 공통)
      description: 이 날짜는 모든 자산이 함께 쉰다 — 수량은 보존되고 판매만 차단된다. 자산 하나만 중단하려면 재고 조정으로 수량 0을 만든다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClosureRequest' }
      responses:
        '200':
          description: 반영 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClosureResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ---------------------------------------------------------------------------
  # 여행사 관리 (S2-A1/A2/A3)
  #
  # 여행사와 그 로그인 계정은 별개의 생애주기를 가진다: 관리자가 여행사를 등록하면
  # 초대 메일만 나가고, 담당자가 링크로 아이디·비밀번호를 직접 정할 때 비로소 계정이
  # 생긴다(S2-G1). 그래서 이 문서에는 계정 생성 API가 없다 — 그건 여행사 대상 계약
  # (chinguya-agency-api.yaml)에 있다. 여기서 관리자가 하는 일은 여행사 마스터 관리와
  # **초대 발송**뿐이다.
  # ---------------------------------------------------------------------------

  /admin/agencies:
    get:
      tags: [admin-agency]
      x-screens: [S2-A1]
      summary: 여행사 목록 조회 (S2-A1)
      description: |
        여행사(거래처) 목록. 자산과 마찬가지로 소수라 페이지네이션 없이 전량 반환한다.

        정렬은 **활성 여행사 먼저, 그 안에서 등록 순(id 오름차순)** 이다.
      parameters:
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: true 면 소프트 삭제된 여행사까지 포함한다.
      responses:
        '200':
          description: 여행사 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Agency' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-agency]
      x-screens: [S2-A2]
      summary: 여행사 등록 + 초대 메일 발송 (S2-A2)
      description: |
        여행사를 만들고 담당자 이메일로 **계정 등록 초대 링크**를 보낸다. 두 일이 한
        요청인 이유는 화면(S2-A2)의 CTA가 '가입 링크 이메일 발송' 하나이기 때문이다.

        초대 링크는 여행사 웹앱의 `/login?token=…` 을 가리키며 **유효기간 7일·1회용**이다.
        토큰 원문은 서버에 저장되지 않는다(SHA-256 해시만) — 그래서 발송에 실패하면
        같은 링크를 다시 얻을 수 없고, 재발송(`POST /admin/agencies/{agencyId}/invitations`)
        으로 새 토큰을 끊어야 한다.

        **메일 발송 실패는 5xx가 아니다.** 여행사 행과 초대 행은 커밋되고 응답의
        `invitation.sent` 가 false로 내려온다 — SMTP가 죽었다고 등록 자체를 되돌리면
        관리자가 '등록이 된 건가'를 추론해야 하기 때문이다. 화면은 이 필드로 토스트를
        가르고 재발송을 안내한다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyCreateRequest' }
      responses:
        '201':
          description: 등록 완료(메일 발송 성공 여부는 `invitation.sent` 로 판단)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyCreateResponse' }
        '400':
          description: 필수값 누락 또는 이메일 형식 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateAgencyName'

  /admin/agencies/{agencyId}:
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }
        description: 여행사 PK(숫자지만 문자열로 직렬화된다).

    get:
      tags: [admin-agency]
      x-screens: [S2-A3]
      summary: 여행사 상세 조회 (S2-A3)
      responses:
        '200':
          description: 여행사 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agency' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AgencyNotFound'

    put:
      tags: [admin-agency]
      x-screens: [S2-A3]
      summary: 여행사 정보 수정 (S2-A3)
      description: |
        명칭·담당자·연락처·이메일을 바꾼다. 사용 가능/불가는 여기가 아니라 전용
        엔드포인트(`PATCH .../active`)로 다룬다 — 목록 화면의 토글이 다른 필드를
        모르는 채로 부를 수 있어야 하기 때문이다.

        **담당자 이메일을 바꿔도 초대 메일이 자동으로 나가지 않는다.** 재발송은
        명시적 행위여야 하므로 별도 엔드포인트를 쓴다.

        삭제된 여행사는 수정할 수 없다(409 `AGENCY_DELETED`).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyUpdateRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agency' }
        '400':
          description: 필수값 누락 또는 이메일 형식 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          $ref: '#/components/responses/DuplicateAgencyName'

    delete:
      tags: [admin-agency]
      x-screens: [S2-A1]
      summary: 여행사 삭제 (S2-A1)
      description: |
        **항상 소프트 삭제**다. 자산(S1-A2)처럼 하드/소프트를 가르지 않는 이유는,
        여행사가 곧 할당(S2-A4)·예약(S2-G4~G6)·인보이스(S2-A5)에서 참조되기 때문이다 —
        지난달 인보이스가 여행사 이름을 잃으면 안 된다.

        복원 엔드포인트는 없다. 삭제된 여행사는 목록·상세·로그인에서 모두 빠지며,
        그 계정으로는 로그인할 수 없다(계정이 없는 것과 같은 401로 응답한다).
      responses:
        '204':
          description: 삭제 완료
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          description: 이미 삭제된 여행사
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_ALREADY_DELETED
                message: 이미 삭제된 여행사입니다.

  /admin/agencies/{agencyId}/active:
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }

    patch:
      tags: [admin-agency]
      x-screens: [S2-A1]
      summary: 사용 가능/불가 토글 (S2-A1)
      description: |
        `active=false` 로 바꾸면 그 여행사 계정의 **로그인·예약이 차단**된다.

        ⚠ 액세스 토큰은 stateless(JWT)라 이미 발급된 토큰이 이 시점에 무효화되지는
        않는다. 대신 여행사 앱이 화면 이동마다 부르는 `GET /v1/agency/auth/me` 가
        매번 `active` 를 다시 읽어 403(`AGENCY_INACTIVE`)을 낸다 — 실질적으로는
        한 번의 화면 이동 안에 튕긴다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AgencyActiveRequest' }
      responses:
        '200':
          description: 반영 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Agency' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          description: 삭제된 여행사는 상태를 바꿀 수 없다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_DELETED
                message: 삭제된 여행사는 수정할 수 없습니다.

  /admin/agencies/{agencyId}/invitations:
    parameters:
      - name: agencyId
        in: path
        required: true
        schema: { type: string }

    post:
      tags: [admin-agency]
      x-screens: [S2-A3]
      summary: 초대 메일 재발송 (S2-A3)
      description: |
        새 토큰을 끊어 담당자 이메일로 다시 보낸다. **이전에 보낸 초대 링크는 이 순간
        무효가 된다** — 여행사당 살아 있는 초대는 최대 1건이다.

        이미 계정 등록을 마친 여행사에는 보낼 수 없다(409
        `AGENCY_ACCOUNT_ALREADY_EXISTS`). 페이지정의서의 '이미 계정 있으면 발송 생략'은
        이 1:1 모델에서 **그 여행사의 계정이 이미 있을 때**를 뜻하며, 신규 등록 시점에는
        참이 될 수 없으므로 실질적으로 이 엔드포인트에서만 발동한다. 관리자가 명시적으로
        요청한 행위이므로 조용히 생략하지 않고 409로 알린다.

        메일 발송 실패는 등록과 같이 `sent: false` 로 보고한다(5xx 아님).
      responses:
        '200':
          description: 재발송 처리 완료(성공 여부는 `sent` 로 판단)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AgencyInvitationResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AgencyNotFound'
        '409':
          description: 이미 계정이 등록됐거나 삭제된 여행사
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example:
                code: AGENCY_ACCOUNT_ALREADY_EXISTS
                message: 이미 계정이 등록된 여행사입니다.

# -----------------------------------------------------------------------------
components:

  securitySchemes:
    adminCookieAuth:
      type: apiKey
      in: cookie
      name: admin_access_token
      description: |
        관리자 액세스 토큰(JWT). 클레임 = adminId·loginId·role, 유효 **4시간**.

        ⚠ 고객 문서(chinguya-slice1-openapi.yaml)의 `cookieAuth` 와 **다른 쿠키다**.
        고객은 `access_token`(30분), 관리자는 `admin_access_token`(4시간).
        미들웨어·BFF가 쿠키 이름을 혼동하면 인증이 조용히 어긋난다.

  responses:
    Unauthorized:
      description: 인증 필요/만료 — 쿠키가 없거나 토큰이 유효하지 않다.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidCredentials:
      description: 아이디 또는 비밀번호 불일치
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVALID_CREDENTIALS
            message: 아이디 또는 비밀번호가 올바르지 않습니다.
    Forbidden:
      description: 권한 부족 — STAFF가 쓰기 메서드를 시도한 경우.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    AssetNotFound:
      description: 존재하지 않는 자산
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ASSET_NOT_FOUND
            message: 자산을 찾을 수 없습니다.
    DuplicateAssetName:
      description: 같은 명칭의 **활성** 자산이 이미 있음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: DUPLICATE_ASSET_NAME
            message: 이미 사용 중인 자산 명칭입니다.
    AdjustmentNotFound:
      description: 존재하지 않는 재고 조정
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ADJUSTMENT_NOT_FOUND
            message: 재고 조정을 찾을 수 없습니다.
    AllocationExceedsStock:
      description: 여행사 할당 합이 총 보유를 넘는 날짜가 생겨 저장하지 않았다(A3-M4·할당 조정).
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ALLOCATION_EXCEEDS_STOCK
            message: '여행사 할당 합이 총 보유를 넘는 날짜가 있습니다: 2027-07-20(할당 4 / 총 보유 3)'
    AgencyNotFound:
      description: 존재하지 않거나 삭제된 여행사
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: AGENCY_NOT_FOUND
            message: 여행사를 찾을 수 없습니다.
    DuplicateAgencyName:
      description: 같은 명칭의 **활성** 여행사가 이미 있음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: DUPLICATE_AGENCY_NAME
            message: 이미 사용 중인 여행사 명칭입니다.

  schemas:

    AdminRole:
      type: string
      enum: [SUPER_ADMIN, STAFF]
      description: |
        관리자 등급.
        - `SUPER_ADMIN` — 전체 권한. 쓰기 가능.
        - `STAFF` — 일반 관리자. **조회 전용**(접객용).

    LoginRequest:
      type: object
      required: [loginId, password]
      properties:
        loginId:
          type: string
          description: 관리자 아이디. admin_account.login_id 와 대조(고유).
        password:
          type: string
          format: password
          description: 평문 비밀번호. 서버가 BCrypt 해시와 대조한다.

    AdminSessionResponse:
      type: object
      required: [adminId, loginId, role, expiresAt]
      properties:
        adminId:
          type: string
          description: 관리자 PK(숫자지만 문자열로 직렬화된다).
        loginId: { type: string }
        role: { $ref: '#/components/schemas/AdminRole' }
        expiresAt:
          type: string
          format: date-time
          description: 액세스 토큰 만료 시각(UTC). 발급 시점 +4시간.

    Asset:
      type: object
      required: [assetId, name, category, deleted, hasInventoryRecords, createdAt, updatedAt]
      description: |
        대여 자산의 **명칭·카테고리 마스터**(S1-A2). 자산은 이 둘만 가진다 — 보유
        대수는 전부 재고 세팅(S1-A3)이 `자산 × 날짜` 단위로 관리하므로 이 스키마에
        수량 필드는 없다. 사유(수리/입고/외부임대)도 관리하지 않는다.
      properties:
        assetId:
          type: string
          description: 자산 PK(숫자지만 문자열로 직렬화된다).
        name: { type: string }
        category:
          allOf:
            - $ref: '#/components/schemas/AssetCategory'
          description: |
            등록 때 정해지고 이후 바뀌지 않는다. 복원해도 그대로 승계한다.
        deleted:
          type: boolean
          description: |
            소프트 삭제 여부. true 면 화면 하단 '삭제됨' 섹션에 놓고 수정은 막되
            복원은 허용한다. 재고 세팅의 자산 선택기에서도 제외한다.
        hasInventoryRecords:
          type: boolean
          description: |
            이 자산을 참조하는 **날짜별 재고 레코드(기준 보유량 이력 또는 재고 조정)가
            1건 이상** 있는지. 삭제 모달의 문구·처리 분기(CASE 1 완전 삭제 / CASE 2
            소프트 삭제)를 삭제를 부르기 전에 정하기 위한 값이다.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt:
          type: [string, 'null']
          format: date-time
          description: 소프트 삭제 시각. `deleted` 가 false 면 null.

    AssetCategory:
      type: string
      enum: [BICYCLE, FISHING_ROD]
      description: |
        자산의 상위 분류 — 자전거 / 낚싯대. 기획서에 고정된 두 값이며 관리자가 늘릴 수
        없다(S1-A2). 고객앱 카테고리 칩(S1-C1)과 관리자 상품 목록 탭(S1-A4)이 이 값을
        기준으로 갈리고, 상품의 선택 가능 옵션도 여기서 정해진다
        (자전거 = 2시간/1일/2일/야간, 낚싯대 = 1일/2일).

        고객 Core API의 `ProductCategory`(chinguya-slice1-openapi.yaml)와 **같은 값**이다.

    AssetCreateRequest:
      type: object
      required: [name, category]
      description: |
        자산 등록(A2-M1) 요청 본문. 카테고리를 받는 건 등록뿐이라 수정·복원과 스키마를
        나눴다.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 60
          description: 자산 명칭. 서버가 앞뒤 공백을 제거한 뒤 저장·중복검사한다.
        category:
          $ref: '#/components/schemas/AssetCategory'

    AssetNameRequest:
      type: object
      required: [name]
      description: |
        자산 명칭 수정(A2-M2)·복원(A2-M4)이 공유하는 요청 본문. 두 경우 모두 입력 항목이
        명칭 하나뿐이다 — 카테고리는 등록 때만 정하고 여기서는 바꿀 수 없다.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 60
          description: 자산 명칭. 서버가 앞뒤 공백을 제거한 뒤 저장·중복검사한다.

    AssetDeleteResult:
      type: object
      required: [deletion]
      properties:
        deletion:
          type: string
          enum: [HARD, SOFT]
          description: |
            - `HARD` — 재고 레코드가 없어 행을 완전히 지웠다. 목록에서 사라진다.
            - `SOFT` — 재고 레코드가 있어 `deleted_at` 만 찍었다. '삭제됨'으로 남고 복원 가능.

    InventoryDaySnapshot:
      type: object
      required: [date, baseline, totalStock, allocated, customerAvailable, closed, reserved, remaining, hasAdjustment]
      description: 달력 한 칸(하루)의 계산된 스냅샷(S1-A3). 월간 조회가 이 배열을 한 번에 돌려준다.
      properties:
        date: { type: string, format: date }
        baseline:
          type: integer
          description: 그 날짜에 적용되던 기준 보유량(오늘 기준 최신값이 아니라 "그날" 기준).
        totalStock:
          type: integer
          description: 그날 총 보유 = 기준 보유량 + 그날 걸리는 보유 조정 delta 합계(0 미만 불가).
        allocated:
          type: integer
          description: |
            그날 여행사 할당 합(고객 가용에서 빠지는 양). 여행사마다 기준 할당 + 그 여행사
            할당 조정 합(0 미만 불가)을 더한다. 여행사 예약 마감(이용일 D-3)이 지난 날짜는
            안 팔린 할당이 반환되므로 여행사 예약 수만 남는다(헤더 TODO 8 — 지금은 0).
        customerAvailable:
          type: integer
          description: max(totalStock − allocated, 0). 할당 합이 총 보유를 넘는 날(할당 초과)은 0.
        closed:
          type: boolean
          description: 매장 휴무(전 자산 공통) 여부.
        reserved:
          type: integer
          description: |
            고객 예약 확정 수량. ⚠ 예약 백엔드가 없어 헤더 TODO 7이 해소되기 전까지 항상 0.
        remaining:
          type: integer
          description: customerAvailable − reserved. 마이너스면 재고 초과.
        hasAdjustment:
          type: boolean
          description: 이 날짜에 걸리는 재고 조정(보유·할당)이 1건 이상 있는지(달력 점 표시용).

    InventoryDayDetail:
      type: object
      required: [date, baseline, totalStock, allocated, allocationReleased, customerAvailable, closed, reserved, remaining, allocations, adjustments]
      description: 선택일 상세(S1-A3) — 하단 패널이 이 값으로 그린다.
      properties:
        date: { type: string, format: date }
        baseline: { type: integer }
        totalStock: { type: integer }
        allocated:
          type: integer
          description: 고객 가용에서 빠지는 여행사 할당 합(InventoryDaySnapshot.allocated 와 같은 값).
        allocationReleased:
          type: boolean
          description: |
            여행사 예약 마감(이용일 D-3)이 지나 안 팔린 할당이 고객 가용으로 반환된 날짜인지.
            true면 `allocations[].allocated` 는 설정값 그대로이고 `allocated` 에는 여행사 예약 수만 남는다.
        customerAvailable: { type: integer }
        closed: { type: boolean }
        reserved: { type: integer }
        remaining: { type: integer }
        allocations:
          type: array
          description: 그날 할당이 있거나 할당 조정이 걸린 여행사별 줄(여행사 등록 순).
          items: { $ref: '#/components/schemas/AgencyAllocationLine' }
        adjustments:
          type: array
          description: 그날 걸리는 조정 전부 — 보유 조정과 할당 조정이 섞여 있고 `agencyId` 로 구분한다.
          items: { $ref: '#/components/schemas/InventoryAdjustment' }

    AgencyAllocationLine:
      type: object
      required: [agencyId, agencyName, baseline, allocated]
      description: 선택일 상세의 여행사 한 줄.
      properties:
        agencyId: { type: string }
        agencyName: { type: string }
        baseline:
          type: integer
          description: 그 날짜에 적용되던 그 여행사의 기준 할당.
        allocated:
          type: integer
          description: 기준 할당 + 그 여행사 할당 조정 합(0 미만 불가). 삭제된 여행사는 삭제일부터 0.

    AgencyAllocation:
      type: object
      required: [agencyId, agencyName, value]
      description: 여행사의 "지금"(오늘 기준) 기준 할당.
      properties:
        agencyId: { type: string }
        agencyName: { type: string }
        value: { type: integer }

    AllocationChangeRequest:
      type: object
      required: [agencyId, value, startDate]
      description: 여행사 기준 할당 변경 요청(A3-M4).
      properties:
        agencyId: { type: string }
        value: { type: integer, minimum: 0 }
        startDate: { type: string, format: date }
        memo: { type: string, maxLength: 200 }

    InventoryAdjustment:
      type: object
      required: [id, assetId, agencyId, agencyName, tag, delta, startDate, weekdays, memo, createdAt]
      description: 자산의 일시적 재고 증감 1건(A3-M2, 수리·임차 등). 대상이 여행사면 그 여행사 할당만 증감한다.
      properties:
        id: { type: string }
        assetId: { type: string }
        agencyId:
          type: [string, 'null']
          description: null이면 보유 조정, 값이 있으면 그 여행사의 할당 조정.
        agencyName:
          type: [string, 'null']
          description: 할당 조정의 대상 여행사명(삭제된 여행사도 이름은 남는다). 보유 조정이면 null.
        tag:
          type: string
          description: 화면·안내메일 표시용 자유 라벨(예 "임차"/"수리"). 코드값이 아니다.
        delta: { type: integer, description: 증감량(양수/음수). }
        startDate: { type: string, format: date }
        endDate:
          type: [string, 'null']
          format: date
          description: null이면 "종료일 미정"(진행 중) — 복귀일이 정해지면 수정으로 채운다.
        weekdays:
          type: array
          items: { type: integer, minimum: 0, maximum: 6 }
          description: 특정 요일에만 반복 적용(0=일~6=토). 빈 배열이면 기간 내 모든 날짜.
        memo: { type: string }
        createdAt: { type: string, format: date-time }

    AdjustmentRequest:
      type: object
      required: [delta, startDate]
      description: 재고 조정 추가·수정(A3-M2)과 초과 미리보기가 공유하는 요청 본문.
      properties:
        agencyId:
          type: [string, 'null']
          description: 대상. null(또는 생략)이면 보유 조정, 값이 있으면 그 여행사의 할당 조정.
        tag: { type: string, maxLength: 60 }
        delta: { type: integer, description: 0이 아닌 증감량. }
        startDate: { type: string, format: date }
        endDate:
          type: [string, 'null']
          format: date
          description: null이면 종료일 미정.
        weekdays:
          type: [array, 'null']
          items: { type: integer, minimum: 0, maximum: 6 }
        memo: { type: string, maxLength: 200 }

    BaselineChangeRequest:
      type: object
      required: [value, startDate]
      description: 기준 보유량 변경 요청(A3-M1). 구매·처분처럼 영구적인 변화라 적용 시작일을 함께 받는다.
      properties:
        value: { type: integer, minimum: 0 }
        startDate: { type: string, format: date }
        memo: { type: string, maxLength: 200 }

    BaselineResponse:
      type: object
      required: [value]
      properties:
        value:
          type: integer
          description: 자산의 "지금"(오늘 날짜 기준) 기준 보유량.

    OverCapacityDate:
      type: object
      required: [date, reserved, totalStockAfter, allocated]
      description: |
        재고 조정을 실제로 적용하면 예약 초과(고객 예약 > 총 보유 − 할당) 또는 할당 초과
        (할당 합 > 총 보유)가 되는 날짜(A3-M3 초과 경고).
        ⚠ reserved가 항상 0인 동안(헤더 TODO 7)은 할당 초과만 나온다.
      properties:
        date: { type: string, format: date }
        reserved: { type: integer }
        totalStockAfter: { type: integer }
        allocated:
          type: integer
          description: 적용 후 그날 여행사 할당 합. totalStockAfter보다 크면 할당 초과.

    ClosureRequest:
      type: object
      required: [closed]
      description: 매장 휴무 토글 요청 — 전 자산 공통(자산별이 아니다).
      properties:
        closed: { type: boolean }

    ClosureResponse:
      type: object
      required: [date, closed]
      properties:
        date: { type: string, format: date }
        closed: { type: boolean }

    AgencyInvitationStatus:
      type: string
      enum: [NONE, PENDING, EXPIRED, ACCEPTED]
      description: |
        여행사의 **최신** 초대 상태. 목록·상세 화면의 배지 문구가 이 값에서 나온다.
        - `NONE` — 초대를 보낸 적이 없다(등록 직후 메일 발송에 실패한 경우도 여기).
        - `PENDING` — 살아 있는 초대가 있다(미사용·미만료).
        - `EXPIRED` — 마지막 초대가 만료됐다. 재발송이 필요하다.
        - `ACCEPTED` — 담당자가 링크로 계정 등록을 마쳤다. `accountRegistered` 도 true.

    Agency:
      type: object
      required: [agencyId, name, contactName, contactPhone, contactEmail, active, accountRegistered, invitationStatus, deleted, createdAt, updatedAt]
      description: |
        여행사(거래처) 마스터(S2-A1~A3). 로그인 계정은 별도 테이블이라 이 스키마에
        비밀번호 필드가 없고, 계정 존재 여부는 `accountRegistered`·`loginId` 로만 비친다.
      properties:
        agencyId:
          type: string
          description: 여행사 PK(숫자지만 문자열로 직렬화된다).
        name: { type: string }
        contactName:
          type: string
          description: 담당자명. 미입력이면 빈 문자열.
        contactPhone:
          type: string
          description: 담당자 연락처. 미입력이면 빈 문자열.
        contactEmail:
          type: string
          format: email
          description: 담당자 이메일. 초대 메일 수신 주소. 서버가 소문자로 정규화해 저장한다.
        active:
          type: boolean
          description: |
            사용 가능/불가(S2-A1 토글). false면 이 여행사 계정으로 여행사앱 로그인·예약이
            차단된다.
        accountRegistered:
          type: boolean
          description: 담당자가 초대 링크로 아이디·비밀번호를 설정했는지(S2-G1 완료 여부).
        loginId:
          type: [string, 'null']
          description: 등록된 계정의 아이디. `accountRegistered` 가 false면 null.
        invitationStatus: { $ref: '#/components/schemas/AgencyInvitationStatus' }
        invitationExpiresAt:
          type: [string, 'null']
          format: date-time
          description: 최신 초대의 만료 시각(UTC). `PENDING`·`EXPIRED` 일 때만 값이 있다.
        deleted:
          type: boolean
          description: 소프트 삭제 여부. 복원 API는 없다.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt:
          type: [string, 'null']
          format: date-time
          description: 소프트 삭제 시각. `deleted` 가 false면 null.

    AgencyCreateRequest:
      type: object
      required: [name, contactEmail]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
          description: 여행사 명칭. 서버가 앞뒤 공백을 제거한 뒤 저장·중복검사한다.
        contactName: { type: string, maxLength: 50 }
        contactPhone: { type: string, maxLength: 30 }
        contactEmail:
          type: string
          format: email
          maxLength: 255
          description: |
            담당자 이메일. 초대 메일이 이 주소로 나간다.

            **중복을 허용한다** — 한 담당자가 여러 여행사를 맡을 수 있고, 초대 토큰은
            이메일이 아니라 여행사 PK에 묶이므로 링크가 서로 섞이지 않는다.

    AgencyUpdateRequest:
      type: object
      required: [name, contactEmail]
      description: |
        생성 요청과 필드가 같다. `active` 는 여기 없다 — 전용 엔드포인트
        (`PATCH .../active`)로 다룬다.
      properties:
        name: { type: string, minLength: 1, maxLength: 100 }
        contactName: { type: string, maxLength: 50 }
        contactPhone: { type: string, maxLength: 30 }
        contactEmail: { type: string, format: email, maxLength: 255 }

    AgencyActiveRequest:
      type: object
      required: [active]
      properties:
        active: { type: boolean }

    AgencyInvitationResult:
      type: object
      required: [sent]
      description: |
        초대 발송 시도의 결과. **메일 실패를 에러 응답으로 만들지 않기 위한 스키마다** —
        여행사 등록 자체는 성공했는데 SMTP만 죽은 상황을 화면이 구분할 수 있어야 한다.
      properties:
        sent:
          type: boolean
          description: 메일을 실제로 보냈는지. false면 `skippedReason` 을 본다.
        skippedReason:
          type: [string, 'null']
          enum: [MAIL_SEND_FAILED, MAIL_DISABLED, 'null']
          description: |
            - `MAIL_SEND_FAILED` — SMTP 오류. 재발송으로 다시 시도할 수 있다.
            - `MAIL_DISABLED` — 서버 설정(`chinguya.mail.enabled=false`)으로 발송을 끈
              환경(로컬 개발). 초대 토큰 자체는 정상 발급됐고 링크는 서버 로그에 찍힌다.
            `sent` 가 true면 null.
        expiresAt:
          type: [string, 'null']
          format: date-time
          description: 발급된 초대의 만료 시각(UTC, 발급 +7일). 발급 자체가 없었으면 null.

    AgencyCreateResponse:
      type: object
      required: [agency, invitation]
      properties:
        agency: { $ref: '#/components/schemas/Agency' }
        invitation: { $ref: '#/components/schemas/AgencyInvitationResult' }

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            도메인 에러 코드.

            인증(S0-A2):
            - `INVALID_CREDENTIALS` — 아이디 없음 또는 비밀번호 불일치(둘을 구분하지 않는다).

            자산(S1-A2):
            - `ASSET_NOT_FOUND` — 존재하지 않는 자산.
            - `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있다.
            - `ASSET_DELETED` — 삭제된 자산은 수정할 수 없다.
            - `ASSET_ALREADY_DELETED` — 이미 소프트 삭제된 자산을 또 삭제하려 했다.
            - `ASSET_NOT_DELETED` — 삭제 상태가 아닌 자산을 복원하려 했다.

            재고 세팅(S1-A3):
            - `ADJUSTMENT_NOT_FOUND` — 존재하지 않는 재고 조정.
            - `ALLOCATION_EXCEEDS_STOCK` — 여행사 할당 합이 총 보유를 넘는 날짜가 생겨 저장하지 않았다.
            - `AGENCY_NOT_FOUND` — 할당 대상 여행사가 없거나 삭제됐다.

            여행사(S2-A1/A2/A3):
            - `AGENCY_NOT_FOUND` — 존재하지 않거나 삭제된 여행사.
            - `DUPLICATE_AGENCY_NAME` — 같은 명칭의 활성 여행사가 이미 있다.
            - `AGENCY_DELETED` — 삭제된 여행사는 수정·상태변경·재발송할 수 없다.
            - `AGENCY_ALREADY_DELETED` — 이미 삭제된 여행사를 또 삭제하려 했다.
            - `AGENCY_ACCOUNT_ALREADY_EXISTS` — 이미 계정이 등록돼 재발송할 수 없다.
        message: { type: string }
        fieldErrors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              reason: { type: string }

security:
  - adminCookieAuth: []
