openapi: 3.1.0

# =============================================================================
# 친구야 — Slice 1 (자전거 예약 MVP) · 고객 대상 Core API 명세 [v0.9]
#
# 범위: 고객 화면 7종 (S1-C1 상품조회 / S3-C1·S1-C2 상품 상세·예약 캘린더(통합) /
#       S1-C3 예약확인 / S1-C4 입금안내 / S1-C5 내 예약목록 /
#       S1-C6 예약 상세·바우처 / S1-C7 취소 요청)
#       + 고객 계정 (S0-C1 카카오 로그인 / S0-C2 아이디 입력 / S0-C3 세션)
#
# 아키텍처: 프론트(Next.js)는 자체 Route Handler(BFF)를 거쳐 이 Core API를
#           호출한다. JWT는 HttpOnly 쿠키로 BFF→Core에 그대로 전달된다.
#           이 문서는 Core API(api.chinguya.co.kr) 계약을 정의한다.
#
# v0.12 변경(2026-09-21 — 질문하기 S4-C4/C5 실연동):
#   1. `/inquiries` 추가 — 고객 1:1 질문. **전부 고객 로그인 필수**(비로그인 401).
#   2. 목록(`GET /inquiries`)은 전체 고객 글의 **제목·상태만** 준다. 본인 글이면 `mine: true`.
#      본문·답변은 상세(`GET /inquiries/{inquiryId}`)로만 받고, **본인 글만** 열린다.
#      남의 글·없는 글은 구분 없이 404 `INQUIRY_NOT_FOUND`(존재 여부를 흘리지 않는다).
#   3. 질문은 등록·삭제만 된다(수정 불가). 삭제도 본인 글만. 답변은 관리자 문의 관리(S4-A2)가 단다.
#
# v0.11 변경(2026-09-21 — FAQ S4-C3 실연동):
#   1. `GET /faqs` 추가 — 관리자 FAQ 관리(S4-A1)에서 등록한 FAQ를 노출 순서대로 돌려준다.
#      비로그인 열람 허용, 분류·검색·페이지네이션 없음. `x-screens: [S4-C3]`.
#
# v0.10 변경(2026-09-16 — 취소 요청 S1-C7 실연동):
#   1. `GET /bookings/{bookingId}/cancellation-quote`·`POST /bookings/{bookingId}/cancel-request`에
#      `x-screens: [S1-C7]` 부착.
#   2. 대상 항목 규칙 확정: `itemIds` 생략 = **지금 취소 가능한 항목 전부**(v0.9 항목 `cancellable`).
#      지정한 항목은 모두 취소 가능해야 한다.
#      - 예약에 없는 항목 id → 400 `INVALID_BOOKING_ITEM`
#      - 취소 불가 항목(이미 취소·취소요청, 이용일 지남) → 견적 400 / 요청 409 `ITEM_NOT_CANCELLABLE`
#      - 예약 상태가 취소 불가(취소요청·취소)거나 취소 가능한 항목이 없음 → 409 `INVALID_BOOKING_STATUS`
#   3. `FULL` = 대상이 **유효 항목 전부**. 요청이 `FULL`이면 예약 상태도 `CANCEL_REQUESTED`.
#      `FULL_ONLY`(입금대기·접수)에서 `FULL`이 아니면 409 `PARTIAL_CANCEL_NOT_ALLOWED`.
#   4. 항목 수수료 = 결제액 × 요율을 **원 단위 반올림(0.5 올림)**. `daysToUse` = 시작일 − 오늘(JST).
#   5. `RefundAccount` 각 값은 공백 불가·50자 이하 — 위반 시 400 `VALIDATION_ERROR`.
#
# v0.9 변경(2026-09-16 — 예약 상세·바우처 S1-C6 실연동):
#   1. `GET /bookings/{bookingId}`에 `x-screens` 부착. 남의 예약·없는 예약은 404 `BOOKING_NOT_FOUND`.
#   2. 취소 가능 판정 확정:
#      - 항목 `cancellable` = 항목이 `ACTIVE` + 예약이 입금대기·접수·완료 + **첫 이용일이 오늘(JST)
#        이후**(당일 포함 — 당일 취소도 요율표의 '당일' 구간으로 받는다).
#      - 예약 `cancellable` = 취소 가능한 항목이 하나라도 있다.
#      - `cancellationScope` = 완료면 `ITEM_SELECTABLE`, 입금대기·접수면 `FULL_ONLY`
#        (접수 = 고객 입금 신고만 된 상태라 입금대기와 같이 본다). 취소 불가면 null.
#   3. `BookingItem.refundAmount`·`cancelledAt`은 관리자 취소 확정(S1-A9)이 붙을 때 채운다 — 지금은 null.
#
# v0.8 변경(2026-09-16 — 내 예약 목록 S1-C5 실연동):
#   1. `GET /bookings` 정렬을 **최근 예약 먼저**(생성 시각 내림차순)로 명시하고 `x-screens` 부착.
#   2. `BookingSummary.productName` = 첫 유효 항목의 상품명(유효 항목이 없으면 첫 항목).
#      `totalAmount`는 원 결제액, 새 필드 `activeTotalAmount`는 유효 항목 합계.
#   3. 알 수 없는 `status` 값·page/size 범위 위반은 400 `VALIDATION_ERROR`.
#
# v0.7 변경(2026-09-14 — 상품 상세·예약 캘린더·장바구니·입금 안내 S1-C2~C4 실연동):
#   1. 상품 상세의 `productId`도 목록과 같은 **연결 자산 id**. `options[]` = 그 자산의
#      '표출 ON' 상품.
#   2. 가용성·점유 규칙 확정: 옵션과 무관하게 하루 단위 점유(2일 = 이틀), 야간은 재고
#      있는 날 모두 가능, 2일 + 타지역 반납은 반납 다음 날(시작일 +2)까지 같은 수량 점유.
#   3. 타지역 반납 추가요금은 **대당**: `extraFee = 대당 요금 × 수량`,
#      `lineTotal = 고객가 × 수량 + extraFee`.
#   4. `BookingCreate.passportName` 필수 표기 정정(저장값이 있으면 생략 가능). 저장값이
#      없던 고객은 이 값이 다음 예약 기본값으로 저장된다.
#   5. `DepositInfo`에 `bookingNumber`·`status` 추가 — 입금 안내(S1-C4)가 예약 상세
#      조회 없이 화면을 그린다.
#   6. S3-C1·S1-C2~C4 operation에 `x-screens` 부착, 예약 관련 에러 코드 추가.
#
# v0.6 변경(2026-09-14 — 상품 조회 S1-C1 실연동):
#   1. 상품 목록의 카드 단위를 계약에 명시: **카드 1개 = 연결 자산 1개**.
#      `ProductSummary.productId`는 자산 id이고, '표출 ON' 상품이 1개 이상인
#      자산만 온다. `priceFrom`은 그 자산의 표출 ON 상품 중 최저 고객가.
#   2. `ProductSummary.thumbnailUrl`: 형식을 `/content/images/{fileName}` 경로로
#      바꾸고(uri 아님) 없으면 null. 대표 이미지 규칙을 정했다(1일권 우선).
#   3. `GET /content/images/{fileName}` 추가 — 관리자가 올린 이미지를 고객앱이
#      비로그인으로 읽는 경로.
#   4. `GET /products`에 `x-screens` 부착.
#
# v0.5 변경(2026-09-13 — 고객 카카오 로그인 실연동):
#   1. `auth` 태그 추가: 카카오 인가 URL·카카오 로그인·가입(아이디)·세션·로그아웃.
#      로그인과 가입은 같은 카카오 로그인 엔드포인트에서 결과로 갈린다
#      (`LOGGED_IN` / `SIGNUP_REQUIRED`).
#   2. 고객 아이디 규칙 확정: 영문 소문자+숫자 4~20자, 중복 불가, 변경 불가.
#      표시·식별용이며 로그인 수단이 아니다(비밀번호 없음).
#   3. 소셜 연동은 카카오만. 네이버·구글은 `SocialProvider` 값만 남겨 둔다.
#
# v0.4 변경(2026-09-02, PM 확정 반영 — 와이어프레임 S1-C5/C6/C7 개편과 동시):
#   1. **부분취소(항목 단위 취소) 도입.** 취소 견적·취소 요청이 예약 단위에서
#      **항목 단위**로 바뀐다(`itemIds`). 근거: 취소 수수료가 '이용일 기준
#      차등 요율'인데 한 예약에 이용일이 다른 항목이 섞이므로 **예약 단위
#      일괄 산정이 성립하지 않는다**. 따라서 요율·수수료는 항목별로 산정해
#      합산한다.
#      - `CancellationQuote.feeRate` / `basedOnUseDate` **제거** →
#        `CancellationQuote.items[]`의 항목별 값으로 이동(파괴적 변경).
#   2. **부분취소는 별도 상태값·목록 탭을 만들지 않는다.** 예약 상태
#      (`BookingStatus`)는 그대로 두고 항목 상태(`BookingItemStatus`)를 새로
#      두며, 일부만 취소된 예약은 `Booking.partiallyCancelled=true` 플래그로
#      표시한다(프론트는 '부분취소' 뱃지). 예약 상태는 **유효 항목 기준**으로
#      유지한다. 입금대기·취소요청을 뱃지로 처리하는 v0.3 규칙과 대칭.
#   3. **부분취소 허용 시점 = 완료(COMPLETED) 이후.** `AWAITING_DEPOSIT`
#      (입금대기)에서는 **전체 취소만** 허용한다 — 일부만 취소하면 입금액이
#      바뀌어 입금 안내(S1-C4) 재발행과 관리자 수동 입금확인이 어긋나기
#      때문. 이 규칙은 `Booking.cancellationScope`로 표현하고, 위반 시
#      409 `PARTIAL_CANCEL_NOT_ALLOWED`.
#   4. **1 예약번호 = N 항목**을 계약에 명시. `BookingItem.bookingItemId`를
#      필수로 추가(항목 지정의 키), `BookingSummary`에 `itemCount`·
#      `partiallyCancelled`를 추가해 목록 카드의 "대표 상품명 외 N건"·
#      부분취소 뱃지를 서버 값으로 그릴 수 있게 했다.
#   5. 취소 확정 시 재고 복원 범위를 **해당 항목·날짜**로 한정(문서화).
#
# v0.3 변경(2026-08-25, PM 확정 반영 — 노션 "자전거 예약 MVP 상세 기능
# 명세 최종화"(2026-08-19)를 기준으로 정리):
#   1. 예약 상태 전이 순서 확정(Model B): 생성=입금대기 → 입금확인요청=
#      접수 → 관리자 입금확인=완료. 입금대기·취소요청은 목록 탭 필터에서
#      빠지고 '전체' 탭 안에서 뱃지로만 노출(아래 GET /bookings 참고).
#   2. 임시 홀드 TTL = 15분 확정.
#   3. 취소 수수료 요율 D-7↑10% / D-6~3 20% / D-2~1 30% / 당일 50%를
#      초기값으로 확정. 단, 이 구간·요율은 **DB(정책 테이블)로 관리**하며
#      하드코딩하지 않는다 — 관리자 화면 a-set(S1-A10 계좌·정책 설정)이
#      이미 이 편집 UI로 와이어프레임에 존재하므로, 훗날 그 화면용 관리자
#      CRUD API(별도 문서, chinguya-admin-product-api.yaml과 같은 패턴)를
#      추가해 이 값을 관리하게 될 수 있다.
#   4. 상품/가용성 표기 세부: (a) 카테고리 쿼리 파라미터 방식(GET
#      /products?category=)을 프론트 URL 스킴으로 추천·확정 — 근거는
#      파일 하단 "추천 사항" 참고. (b) 2일+타지역 반납 자동 마감은
#      결정 로그대로 '마감' 단일 표기로 확정(별도 reason 필드 불필요).
#
# ⚠ 남은 협의 항목은 본문에 TODO(협의)로 표시했다. 목록은 파일 하단 참고.
# =============================================================================

info:
  title: 친구야 Core API — Slice 1 (자전거 예약 MVP)
  version: 0.11.0-draft
  description: |
    고객 자전거 예약 MVP의 Core API.
    - 통화: KRW 정수(원). 소수점 없음.
    - 언어: 한국어 단일(i18n 미사용).
    - 날짜: `YYYY-MM-DD`. 예약 가능 기간 판정의 '오늘'은 **일본 시간(JST)** 기준.
    - 상품 사진·설명은 대여 옵션(2시간/1일/2일/야간)별로 다를 수 있다
      (관리자가 옵션 단위로 등록·관리, chinguya-admin-product-api.yaml 참고).
      상품 상세(S3-C1)에서 옵션을 바꾸면 해당 옵션의 사진·설명으로 전환된다.
      **와이어프레임 개편(2026-09-02)**: 상품 상세(S3-C1)와 예약·캘린더
      (S1-C2)는 한 화면으로 통합됐다. API 계약은 영향 없음(같은 엔드포인트를
      한 화면에서 연달아 호출).
    - 예약 상태 전이(Model B, 2026-08-19 확정): 생성 시 `AWAITING_DEPOSIT`
      (입금대기) → 고객이 입금확인요청 시 `RECEIVED`(접수) → 관리자가
      입금 확인 시 `COMPLETED`(완료). 취소는 `CANCEL_REQUESTED`(취소요청)
      → 관리자 환불 처리 후 `CANCELLED`(취소).
    - **예약 구성 단위(v0.4 확정)**: **1 예약번호 = N 항목**(상품 × 옵션 ×
      이용일 조합). 항목마다 상품·옵션·이용일·수량·금액이 다를 수 있으므로
      예약을 단일 상품·단일 이용일로 표기하지 않는다.
    - **부분취소(v0.4 확정)**: 항목 단위 취소를 지원한다. 수수료는 **항목별
      이용일 기준**으로 각각 산정해 합산한다(예약 단위 일괄 산정 불가).
      부분취소는 **완료(COMPLETED) 이후**부터 허용하며, **입금대기
      (AWAITING_DEPOSIT)에서는 전체 취소만** 가능하다. 부분취소는 별도
      상태값이 아니라 `Booking.partiallyCancelled` 플래그로 표현하고,
      예약 상태는 유효 항목 기준으로 유지한다.
    - 임시 홀드 TTL = 15분(확정). 취소 수수료 요율은 초기값 확정 +
      DB 관리 전제(하단 CancellationQuote 참고).

servers:
  - url: https://api.chinguya.co.kr/v1
    description: 운영(prod)
  - url: http://localhost:8080/v1
    description: 로컬 개발

tags:
  - name: products
    description: 상품 조회·상세 (S1-C1, S3-C1)
  - name: availability
    description: 가용성 조회 (S1-C2)
  - name: cart
    description: 장바구니·임시 홀드 (S1-C2 담기 → S1-C3)
  - name: bookings
    description: 예약 생성·조회·입금요청 (S1-C3, S1-C4, S1-C5, S1-C6)
  - name: cancellation
    description: 취소 견적·요청 (S1-C7, 항목 단위)
  - name: auth
    description: 고객 카카오 로그인·회원가입·세션 (S0-C1, S0-C2, S0-C3)
  - name: faq
    description: 자주 묻는 질문 (S4-C3)
  - name: inquiries
    description: 1:1 질문하기 — 목록·작성·상세·삭제 (S4-C4, S4-C5)

# -----------------------------------------------------------------------------
paths:

  /products:
    get:
      tags: [products]
      summary: 상품 목록 조회 (S1-C1)
      x-screens: [S1-C1]
      description: |
        관리자가 '표출 ON'한 상품만, 카테고리별로 조회. 가격은 고객가 기준.
        비로그인 열람 허용(예약 단계부터 인증 필요).

        **카드 1개 = 연결 자산 1개(v0.6).** 관리자 상품은 자산 × 대여 옵션 단위지만
        고객앱은 자산 단위로 카드를 그리고, 옵션은 상품 상세(S3-C1)의 칩으로 보여준다.
        그래서 `productId`는 자산 id다. '표출 ON' 상품이 1개 이상인 자산만 오며,
        카테고리는 자산의 카테고리다. 정렬은 자산 등록순.

        URL 스킴(추천·확정, 하단 "추천 사항" 참고): Core API는 `category`
        쿼리 파라미터로 단일 엔드포인트를 유지한다. 프론트(Next.js)는 이를
        감싸 `/bicycles`처럼 사람이 읽기 좋은 라우트를 노출하되, 내부적으로
        `GET /products?category=BICYCLE`을 호출한다 — Slice 3의 낚싯대
        (`FISHING_ROD`) 추가 시 새 Core API 엔드포인트 없이 확장된다.
      security: []
      parameters:
        - name: category
          in: query
          required: true
          schema: { $ref: '#/components/schemas/ProductCategory' }
          description: 카테고리 필터. Slice 1은 사실상 bicycle.
        - name: page
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: size
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: 상품 목록
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductListPage'
        '400': { $ref: '#/components/responses/BadRequest' }

  /products/{productId}:
    get:
      tags: [products]
      summary: 상품 상세 조회 (S3-C1)
      x-screens: [S3-C1, S1-C2]
      description: |
        **v0.7**: `productId`는 목록(S1-C1)과 같은 **연결 자산 id**이고, `options[]`는
        그 자산의 '표출 ON' 상품이다(칩 순서 2시간 → 1일 → 2일 → 야간). 표출 ON 상품이
        하나도 없으면 404 `PRODUCT_NOT_FOUND`. 자산에는 설명·사진이 따로 없어 상품 레벨
        `description`은 비어 있고, `imageUrls`는 목록 썸네일과 같은 대표 옵션(1일권 우선)의
        사진이다.

        선택 상품의 대여 옵션(2시간/1일/2일/야간)별 요금을 반환한다.
        2일 옵션에는 '타지역 반납(추가요금)' 가용 여부·추가요금이 포함된다.
        여기서 고른 옵션이 (같은 화면의) 예약 캘린더 날짜 선택 규칙을 결정한다.
        각 옵션(`options[]`)은 관리자가 옵션 단위로 등록한 자체 사진·설명을
        가질 수 있다 — 화면에서 옵션을 바꾸면 `options[].imageUrls`·
        `options[].description`으로 갤러리·설명을 전환하고, 값이 없는
        옵션은 상품 레벨 `imageUrls`·`description`(폴백)을 그대로 쓴다.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProductIdPath'
      responses:
        '200':
          description: 상품 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProductDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

  /products/{productId}/availability:
    get:
      tags: [availability]
      summary: 가용성 조회 (S1-C2 캘린더)
      x-screens: [S1-C2]
      description: |
        선택 옵션 기준으로 예약 가능 날짜와 날짜별 가용 수량 상한을 반환한다.
        규칙:
        - 예약 가능 기간: 오늘(+1일) ~ +3개월. '오늘'은 JST 기준.
        - 가용성 = 재고 × 슬롯 겹침으로 판정.
        - 옵션별 선택 단위: 2시간·1일 → 1일 / 2일 → 연속 2일 / 야간 → 야간 가능일 중 1일.
        - `daysRequired=2`(2일 옵션)에서 각 date는 **연속 2일 예약의 시작일**을 의미한다.
        - 2일 + 타지역 반납 선택 시 익일·익익일 자동 마감(엔진 내부 처리).
          **확정**: 자동 마감된 날짜도 `selectable=false`로만 표기하는
          단일 '마감' 처리다 — 마감 사유를 구분하는 별도 `reason` 필드는
          두지 않는다(결정 로그 2026-08-19).

        **v0.7 확정(2026-09-14)**:
        - 잔여 = 그날 고객 가용(S1-A3 재고 세팅: 총 보유 − 여행사 할당, 매장 휴무면 0)
          − 예약 점유 − 만료 전 임시 홀드. 재고는 **자산 단위**라 같은 자산의 옵션끼리 공유한다.
        - 옵션과 무관하게 **하루 단위**로 점유한다(2시간도 그날 하루). 야간은 운영일을
          따로 두지 않고 재고가 있는 날이면 모두 가능하다.
        - 2일 + 타지역 반납 = 이용 이틀 + **반납 다음 날(시작일 +2)까지 같은 수량 점유**.
          위의 "익일·익익일 자동 마감"을 이렇게 구현한다.
        - `remaining` = 그 날짜를 시작일로 잡을 때 점유하는 날들의 잔여 최솟값.
          이용일이 예약 가능 기간을 벗어나면 `selectable=false`, `remaining=0`.
        - `crossRegionReturn=true`는 그 옵션에서 타지역 반납을 고를 수 있을 때만 반영한다
          (아니면 무시하고 응답의 `crossRegionReturn`은 false).
        - 필수 파라미터 누락·`from > to`는 400 `VALIDATION_ERROR`, 없거나 표출 OFF인
          상품·옵션은 404 `PRODUCT_NOT_FOUND`.
      security: []
      parameters:
        - $ref: '#/components/parameters/ProductIdPath'
        - name: optionType
          in: query
          required: true
          schema: { $ref: '#/components/schemas/RentalOptionType' }
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
          description: 조회 시작일(JST). 미지정 하한은 서버가 오늘+1로 보정.
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
          description: 조회 종료일(JST). 상한 초과분은 서버가 +3개월로 보정.
        - name: crossRegionReturn
          in: query
          schema: { type: boolean, default: false }
          description: 타지역 반납 여부(2일 옵션에서만 유효).
      responses:
        '200':
          description: 날짜별 가용성
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Availability' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /content/images/{fileName}:
    get:
      tags: [products]
      summary: 관리자가 올린 이미지 읽기 (v0.6)
      x-screens: []
      description: |
        `ProductSummary.thumbnailUrl` 등 `/content/images/{fileName}` 값을 고객앱이
        읽는 경로. 비로그인 열람 허용. 파일명은 서버가 만든 UUID + 확장자(png/jpg/webp).
      security: []
      parameters:
        - name: fileName
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: 이미지 바이트
          content:
            image/png:
              schema: { type: string, format: binary }
            image/jpeg:
              schema: { type: string, format: binary }
            image/webp:
              schema: { type: string, format: binary }
        '404': { $ref: '#/components/responses/NotFound' }

  /notices:
    get:
      tags: [notice]
      summary: 공지사항·이벤트 목록 (S4-C6)
      x-screens: [S4-C6]
      description: |
        관리자(S4-A4)가 등록한 글 중 **공개 글만** 돌려준다(숨긴 글은 빠진다). 비로그인 열람 허용.

        정렬은 **고정 글 먼저, 그다음 작성일 내림차순**(같으면 id 내림차순) — 관리자 목록과 같은 순서다.

        화면이 **무한 스크롤**이라 페이지를 이어 붙인다. 본문·첨부는 담지 않는다 — 목록이
        무거워지고 첫 화면이 늦어지기 때문이다. 상세는 `GET /notices/{noticeId}` 로 받는다.
      security: []
      parameters:
        - name: category
          in: query
          required: false
          schema: { $ref: '#/components/schemas/NoticeCategory' }
          description: 비우면 전체. 화면은 탭에 맞춰 항상 하나를 보낸다.
        - name: page
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: size
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: 공개 글 한 페이지. 없으면 `content` 가 빈 배열이다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NoticeListPage' }
        '400':
          description: 카테고리 값이 올바르지 않거나 page·size 범위를 벗어났다(`VALIDATION_ERROR`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /notices/{noticeId}:
    get:
      tags: [notice]
      summary: 공지사항·이벤트 상세 (S4-C6)
      x-screens: [S4-C6]
      description: |
        글 1건의 본문과 첨부 이미지. 비로그인 열람 허용.

        **숨긴 글은 404** 다 — 목록에서 빠졌는데 주소를 직접 치면 보이는 일이 없어야 한다.

        본문의 `![설명](주소)` 표기는 **화면이 이미지로 렌더한다**. 그 외 마크다운 문법은 서버도
        화면도 해석하지 않고 글자 그대로 둔다(관리자 S4-A4와 같은 범위).
      security: []
      parameters:
        - name: noticeId
          in: path
          required: true
          schema: { type: string }
      responses:
        '200':
          description: 글 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NoticeDetail' }
        '404':
          description: 존재하지 않거나 **숨겨진** 글(`NOTICE_NOT_FOUND`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /faqs:
    get:
      tags: [faq]
      summary: FAQ 목록 (S4-C3, v0.11)
      x-screens: [S4-C3]
      description: |
        관리자 FAQ 관리(S4-A1)에서 등록한 FAQ 전체를 노출 순서대로 돌려준다.
        비로그인 열람 허용. 분류·검색·페이지네이션 없음. 없으면 빈 배열.
      security: []
      responses:
        '200':
          description: 노출 순서(오름차순)대로 정렬된 FAQ
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Faq' }

  /inquiries:
    get:
      tags: [inquiries]
      summary: 질문 목록 (S4-C4, v0.12)
      x-screens: [S4-C4]
      description: |
        모든 고객의 질문을 최신순으로 돌려준다. **제목·상태만** 담는다 — 본문·답변은 상세에서 본인 글만.
        본인 글은 `mine: true`(화면은 남의 글을 잠금 표시). 페이지네이션 없음. 없으면 빈 배열.
      responses:
        '200':
          description: 최신순 질문 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InquirySummary' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [inquiries]
      summary: 질문 등록 (S4-C5, v0.12)
      x-screens: [S4-C5]
      description: 제목·본문 앞뒤 공백은 서버가 제거한다. 등록 후 수정할 수 없다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InquiryCreateRequest' }
      responses:
        '201':
          description: 등록됨
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InquiryDetail' }
        '400':
          description: 제목·본문 누락 또는 길이 초과(`VALIDATION_ERROR`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /inquiries/{inquiryId}:
    parameters:
      - name: inquiryId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [inquiries]
      summary: 내 질문 상세 (S4-C5, v0.12)
      x-screens: [S4-C5]
      description: 본인 글만. 남의 글·없는 글은 404 `INQUIRY_NOT_FOUND`.
      responses:
        '200':
          description: 질문 본문과 관리자 답변
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InquiryDetail' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/InquiryNotFound' }
    delete:
      tags: [inquiries]
      summary: 내 질문 삭제 (S4-C5, v0.12)
      x-screens: [S4-C5]
      description: 본인 글만 완전 삭제(답변 포함). 남의 글·없는 글은 404 `INQUIRY_NOT_FOUND`.
      responses:
        '204':
          description: 삭제됨
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/InquiryNotFound' }

  /cart:
    get:
      tags: [cart]
      summary: 장바구니 조회 (S1-C3)
      x-screens: [S1-C3]
      description: |
        담긴 항목·임시 홀드 만료시각·합계를 반환한다. 홀드가 만료된 항목은 조회할 때
        지워지고 응답에서 빠진다(잔여 계산에서는 만료 시각에 이미 빠져 있다).
      responses:
        '200':
          description: 현재 장바구니
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Cart' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /cart/items:
    post:
      tags: [cart]
      summary: 장바구니 담기 = 임시 홀드 생성 (S1-C2 '장바구니 담기')
      x-screens: [S1-C2]
      description: |
        선택 상품·옵션·날짜·수량으로 재고에 **임시 홀드**를 걸어 중복 예약을 방지한다.
        응답의 `holdExpiresAt`까지 유효하며, 만료 시 홀드는 해제된다.
        홀드 TTL = **15분(확정)**.

        **v0.7**:
        - 금액: `unitPrice` = 고객가, `extraFee` = 타지역 반납 대당 추가요금 × 수량,
          `lineTotal` = 고객가 × 수량 + `extraFee`(담는 시점 스냅샷).
        - 점유·잔여 규칙은 가용성 조회와 같다. 잔여가 수량보다 적으면 409 `OUT_OF_STOCK`.
        - 이용일이 예약 가능 기간(오늘+1 ~ +3개월, JST) 밖이면 400 `DATE_NOT_BOOKABLE`.
        - 없거나 표출 OFF인 상품·옵션은 404 `PRODUCT_NOT_FOUND`.
        - 타지역 반납을 고를 수 없는 옵션에 `crossRegionReturn=true`면 400 `VALIDATION_ERROR`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CartItemCreate' }
      responses:
        '201':
          description: 홀드 성공(장바구니 항목 생성)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CartItem' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: 재고 부족 등으로 홀드 불가
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /cart/items/{cartItemId}:
    delete:
      tags: [cart]
      summary: 장바구니 항목 제거(홀드 해제)
      x-screens: [S1-C3]
      description: 없거나 본인 항목이 아니면 404 `CART_ITEM_NOT_FOUND`.
      parameters:
        - name: cartItemId
          in: path
          required: true
          schema: { type: string }
      responses:
        '204': { description: 제거됨 }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings:
    post:
      tags: [bookings]
      summary: 예약 확정 (S1-C3 '예약하고 입금 안내 받기')
      x-screens: [S1-C3]
      description: |
        장바구니(홀드)로부터 예약을 확정 생성한다.
        선행조건: 여권 영문명 필수(저장값 없으면 요청 본문으로 전달).

        **v0.7**:
        - 여권 영문명: 본문 값(앞뒤 공백 제거)을 쓰고, 비었으면 저장값을 쓴다. 둘 다 없으면
          400 `PASSPORT_NAME_REQUIRED`. 저장값이 없던 고객은 이 값이 다음 예약 기본값으로 저장된다.
        - 확정할 홀드가 비었거나, 없는(만료로 지워진) 항목이 섞였거나, 하나라도 만료됐으면
          409 `HOLD_EXPIRED`. 홀드가 이미 재고를 잡고 있으므로 잔여는 다시 따지지 않는다.
        - 예약번호 형식 `FR-{YYMM}{일련번호 4자리 이상}`(YYMM은 JST). 일련번호는 월마다
          초기화하지 않는다.
        - 입금 계좌가 아직 등록되지 않았으면 `depositInfo`는 null이다.
        생성 시 예약번호가 발급되고 입금 안내 정보를 함께 반환한다(S1-C4).
        **확정(Model B)**: 생성 직후 상태는 `AWAITING_DEPOSIT`(입금대기)다.
        이후 고객의 입금확인요청(`/deposit-request`)으로 `RECEIVED`(접수)로
        전이하고, 관리자 입금확인으로 `COMPLETED`(완료)로 전이한다.

        **1 예약번호 = N 항목**: 장바구니의 여러 항목이 하나의 예약번호로
        묶인다. 각 항목은 `bookingItemId`로 식별되며, 취소는 이 단위로
        지정한다(S1-C7).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BookingCreate' }
      responses:
        '201':
          description: 예약 생성됨(상태 = AWAITING_DEPOSIT)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: 홀드 만료·재고 변동으로 확정 불가
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
    get:
      tags: [bookings]
      summary: 내 예약 목록 조회 (S1-C5)
      x-screens: [S1-C5]
      description: |
        상태 탭(전체/접수/완료/취소) 필터. 본인 예약만 반환.
        정렬은 **최근 예약 먼저**(생성 시각 내림차순, v0.8).
        카드 표기에 필요한 `productName`(대표 상품명)·`itemCount`(총 항목 수)·
        `partiallyCancelled`(부분취소 뱃지)를 함께 반환한다.
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ALL, RECEIVED, COMPLETED, CANCELLED]
            default: ALL
          description: |
            목록 탭 필터. 와이어프레임 탭 전체/접수/완료/취소 4종에 대응한다
            (**확정**, 결정 로그 2026-08-19).
            - `AWAITING_DEPOSIT`(입금대기)은 별도 탭이 아니라 `ALL` 안에서
              뱃지로만 노출한다(`RECEIVED` 필터에는 포함되지 않음).
            - `CANCEL_REQUESTED`(취소요청)도 결정 로그에 명시되지는 않았지만,
              입금대기와 동일한 "진행 중 하위상태" 성격이라 대칭 규칙으로
              `ALL` 안에서만 뱃지로 노출하고(`CANCELLED` 필터에는 미포함)
              별도 탭을 두지 않는 것을 추천·적용했다(추천 사항 3번 참고,
              확정 시 조정 가능).
            - **부분취소(v0.4)도 같은 대칭 규칙**: 별도 탭·상태값을 만들지
              않고 `partiallyCancelled=true` 뱃지로만 노출한다. 일부 항목만
              취소된 예약은 **유효 항목 기준 상태**(보통 `COMPLETED`)로
              필터에 잡힌다.
        - name: page
          in: query
          schema: { type: integer, minimum: 0, default: 0 }
        - name: size
          in: query
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
      responses:
        '200':
          description: 예약 목록
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BookingListPage' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /bookings/{bookingId}:
    get:
      tags: [bookings]
      summary: 예약 상세·바우처 조회 (S1-C6)
      x-screens: [S1-C6]
      description: |
        예약번호(현장 이용 증빙), 여권명, 상태와 **항목 리스트**를 반환한다.

        - `items[]`에는 **취소된 항목도 포함**해 반환한다
          (`status=CANCELLED`). 바우처 화면에서 취소 항목을 회색·취소
          뱃지로 남겨 현장 혼선을 막기 위해서다.
        - `totalAmount`는 예약 원 결제액, `activeTotalAmount`는 **유효
          항목 합계**다. 화면 합계는 `activeTotalAmount`를 쓴다.
        - `partiallyCancelled`가 true면 프론트는 '부분취소' 뱃지를 표시한다.
        - `cancellable`은 상태·기간 조건 충족 시 true(취소 버튼 노출 판단),
          `cancellationScope`는 이번 취소가 **전체만 가능한지 항목 선택이
          가능한지**를 알려준다(S1-C7 진입 시 UI 분기).
        - **v0.9 취소 가능 판정**: 항목은 `ACTIVE` + 예약이 입금대기·접수·완료 + 첫 이용일 ≥
          오늘(JST). 예약은 그런 항목이 하나라도 있으면 `cancellable`. 범위는 완료면
          `ITEM_SELECTABLE`, 입금대기·접수면 `FULL_ONLY`.
      parameters:
        - $ref: '#/components/parameters/BookingIdPath'
      responses:
        '200':
          description: 예약 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /bookings/{bookingId}/deposit-info:
    get:
      tags: [bookings]
      summary: 입금 안내 조회 (S1-C4)
      x-screens: [S1-C4]
      description: |
        PG 미사용. 관리자 설정 안내 계좌 1개와 입금액·입금 기한을 반환한다.
        입금 기한(dueBy)은 24시간 내 미입금 시 관리자 강제취소 정책 기준.
        `amount`는 **유효 항목 합계** 기준이다(입금대기 상태에서는 부분취소가
        불가하므로 실무상 예약 전체 금액과 같다 — v0.4 규칙 참고).
      parameters:
        - $ref: '#/components/parameters/BookingIdPath'
      responses:
        '200':
          description: 입금 안내
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DepositInfo' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: 입금 계좌 미등록(`DEPOSIT_ACCOUNT_NOT_CONFIGURED`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /bookings/{bookingId}/deposit-request:
    post:
      tags: [bookings]
      summary: 입금 확인 요청 (S1-C4 CTA)
      x-screens: [S1-C4]
      description: |
        고객이 무통장 입금 후 확인을 요청한다. **확정(Model B)**: 처리
        결과로 상태가 `AWAITING_DEPOSIT` → `RECEIVED`(접수)로 전이된다.
        (관리자 입금확인 시 별도로 `COMPLETED`(완료)로 전이 — 관리자 API,
        Slice 1 범위 밖)
      parameters:
        - $ref: '#/components/parameters/BookingIdPath'
      responses:
        '200':
          description: 요청 접수, 갱신된 예약 반환(상태 = RECEIVED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: 현재 상태에서 요청 불가(`INVALID_BOOKING_STATUS` — 입금대기가 아님, 예 이미 RECEIVED/COMPLETED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /bookings/{bookingId}/cancellation-quote:
    get:
      tags: [cancellation]
      x-screens: [S1-C7]
      summary: 취소 견적 조회 (S1-C7 진입·항목 선택 변경 시)
      description: |
        선택한 항목들의 결제액·취소 수수료·환불 예정액을 반환한다.

        **v0.4 변경(항목 단위)**: 수수료는 **항목별 이용일 기준 차등 요율**로
        각각 산정해 합산한다. 한 예약 안에서도 항목마다 이용일이 다르면
        요율이 다르므로 예약 단위 단일 `feeRate`는 성립하지 않는다 —
        항목별 값은 `items[]`에 담기고, 상위에는 합산값만 둔다.

        - `itemIds` 생략 = **예약 전체**(모든 유효 항목) 기준 견적.
        - `itemIds` 지정 = 해당 항목만 기준(부분취소 견적). 화면에서
          체크박스를 바꿀 때마다 재호출해 합계를 갱신한다.
        - 요율표는 관리자가 편집 가능한 **DB 정책 테이블**에서 조회한다
          (하드코딩 아님 — 하단 CancellationQuoteItem.feeRate 참고).
        - `AWAITING_DEPOSIT`(입금대기)에서 `itemIds`로 **일부만** 요청하면
          409 `PARTIAL_CANCEL_NOT_ALLOWED`(전체 취소만 가능).
      parameters:
        - $ref: '#/components/parameters/BookingIdPath'
        - name: itemIds
          in: query
          required: false
          explode: false
          style: form
          schema:
            type: array
            items: { type: string }
          description: |
            견적 대상 `bookingItemId` 목록(쉼표 구분). 생략 시 **취소 가능한 항목 전체**.
            예약에 없는 항목이면 400 `INVALID_BOOKING_ITEM`, 취소 불가 항목(이미
            취소·취소요청 중, 이용일 지남)이면 400 `ITEM_NOT_CANCELLABLE`.
      responses:
        '200':
          description: 취소 견적(항목별 내역 + 합산)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CancellationQuote' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: |
            취소 불가 상태. `INVALID_BOOKING_STATUS`(취소요청·취소 상태거나 취소
            가능한 항목이 없음), `PARTIAL_CANCEL_NOT_ALLOWED`(입금대기·접수에서
            부분 취소 시도).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /bookings/{bookingId}/cancel-request:
    post:
      tags: [cancellation]
      x-screens: [S1-C7]
      summary: 취소 요청 제출 (S1-C7 '선택 항목 취소 요청')
      description: |
        환불 계좌와 **취소할 항목**을 입력받아 취소를 요청한다.

        **v0.4 변경(항목 단위)**:
        - `itemIds` 생략 = 취소 가능한 항목 전체(v0.10). 지정 = 그 항목만.
        - 지정된 항목의 상태가 `ACTIVE` → `CANCEL_REQUESTED`로 전이한다.
        - **전체 항목**이 요청되면 예약 상태도 `CANCEL_REQUESTED`로 전이한다.
          **일부만** 요청되면 예약 상태는 **유효 항목 기준으로 유지**하고
          `partiallyCancelled=true`만 세운다(별도 상태값 없음).
        - `AWAITING_DEPOSIT`에서는 **전체 취소만** 허용 — 일부 지정 시 409
          `PARTIAL_CANCEL_NOT_ALLOWED`.
        - 실제 환불 이체는 관리자 수동 처리이며, 처리 후 해당 항목이
          `CANCELLED`로 전이하고 **그 항목·날짜의 재고만** 복원된다
          (관리자 API, Slice 1 범위 밖 — a-cancel/S1-A9).
      parameters:
        - $ref: '#/components/parameters/BookingIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CancelRequest' }
      responses:
        '200':
          description: |
            취소 요청 접수, 갱신된 예약 반환(전체 취소면 상태 =
            CANCEL_REQUESTED / 부분취소면 예약 상태 유지 +
            partiallyCancelled = true).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Booking' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409':
          description: |
            취소 불가 상태. `INVALID_BOOKING_STATUS`(취소요청·취소 상태거나 취소
            가능한 항목이 없음), `PARTIAL_CANCEL_NOT_ALLOWED`(입금대기·접수에서
            부분 취소 시도), `ITEM_NOT_CANCELLABLE`(이미 취소·취소요청 중이거나
            이용일이 지난 항목).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/kakao/authorize-url:
    get:
      tags: [auth]
      x-screens: [S0-C1]
      summary: 카카오 인가 URL 조회 (S0-C1)
      description: |
        카카오 동의 화면 주소를 돌려준다. 앱 키를 **서버 설정 한 곳**에서만 관리하려고,
        BFF가 주소를 직접 만들지 않고 이 값을 받아 302 한다.

        `state`는 BFF가 만들어 자기 오리진 쿠키에 보관하고, 카카오 콜백으로 돌아온 값과
        비교한다(CSRF 방지). 서버는 받은 값을 URL에 넣기만 한다.

        `redirectUri`는 BFF가 **자기 오리진**으로 채워 보낸다. 고객 앱이 여러 주소에서 뜨기
        때문이다(로컬 `localhost:3000`, 개발 EC2 의 nip.io 주소). 서버에 하나로 박아 두면
        한쪽이 반드시 깨진다. 서버는 **허용 목록에 있는 값만** 받는다(없으면 400
        `REDIRECT_URI_NOT_ALLOWED`) — 이 값이 카카오가 인가 코드를 실어 보낼 주소라,
        아무 값이나 받으면 남의 인가 코드를 가로챌 수 있기 때문이다.
        여기 쓰는 주소는 **카카오 콘솔에도 등록**돼 있어야 한다.
      security: []
      parameters:
        - name: state
          in: query
          required: true
          schema: { type: string }
        - name: redirectUri
          in: query
          required: false
          description: |
            카카오 콜백 주소(`{고객 앱 오리진}/api/customer/kakao/callback`).
            생략하면 서버 기본값을 쓴다. ⚠ `POST /auth/kakao/login` 에 **같은 값**을 보내야 한다 —
            다르면 카카오가 토큰 교환을 거부한다.
          schema: { type: string, format: uri }
      responses:
        '200':
          description: 카카오 인가 URL
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KakaoAuthorizeUrl' }
        '400': { $ref: '#/components/responses/BadRequest' }

  /auth/kakao/login:
    post:
      tags: [auth]
      x-screens: [S0-C1]
      summary: 카카오 로그인 (S0-C1)
      description: |
        카카오 콜백의 인가 코드로 카카오 사용자(회원번호·닉네임)를 확인한다.
        로그인·회원가입 화면이 **같은 엔드포인트**를 쓰고 결과로 갈린다.

        - 가입된 회원 → `LOGGED_IN` + `access_token` 쿠키.
        - 처음 온 사람 → `SIGNUP_REQUIRED` + `signup_token` 쿠키(10분). 이 쿠키로
          `POST /auth/signup`(S0-C2)을 부른다.

        카카오 회원번호는 응답 본문에 싣지 않는다 — 가입 요청에서 클라이언트가 바꿔
        치지 못하도록 서명된 `signup_token` 안에만 둔다.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/KakaoLoginRequest' }
      responses:
        '200':
          description: 로그인 완료 또는 가입 필요
          headers:
            Set-Cookie:
              schema: { type: string }
              description: |
                `LOGGED_IN`: `access_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=1800`
                `SIGNUP_REQUIRED`: `signup_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=600`
                (`Secure` 는 운영에서만).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/KakaoLoginResult' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: |
            카카오 인증 실패(`KAKAO_AUTH_FAILED`) — 인가 코드 만료·재사용, 앱 키·
            Redirect URI 불일치 등.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/signup:
    post:
      tags: [auth]
      x-screens: [S0-C2]
      summary: 회원가입 — 아이디 설정 (S0-C2)
      description: |
        `signup_token` 쿠키(카카오 로그인의 `SIGNUP_REQUIRED` 결과)와 아이디로 가입을
        마치고 바로 로그인시킨다.

        아이디 규칙: **영문 소문자+숫자 4~20자**, 중복 불가, 가입 후 변경 불가.
        아이디는 표시·식별용이며 로그인 수단이 아니다(비밀번호 없음).
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/SignupRequest' }
      responses:
        '200':
          description: 가입 완료
          headers:
            Set-Cookie:
              schema: { type: string }
              description: |
                `access_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=1800` 발급과
                함께 `signup_token` 을 만료(Max-Age=0)시킨다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CustomerSession' }
        '400':
          description: 아이디 형식 오류(`INVALID_LOGIN_ID`).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          description: |
            `signup_token` 없음·만료(`SIGNUP_TOKEN_INVALID`). 카카오 로그인부터 다시 한다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '409':
          description: |
            `DUPLICATE_LOGIN_ID`(이미 쓰는 아이디), `ALREADY_REGISTERED`(이미 가입된
            카카오 계정).
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /auth/me:
    get:
      tags: [auth]
      x-screens: [S0-C3]
      summary: 현재 세션 조회 (S0-C3)
      description: |
        쿠키의 토큰을 검증하고 세션 정보를 돌려준다. 고객 앱이 처음 뜰 때 불러
        로그인 여부와 아이디·연결 소셜(S0-C3)을 얻는다.
      responses:
        '200':
          description: 세션 정보
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CustomerSession' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/me/passport-name:
    put:
      tags: [auth]
      x-screens: [S0-C3]
      summary: 여권 영문명 수정 (S0-C3)
      description: |
        회원정보 수정 화면에서 저장된 여권 영문명을 바꾼다. 앞뒤 공백은 서버가 제거한다.

        **이미 만들어진 예약은 바뀌지 않는다** — 예약은 확정 시점의 여권명을
        스냅샷으로 들고 있다(booking.passport_name). 여기서 바꾼 값은 **다음 예약부터**
        기본값으로 쓰인다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PassportNameRequest' }
      responses:
        '200':
          description: 수정 후 세션 정보(바뀐 passportName 포함)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CustomerSession' }
        '400':
          description: '`VALIDATION_ERROR` — 여권 영문명 누락·공백만 입력·형식 오류'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /auth/logout:
    post:
      tags: [auth]
      x-screens: [S0-C3]
      summary: 로그아웃 (S0-C3)
      description: |
        쿠키를 만료시킨다. 서버에 세션 저장소가 없으므로(stateless JWT) 실제 효과는
        쿠키 삭제뿐이다.

        ⚠ 이미 만료된 세션으로 부르면 401 이다. BFF는 401 도 로그아웃 성공으로
        취급하고 자기 오리진 쿠키를 지워야 한다.
      responses:
        '204':
          description: 로그아웃 완료
          headers:
            Set-Cookie:
              schema: { type: string }
              description: 만료된 `access_token` (Max-Age=0).
        '401': { $ref: '#/components/responses/Unauthorized' }

# -----------------------------------------------------------------------------
components:

  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: access_token
      description: HttpOnly 쿠키의 액세스 토큰(JWT). 서브도메인별 발급, 유효 30분.

  parameters:
    ProductIdPath:
      name: productId
      in: path
      required: true
      schema: { type: string }
    BookingIdPath:
      name: bookingId
      in: path
      required: true
      schema: { type: string }

  responses:
    BadRequest:
      description: 잘못된 요청
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: 인증 필요/만료
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: 리소스 없음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InquiryNotFound:
      description: 없는 질문이거나 남의 질문(v0.12)
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INQUIRY_NOT_FOUND
            message: 질문을 찾을 수 없습니다.

  schemas:

    ProductCategory:
      type: string
      enum: [BICYCLE, FISHING_ROD]
      description: 자전거 / 낚싯대

    RentalOptionType:
      type: string
      enum: [HOURS_2, DAY_1, DAY_2, NIGHT]
      description: 2시간 / 1일 / 2일 / 야간

    BookingStatus:
      type: string
      enum: [RECEIVED, AWAITING_DEPOSIT, COMPLETED, CANCEL_REQUESTED, CANCELLED]
      description: |
        **확정(Model B, 결정 로그 2026-08-19)**. 전이 순서:
        생성 → 입금대기(AWAITING_DEPOSIT) → [고객 입금확인요청] →
        접수(RECEIVED) → [관리자 입금확인] → 완료(COMPLETED).
        취소: [고객 취소요청] → 취소요청(CANCEL_REQUESTED) →
        [관리자 환불 처리] → 취소(CANCELLED).
        목록 필터(GET /bookings)에서 AWAITING_DEPOSIT·CANCEL_REQUESTED는
        별도 탭이 아니라 'ALL' 안 뱃지로만 노출한다.

        **부분취소는 이 enum에 값을 추가하지 않는다(v0.4 확정)**. 일부 항목만
        취소된 예약의 상태는 **유효 항목 기준**으로 유지하고
        `Booking.partiallyCancelled` 플래그로만 구분한다.

    BookingItemStatus:
      type: string
      enum: [ACTIVE, CANCEL_REQUESTED, CANCELLED]
      description: |
        **v0.4 신규.** 예약 '항목'의 상태.
        - `ACTIVE`(유효): 정상 항목. 바우처에서 유효 항목으로 표시·합산.
        - `CANCEL_REQUESTED`(취소요청): 고객이 취소 요청, 관리자 환불 대기.
        - `CANCELLED`(취소): 관리자 환불 처리 완료. 바우처에는 회색·취소
          뱃지로 **남겨서** 표시하되 합계에서는 제외한다.

    CancellationScope:
      type: string
      enum: [FULL_ONLY, ITEM_SELECTABLE]
      description: |
        **v0.4 신규.** 현재 이 예약에 허용되는 취소 범위.
        - `FULL_ONLY`: 전체 취소만 가능. `AWAITING_DEPOSIT`(입금대기)일 때 —
          일부만 취소하면 입금액이 바뀌어 입금 안내 재발행·관리자 수동
          입금확인이 어긋나기 때문(확정 2026-09-02).
        - `ITEM_SELECTABLE`: 항목 선택 취소(부분취소) 가능.
          `COMPLETED`(완료) 이후.
        S1-C7은 이 값으로 체크박스 노출 여부를 분기한다.

    Money:
      type: integer
      minimum: 0
      description: KRW 정수(원).

    NoticeCategory:
      type: string
      enum: [NOTICE, EVENT]
      description: 공지사항·이벤트 **2개 고정**. 화면의 캡슐 탭이 이 둘이다.

    NoticeSummary:
      type: object
      required: [noticeId, category, title, createdAt, pinned]
      description: 목록 한 줄(S4-C6). 본문·첨부는 상세에서 받는다.
      properties:
        noticeId: { type: string, example: '12' }
        category: { $ref: '#/components/schemas/NoticeCategory' }
        title: { type: string }
        createdAt:
          type: string
          format: date
          description: 작성일. 화면이 카드 오른쪽에 표시한다.
        pinned:
          type: boolean
          description: true 면 목록 맨 위에 붙는다. 화면이 따로 표시하지 않아도 순서로 드러난다.
        eventStartDate: { type: string, format: date, nullable: true }
        eventEndDate:
          type: string
          format: date
          nullable: true
          description: 이 날짜가 지난 이벤트는 화면이 '종료'로 표시한다.

    NoticeListPage:
      type: object
      required: [content, page, size, totalElements]
      description: 무한 스크롤이 이어 붙이는 한 페이지.
      properties:
        content:
          type: array
          items: { $ref: '#/components/schemas/NoticeSummary' }
        page: { type: integer, minimum: 0 }
        size: { type: integer, minimum: 1 }
        totalElements: { type: integer, minimum: 0 }

    NoticeDetail:
      allOf:
        - $ref: '#/components/schemas/NoticeSummary'
        - type: object
          required: [content, imageUrls]
          properties:
            content:
              type: string
              description: |
                줄바꿈이 보존돼 있다. `![설명](주소)` 표기는 화면이 이미지로 바꿔 보여준다.
                다른 마크다운 문법은 글자 그대로다.
            imageUrls:
              type: array
              description: 첨부 이미지. 본문 아래에 순서대로 보여준다.
              items: { type: string }

    Faq:
      type: object
      required: [faqId, question, answer]
      description: FAQ 한 건(v0.11). 배열 순서가 곧 노출 순서다.
      properties:
        faqId: { type: string }
        question: { type: string, maxLength: 200 }
        answer: { type: string, maxLength: 2000 }

    InquiryStatus:
      type: string
      enum: [WAITING, ANSWERED]
      description: 답변이 없으면 `WAITING`(대기), 있으면 `ANSWERED`(답변완료). v0.12.

    InquirySummary:
      type: object
      required: [inquiryId, title, status, mine, createdAt]
      description: 질문 목록 한 줄(v0.12). 본문·답변은 담지 않는다.
      properties:
        inquiryId: { type: string }
        title: { type: string }
        status: { $ref: '#/components/schemas/InquiryStatus' }
        mine:
          type: boolean
          description: 로그인한 고객이 쓴 글이면 true. false면 화면은 잠금 표시하고 상세를 열지 않는다.
        createdAt: { type: string, format: date-time }

    InquiryDetail:
      type: object
      required: [inquiryId, title, content, status, createdAt]
      description: 내 질문 상세(v0.12).
      properties:
        inquiryId: { type: string }
        title: { type: string }
        content: { type: string }
        status: { $ref: '#/components/schemas/InquiryStatus' }
        answer:
          type: [string, 'null']
          description: 관리자 답변. 없으면 null.
        answeredAt: { type: [string, 'null'], format: date-time }
        createdAt: { type: string, format: date-time }

    InquiryCreateRequest:
      type: object
      required: [title, content]
      properties:
        title: { type: string, minLength: 1, maxLength: 100 }
        content: { type: string, minLength: 1, maxLength: 2000 }

    ProductSummary:
      type: object
      required: [productId, name, category, priceFrom]
      description: 상품 목록 카드 1장 = 연결 자산 1개(v0.6).
      properties:
        productId:
          type: string
          description: 연결 자산 id. 관리자 상품(자산 × 옵션) id가 아니다.
        name:
          type: string
          description: 자산 명칭.
        category: { $ref: '#/components/schemas/ProductCategory' }
        thumbnailUrl:
          type: [string, 'null']
          description: |
            목록 카드 대표 이미지. `/content/images/{fileName}` 경로이며
            `GET /content/images/{fileName}`으로 읽는다. 그 자산의 '표출 ON'
            상품 중 **1일권 → 2시간 → 2일 → 야간** 순서로, 이미지가 있는 첫
            상품의 첫 이미지(`imageUrls[0]`)를 쓴다. 이미지가 하나도 없으면 null.
        priceFrom:
          allOf:
            - $ref: '#/components/schemas/Money'
          description: 요약 표기용 최저가 — 그 자산의 '표출 ON' 상품 중 최저 고객가.

    ProductListPage:
      type: object
      required: [content, page, size, totalElements]
      properties:
        content:
          type: array
          items: { $ref: '#/components/schemas/ProductSummary' }
        page: { type: integer }
        size: { type: integer }
        totalElements: { type: integer }

    RentalOption:
      type: object
      required: [optionType, price, daysRequired]
      properties:
        optionType: { $ref: '#/components/schemas/RentalOptionType' }
        price:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 옵션 기본 요금(고객가).
        daysRequired:
          type: integer
          enum: [1, 2]
          description: 선택 단위 일수. 2시간·1일·야간=1, 2일=2.
        crossRegionReturnAvailable:
          type: boolean
          description: 타지역 반납 가능 여부(2일 옵션에서만 true 가능).
        crossRegionReturnExtraFee:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 타지역 반납 추가요금(대당, 가능한 경우).
        description:
          type: string
          description: |
            이 옵션 전용 상세 설명. 관리자가 옵션 단위로 등록한 값
            (chinguya-admin-product-api.yaml BicycleProduct.description).
            없으면 프론트는 ProductDetail.description(폴백)을 사용한다.
        imageUrls:
          type: array
          items: { type: string, format: uri }
          description: |
            이 옵션 전용 이미지(다중). 관리자가 옵션 단위로 등록한 값
            (chinguya-admin-product-api.yaml BicycleProduct.imageUrls).
            상품 상세 화면에서 옵션을 바꾸면 이 배열로 갤러리를 전환한다.
            없으면 ProductDetail.imageUrls(폴백)를 사용한다.

    ProductDetail:
      type: object
      required: [productId, name, category, options]
      properties:
        productId: { type: string }
        name: { type: string }
        category: { $ref: '#/components/schemas/ProductCategory' }
        description:
          type: string
          description: |
            상품 레벨 기본 설명(폴백). 옵션에 `options[].description`이
            있으면 옵션 선택 시 그 값으로 대체 표시한다.
        imageUrls:
          type: array
          items: { type: string, format: uri }
          description: |
            상품 레벨 기본 이미지(폴백). 옵션에 `options[].imageUrls`가
            있으면 옵션 선택 시 그 배열로 대체 표시한다.
        options:
          type: array
          items: { $ref: '#/components/schemas/RentalOption' }

    AvailabilityDate:
      type: object
      required: [date, selectable, remaining]
      properties:
        date: { type: string, format: date }
        selectable:
          type: boolean
          description: |
            해당 date를 (옵션 단위의) 선택 시작일로 고를 수 있는지. 재고
            소진이든 2일+타지역반납 자동 마감이든 사유 구분 없이 이 단일
            불리언 + 프론트의 '마감' 표기로 충분하다(확정, reason 필드 없음).
        remaining:
          type: integer
          minimum: 0
          description: 선택 가능 수량 상한.

    Availability:
      type: object
      required: [productId, optionType, daysRequired, bookableFrom, bookableTo, dates]
      properties:
        productId: { type: string }
        optionType: { $ref: '#/components/schemas/RentalOptionType' }
        daysRequired: { type: integer, enum: [1, 2] }
        crossRegionReturn: { type: boolean }
        bookableFrom:
          type: string
          format: date
          description: 오늘+1(JST).
        bookableTo:
          type: string
          format: date
          description: 오늘+3개월(JST).
        dates:
          type: array
          items: { $ref: '#/components/schemas/AvailabilityDate' }

    CartItemCreate:
      type: object
      required: [productId, optionType, startDate, quantity]
      properties:
        productId: { type: string }
        optionType: { $ref: '#/components/schemas/RentalOptionType' }
        startDate:
          type: string
          format: date
          description: 선택 시작일. 2일 옵션이면 연속 2일이 자동 산정된다.
        quantity: { type: integer, minimum: 1 }
        crossRegionReturn: { type: boolean, default: false }

    CartItem:
      type: object
      required: [cartItemId, productId, productName, optionType, dates, quantity, lineTotal, holdExpiresAt]
      properties:
        cartItemId: { type: string }
        productId: { type: string }
        productName: { type: string }
        optionType: { $ref: '#/components/schemas/RentalOptionType' }
        dates:
          type: array
          items: { type: string, format: date }
          description: 실제 이용일(2일 옵션이면 연속 2일).
        quantity: { type: integer }
        crossRegionReturn: { type: boolean }
        unitPrice: { $ref: '#/components/schemas/Money' }
        extraFee:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 타지역 반납 추가요금 합(대당 요금 × 수량, v0.7).
        lineTotal:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 고객가 × 수량 + extraFee.
        holdExpiresAt:
          type: string
          format: date-time
          description: 임시 홀드 만료 시각. TTL = 15분(확정, 생성 시각+15분).

    Cart:
      type: object
      required: [items, totalAmount]
      properties:
        items:
          type: array
          items: { $ref: '#/components/schemas/CartItem' }
        totalAmount: { $ref: '#/components/schemas/Money' }
        earliestHoldExpiresAt:
          type: string
          format: date-time
          description: 담긴 항목 중 가장 이른 홀드 만료(타이머 표기용).

    BookingCreate:
      type: object
      properties:
        passportName:
          type: string
          description: 여권 영문명(확정 선행조건). 저장값이 있으면 생략 가능(v0.7 필수 표기 정정).
        cartItemIds:
          type: array
          items: { type: string }
          description: 확정할 장바구니 항목. 생략 시 장바구니 전체.

    BookingItem:
      type: object
      required: [bookingItemId, productId, productName, optionType, dates, quantity, lineTotal, status]
      properties:
        bookingItemId:
          type: string
          description: |
            **v0.4 신규(필수).** 항목 식별자. 취소 견적·취소 요청에서
            `itemIds`로 지정하는 키다.
        productId: { type: string }
        productName: { type: string }
        optionType: { $ref: '#/components/schemas/RentalOptionType' }
        dates:
          type: array
          items: { type: string, format: date }
          description: |
            이 항목의 실제 이용일(2일 옵션이면 연속 2일).
            **항목마다 다를 수 있다** — 예약 단위 단일 이용일 표기는 불가.
        quantity: { type: integer }
        crossRegionReturn: { type: boolean }
        lineTotal: { $ref: '#/components/schemas/Money' }
        status:
          allOf: [ { $ref: '#/components/schemas/BookingItemStatus' } ]
          description: |
            **v0.4 신규(필수).** 항목 상태. 취소된 항목도 `items[]`에 남아
            반환되므로 바우처에서 회색·취소 뱃지로 표시할 수 있다.
        cancellable:
          type: boolean
          description: |
            **v0.4 신규.** 이 항목을 지금 취소 대상으로 고를 수 있는지.
            `status=ACTIVE`이고 예약 상태·기간 조건을 충족할 때 true.
            S1-C7의 체크박스 활성 여부에 대응한다.
        refundAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: |
            **v0.4 신규.** 이 항목이 취소된 경우 실제 환불액(수수료 차감 후).
            `status`가 CANCELLED일 때만 채워진다(바우처의 '환불' 라인).
        cancelledAt:
          type: string
          format: date-time
          description: 취소 확정 시각(status=CANCELLED일 때).

    Booking:
      type: object
      required: [bookingId, bookingNumber, status, items, totalAmount, activeTotalAmount, passportName, createdAt]
      properties:
        bookingId: { type: string }
        bookingNumber:
          type: string
          description: 예약번호. 현장 이용 시 증빙(바우처) 역할.
        status: { $ref: '#/components/schemas/BookingStatus' }
        items:
          type: array
          items: { $ref: '#/components/schemas/BookingItem' }
          description: |
            예약 항목 전체. **취소된 항목도 포함**해 반환한다(바우처에서
            회색·취소 뱃지로 남기기 위함). 유효 항목만 필요하면
            `status=ACTIVE`로 필터한다.
        totalAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 예약 원 결제액(취소 항목 포함, 이력용).
        activeTotalAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: |
            **v0.4 신규(필수).** 유효 항목(`status=ACTIVE`) 합계.
            바우처·입금 안내의 화면 합계는 이 값을 쓴다.
        partiallyCancelled:
          type: boolean
          description: |
            **v0.4 신규.** 일부 항목만 취소(또는 취소요청)된 상태.
            프론트는 이 값으로 '부분취소' 뱃지를 표시한다. 별도
            BookingStatus 값을 만들지 않기로 한 결정의 표현(2026-09-02 확정).
        passportName: { type: string }
        cancellable:
          type: boolean
          description: 상태·기간 조건 충족 시 true(S1-C6 취소 버튼 노출 판단).
        cancellationScope:
          allOf: [ { $ref: '#/components/schemas/CancellationScope' } ]
          description: |
            **v0.4 신규.** 지금 허용되는 취소 범위(전체만 / 항목 선택 가능).
            `cancellable=true`일 때 의미가 있다.
        depositInfo:
          $ref: '#/components/schemas/DepositInfo'
        createdAt: { type: string, format: date-time }

    BookingSummary:
      type: object
      required: [bookingId, bookingNumber, status, productName, itemCount, useDates, totalAmount, createdAt]
      properties:
        bookingId: { type: string }
        bookingNumber: { type: string }
        status: { $ref: '#/components/schemas/BookingStatus' }
        productName:
          type: string
          description: |
            대표 상품명(첫 유효 항목 기준, 유효 항목이 없으면 첫 항목). 카드 제목은 프론트에서
            `productName` + `itemCount`로 "전기 자전거 외 2건"을 만든다.
        itemCount:
          type: integer
          minimum: 1
          description: |
            **v0.4 신규(필수).** 예약의 총 항목 수(취소 항목 포함).
            "외 N건"의 N은 `itemCount - 1`이다.
        partiallyCancelled:
          type: boolean
          description: |
            **v0.4 신규.** 목록 카드의 '부분취소' 뱃지 표시용.
        useDates:
          type: array
          items: { type: string, format: date }
          description: |
            예약에 포함된 이용일 전체(항목별 이용일의 합집합, 오름차순).
            항목마다 이용일이 다를 수 있으므로 단일 값이 아니다.
        totalAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 원 결제액(취소 항목 포함).
        activeTotalAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 유효 항목 합계(v0.8). 카드 금액 표기용.
        createdAt: { type: string, format: date-time }

    BookingListPage:
      type: object
      required: [content, page, size, totalElements]
      properties:
        content:
          type: array
          items: { $ref: '#/components/schemas/BookingSummary' }
        page: { type: integer }
        size: { type: integer }
        totalElements: { type: integer }

    DepositInfo:
      type: object
      required: [bookingNumber, status, bankName, accountNumber, accountHolder, amount]
      properties:
        bookingNumber:
          type: string
          description: 예약번호(v0.7). 입금 안내 화면이 예약 상세 조회 없이 표시한다.
        status:
          allOf: [ { $ref: '#/components/schemas/BookingStatus' } ]
          description: 예약 상태(v0.7). `AWAITING_DEPOSIT`일 때만 입금 확인 요청을 할 수 있다.
        bankName: { type: string }
        accountNumber: { type: string }
        accountHolder: { type: string }
        amount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 입금액(유효 항목 합계 = Booking.activeTotalAmount).
        dueBy:
          type: string
          format: date-time
          description: 입금 기한(생성+24h). 초과 시 관리자 강제취소 대상.

    CancellationQuoteItem:
      type: object
      required: [bookingItemId, productName, optionType, useDate, daysToUse, feeRate, lineAmount, cancellationFee, refundAmount]
      properties:
        bookingItemId: { type: string }
        productName: { type: string }
        optionType: { $ref: '#/components/schemas/RentalOptionType' }
        useDate:
          type: string
          format: date
          description: |
            이 항목의 요율 산정 기준 이용일(2일 옵션이면 시작일). JST 기준.
        daysToUse:
          type: integer
          description: |
            기준 이용일까지 남은 일수(D-day, JST 기준 '오늘'). 화면의
            'D-6' 표기에 대응한다. 당일이면 0.
        feeRate:
          type: number
          description: |
            이 항목에 적용된 요율(0~1). 초기값(확정, 결정 로그 2026-08-19):
            D-7 이상 10% / D-6~D-3 20% / D-2~D-1 30% / 당일 50%.
            **이 구간·요율은 코드에 하드코딩하지 않고 DB 정책 테이블에서
            조회한다** — 관리자 화면 a-set(S1-A10 계좌·정책 설정)에서 편집한다
            (관리자 API: chinguya-admin-api.yaml `PUT /admin/settings`).
            **v0.4**: 항목마다 이용일이 다르면 요율도 달라지므로, 요율은
            예약이 아니라 **항목** 단위 값이다.
        lineAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 이 항목의 결제액(BookingItem.lineTotal).
        cancellationFee:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 이 항목의 취소 수수료(lineAmount × feeRate, 원 단위 반올림 — 0.5는 올림).
        refundAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 이 항목의 환불 예정액(lineAmount − cancellationFee).

    CancellationQuote:
      type: object
      required: [bookingId, scope, items, selectedAmount, cancellationFee, refundAmount]
      description: |
        **v0.4 구조 변경.** 항목별 내역(`items[]`) + 합산값 구조로 바뀌었다.
        예약 단위 단일 `feeRate`·`basedOnUseDate`는 **제거**됐다 — 한 예약에
        이용일이 다른 항목이 섞이면 단일 요율이 성립하지 않기 때문.
      properties:
        bookingId: { type: string }
        scope:
          type: string
          enum: [FULL, PARTIAL]
          description: |
            이번 견적이 예약 전체 대상인지(`FULL`, itemIds 생략 또는 전 항목
            지정) 일부 대상인지(`PARTIAL`).
        items:
          type: array
          items: { $ref: '#/components/schemas/CancellationQuoteItem' }
          description: 선택된 항목별 요율·수수료·환불 내역.
        paidAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 예약 전체 결제액(참고용 컨텍스트).
        selectedAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 선택 항목 결제액 합계(items[].lineAmount 합).
        cancellationFee:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: |
            취소 수수료 합계(items[].cancellationFee 합).
            **항목별로 각각 산정한 뒤 합산**한 값이다.
        refundAmount:
          allOf: [ { $ref: '#/components/schemas/Money' } ]
          description: 환불 예정액 합계(selectedAmount − cancellationFee).

    RefundAccount:
      type: object
      required: [bankName, accountNumber, accountHolder]
      description: 환불 받을 계좌. 각 값은 공백 불가·50자 이하.
      properties:
        bankName: { type: string, maxLength: 50 }
        accountNumber: { type: string, maxLength: 50 }
        accountHolder: { type: string, maxLength: 50 }

    CancelRequest:
      type: object
      required: [refundAccount]
      properties:
        itemIds:
          type: array
          items: { type: string }
          description: |
            **v0.4 신규.** 취소할 `bookingItemId` 목록. 생략 시 취소 가능한 항목 전체(v0.10).
            `AWAITING_DEPOSIT`(입금대기)에서는 일부 지정이 불가하며(전체
            취소만) 위반 시 409 `PARTIAL_CANCEL_NOT_ALLOWED`.
        refundAccount: { $ref: '#/components/schemas/RefundAccount' }
        reason:
          type: string
          description: 취소 사유(선택).

    KakaoAuthorizeUrl:
      type: object
      required: [url]
      properties:
        url:
          type: string
          format: uri
          description: 카카오 동의 화면 주소. BFF가 이 주소로 302 한다.

    KakaoLoginRequest:
      type: object
      required: [code]
      properties:
        code:
          type: string
          description: 카카오 콜백으로 받은 인가 코드(1회용).
        redirectUri:
          type: string
          format: uri
          description: |
            인가 URL을 받을 때(`GET /auth/kakao/authorize-url`) 쓴 값과 **같아야** 한다 —
            카카오가 두 값을 대조하므로 다르면 토큰 교환이 실패한다. 생략하면 서버 기본값.
            허용 목록 밖이면 400 `REDIRECT_URI_NOT_ALLOWED`.

    KakaoLoginResult:
      type: object
      required: [result, session]
      properties:
        result:
          type: string
          enum: [LOGGED_IN, SIGNUP_REQUIRED]
          description: |
            `LOGGED_IN` = 가입된 회원, 로그인 완료.
            `SIGNUP_REQUIRED` = 처음 온 사람, 아이디 입력(S0-C2)으로 보낸다.
        session:
          oneOf:
            - $ref: '#/components/schemas/CustomerSession'
            - type: 'null'
          description: '`LOGGED_IN`일 때만 값이 있다.'

    SignupRequest:
      type: object
      required: [loginId]
      properties:
        loginId:
          type: string
          pattern: '^[a-z0-9]{4,20}$'
          description: 영문 소문자+숫자 4~20자. 중복 불가, 가입 후 변경 불가.

    SocialProvider:
      type: string
      enum: [KAKAO, NAVER, GOOGLE]
      description: 연결 소셜. 현재 연동은 KAKAO만 있다(NAVER·GOOGLE은 추후).

    PassportNameRequest:
      type: object
      required: [passportName]
      properties:
        passportName:
          type: string
          minLength: 1
          maxLength: 100
          description: |
            여권 영문명. 여권 표기 그대로의 영문 대문자·공백이며, 서버가 앞뒤 공백을
            제거한 뒤 저장한다.

    CustomerSession:
      type: object
      required: [customerId, loginId, socialProvider, expiresAt]
      properties:
        customerId: { type: string }
        loginId: { type: string }
        socialProvider: { $ref: '#/components/schemas/SocialProvider' }
        passportName:
          type: [string, 'null']
          description: |
            저장된 여권 영문명(S0-C3에서 편집). 아직 한 번도 넣지 않았으면 null 이다.
            예약 확정 시 이 값이 booking.passportName 으로 스냅샷 복사된다.
        expiresAt:
          type: string
          format: date-time
          description: 액세스 토큰 만료 시각(UTC).

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            도메인 에러 코드. 예:
            `HOLD_EXPIRED`, `OUT_OF_STOCK`, `PASSPORT_NAME_REQUIRED`,
            그리고 v0.4 취소 관련:
            - `PARTIAL_CANCEL_NOT_ALLOWED` — 입금대기 상태에서 부분취소 시도
              (전체 취소만 가능).
            - `ITEM_NOT_CANCELLABLE` — 이미 취소됐거나 취소요청 중인 항목을
              지정.
            - `INVALID_BOOKING_ITEM` — 이 예약에 속하지 않는 bookingItemId.
            v0.5 고객 인증 관련:
            - `KAKAO_AUTH_FAILED` — 카카오 인가 코드 교환·사용자 조회 실패.
            - `SIGNUP_TOKEN_INVALID` — 가입 쿠키 없음·만료.
            - `INVALID_LOGIN_ID` — 아이디 형식 오류.
            - `DUPLICATE_LOGIN_ID` — 이미 쓰는 아이디.
            - `ALREADY_REGISTERED` — 이미 가입된 소셜 계정.
            v0.7 예약 관련:
            - `PRODUCT_NOT_FOUND` — 없거나 표출 OFF인 상품·옵션.
            - `DATE_NOT_BOOKABLE` — 이용일이 예약 가능 기간 밖.
            - `OUT_OF_STOCK` — 잔여 부족(마감 포함).
            - `CART_ITEM_NOT_FOUND` — 없거나 본인 것이 아닌 장바구니 항목.
            - `HOLD_EXPIRED` — 확정할 홀드가 없거나 만료됨.
            - `BOOKING_NOT_FOUND` — 없거나 본인 것이 아닌 예약.
            - `DEPOSIT_ACCOUNT_NOT_CONFIGURED` — 입금 계좌 미등록.
            - `INVALID_BOOKING_STATUS` — 현재 예약 상태에서 할 수 없는 요청.
        message: { type: string }
        fieldErrors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              reason: { type: string }

security:
  - cookieAuth: []

# =============================================================================
# 추천 사항 (2026-08-25 적용, 팀 확인 환영 — 블로커 아님)
#
# 1. 상품 목록 URL 스킴: Core API는 `GET /products?category=`(쿼리 파라미터)
#    단일 엔드포인트를 유지 추천. 프론트가 `/bicycles` 같은 사람이 읽기
#    좋은 라우트로 감싸되, Core API 계약은 카테고리별 별도 엔드포인트로
#    쪼개지 않는다 — Slice 3 낚싯대(FISHING_ROD) 확장 시 새 엔드포인트
#    불필요.
# 2. 2일+타지역 반납 자동 마감 표기: `reason` 필드 없이 `selectable=false`
#    단일 처리(결정 로그와 일치, 굳이 새 필드를 늘리지 않는 게 더 단순).
# 3. GET /bookings 상태 필터에서 CANCEL_REQUESTED(취소요청)를 AWAITING_
#    DEPOSIT(입금대기)과 대칭으로 취급 — 별도 탭 없이 'ALL' 안에서만
#    뱃지로 노출. 결정 로그에 명시된 건 입금대기 쪽뿐이라 이 부분만
#    추천값이며, "취소 탭에 합치는" 대안도 가능하니 최종 확인 시 조정 여지.
# 4. (v0.4) 부분취소를 BookingStatus에 값으로 추가하지 않고
#    `partiallyCancelled` 플래그로 둔 것은 3번과 같은 대칭 원칙이다 —
#    목록 탭 4종(전체/접수/완료/취소)을 늘리지 않기 위함.
# =============================================================================
# 협의 미확정(TODO) 목록 — 개발자·PM 확정 필요
#
# 1. (해결됨) 취소 수수료 정책 관리자 API
#    - a-set(S1-A10 계좌·정책 설정)을 지원하는 입금 계좌 + 취소 수수료 구간
#      편집 API를 chinguya-admin-api.yaml `GET/PUT /admin/settings` 로 작성했다.
#
# 2. 관리자 강제취소·완료 처리 API + **부분취소 승인(v0.4 추가)**
#    - '완료(입금확인)'·'미입금 강제취소' 전이는 관리자 전용(a-resdetail,
#      S1-A7/A8)이라 이 Core API 밖. 별도 관리자 API 문서 필요.
#    - v0.4로 관리자 취소요청 처리(a-cancel, S1-A9)도 **항목 단위 승인**이
#      됐다. 관리자 API에 `itemIds` 단위 확정·부분환불 엔드포인트가 필요하며,
#      확정 시 해당 항목·날짜의 재고만 복원하는 규칙도 그 문서에 명시해야 한다.
#
# 3. 환불 계좌 재입력 (v0.4 신규)
#    - 부분취소를 여러 번 하면 매번 `refundAccount`를 입력받게 된다.
#      직전 입력값 재사용(회원정보 저장 or 마지막 요청값 프리필) 여부가
#      미확정 — 확정되면 CancelRequest.refundAccount를 선택값으로 바꾸고
#      저장 계좌 조회 필드를 추가할 수 있다.
#
# 4. 수수료 원 단위 반올림 규칙 (v0.4 신규)
#    - `lineAmount × feeRate`의 소수점 처리(반올림/버림/올림)가 미확정.
#      항목별로 계산해 합산하므로 항목 수만큼 오차가 누적될 수 있어
#      규칙을 못박아야 한다(권장: 항목별 반올림 후 합산).
#
# 5. 고객 세션 연장 (v0.5 신규)
#    - `access_token` 은 30분이고 리프레시 토큰이 없다. 30분이 지나면 카카오
#      로그인을 다시 해야 한다(카카오 세션이 살아 있으면 버튼 한 번). 예약 도중
#      만료되는 경험을 막으려면 리프레시 토큰 또는 만료 연장 방식을 정해야 한다.
# =============================================================================
