openapi: 3.1.0

# =============================================================================
# 친구야 — 관리자 대상 Core API 명세 [v0.1]
#
# 범위: 관리자 인증(S0-A2 로그인), 자산 관리(S1-A2), 날짜별 재고 세팅(S1-A3). 나머지
#       관리자 운영 API(상품·예약·인보이스)는 아직 이 문서에 없다 — 구현되는 대로 이어 붙인다.
#
# 고객 대상 계약은 chinguya-slice1-openapi.yaml 에 따로 있다. 그 문서는 헤더에서
# 스스로를 '고객 대상 Core API'로 한정하므로 관리자 계약은 이 파일로 분리한다.
#
# 아키텍처: 관리자 앱(Next.js)은 자체 Route Handler(BFF)를 거쳐 이 Core API를
#           호출한다. Core가 내려준 JWT를 BFF가 자기 오리진 쿠키로 다시 심는다
#           (Core에는 CORS 설정이 없고 쿠키가 SameSite=Lax라 브라우저 직접 호출 불가).
#
# ⚠ 이 문서는 **구현을 역문서화**한 것이다. 통상은 스펙이 먼저이지만(README 참고),
#   관리자 인증은 백엔드(chinguya-api)에 먼저 구현됐다. 아래 내용은 구현
#   (admin/auth/AdminAuthController.java, security/SecurityConfig.java,
#   security/JwtTokenProvider.java)과 1:1로 맞춰 적었다. 이후 변경은 이 문서를
#   먼저 고치는 정상 순서로 돌아간다.
#
# 미확정(TODO 협의):
#   1. AdminSessionResponse 에 **표시 이름(name) 필드가 없다.** 화면(S0-A2 이후
#      공통 헤더 드로어)은 지금 loginId 만 보여줄 수 있다. 이름을 노출하려면
#      admin_account 에 컬럼 추가 + 이 응답 확장이 필요하다.
#   2. **S0-A1(슈퍼어드민 최초 생성) 플로우가 없다.** 현재는 마이그레이션
#      V3__admin_auth.sql 의 임시 시드 계정으로 대체 중이며, 그 파일 주석도
#      운영 배포 전 교체를 경고하고 있다.
#   3. **관리자 계정 CRUD(S0-A5/A6) API가 없다.** V3 마이그레이션이 범위 밖으로
#      명시했다. 프론트의 해당 화면은 그때까지 목 데이터로 동작한다.
#   4. 토큰 만료(4시간) 시 UX가 미정 — 자동 갱신(리프레시 토큰)인지 재로그인인지.
#      갱신 엔드포인트는 아직 없다.
#   5. 로그인 실패 횟수 제한·계정 잠금 정책 없음.
#   6. (해결됨) 자산 삭제의 소프트/하드 분기 기준인 '날짜별 재고 레코드' 테이블(S1-A3)이
#      생겼다. `Asset.hasInventoryRecords` 는 이제 실제 재고 레코드(기준 보유량 이력 또는
#      재고 조정) 유무를 반환하고, DELETE 는 그 값에 따라 HARD/SOFT를 실제로 가른다.
#   7. **"예약(reserved)" 수량은 아직 없다.** 고객 예약(S1-A6~A9)이 DB·백엔드 모두
#      미착수라, 날짜별 재고 세팅 API의 `reserved` 필드는 예약 시스템이 생기기 전까지
#      항상 0으로 내려간다 — 그래서 "초과 경고"(A3-M3)용 미리보기 엔드포인트도 항상
#      빈 배열을 반환한다. 예약 시스템이 생기면 서버의 계산 한 곳만 채우면 되고
#      응답 계약은 그대로다.
# =============================================================================

info:
  title: 친구야 관리자 Core API
  version: 0.1.0
  description: |
    관리자(A) 앱이 쓰는 Core API 계약. 현재는 인증(S0-A2), 자산 관리(S1-A2), 날짜별
    재고 세팅(S1-A3)을 정의한다.

    **권한 모델** — 서버가 강제한다(SecurityConfig):
    - `/admin/**` 는 전부 쿠키 인증 필수(로그인 엔드포인트만 예외). 미인증 시 401.
    - 쓰기 메서드(POST·PUT·PATCH·DELETE)는 **SUPER_ADMIN만** 허용. STAFF가 시도하면 403.
    - 조회(GET)는 인증된 관리자면 누구나.

    즉 '일반 관리자는 조회 전용, 쓰기는 슈퍼어드민'(와이어프레임 공통 규칙)은
    프론트 UI가 아니라 **서버가 최종 강제**한다. 프론트의 버튼 숨김은 정합성을
    맞추는 것일 뿐 보안 경계가 아니다.

servers:
  - url: https://api.chinguya.co.kr
    description: 운영(prod)
  - url: http://localhost:8080
    description: 로컬 개발

# ⚠ 고객 문서(slice1)의 서버 URL에는 `/v1` 프리픽스가 붙지만 관리자 컨트롤러에는
#   없다(@RequestMapping("/admin/auth")). 경로를 그대로 복사하지 말 것.

tags:
  - name: admin-auth
    description: 관리자 로그인·로그아웃·세션 조회 (S0-A2)
  - name: admin-asset
    description: 자산(명칭 마스터) 등록·수정·삭제·복원 (S1-A2)
  - name: admin-inventory
    description: 자산별 날짜별 재고 세팅 — 기준 보유량·재고 조정·매장 휴무 (S1-A3)

# -----------------------------------------------------------------------------
paths:

  /admin/auth/login:
    post:
      tags: [admin-auth]
      summary: 관리자 로그인 (S0-A2)
      description: |
        아이디·비밀번호로 인증하고 액세스 토큰(JWT)을 **HttpOnly 쿠키로** 발급한다.
        비밀번호는 BCrypt 해시와 대조한다.

        아이디가 없는 경우와 비밀번호가 틀린 경우 모두 **같은 401
        (`INVALID_CREDENTIALS`)** 로 응답한다 — 계정 존재 여부가 새지 않게.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: 로그인 성공
          headers:
            Set-Cookie:
              description: |
                `admin_access_token=<JWT>; HttpOnly; SameSite=Lax; Path=/; Max-Age=<4시간>`
                `Secure` 는 환경변수(ADMIN_COOKIE_SECURE)로 결정된다 — 운영은 반드시 true.
              schema: { type: string }
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminSessionResponse' }
        '400':
          description: loginId·password 누락(검증 실패)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/InvalidCredentials'

  /admin/auth/logout:
    post:
      tags: [admin-auth]
      summary: 관리자 로그아웃
      description: 액세스 토큰 쿠키를 Max-Age=0 으로 만료시킨다. 서버는 stateless라 토큰 폐기 목록은 두지 않는다.
      responses:
        '204':
          description: 로그아웃 완료
          headers:
            Set-Cookie:
              description: '`admin_access_token=; Max-Age=0` (쿠키 삭제)'
              schema: { type: string }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/auth/me:
    get:
      tags: [admin-auth]
      summary: 현재 로그인 세션 조회
      description: |
        쿠키의 JWT를 검증해 현재 관리자 정보를 돌려준다. 화면 재진입·새로고침 때
        '내가 누구이고 슈퍼어드민인지'를 확인하는 용도.
      responses:
        '200':
          description: 유효한 세션
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminSessionResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/assets:
    get:
      tags: [admin-asset]
      summary: 자산 목록 조회 (S1-A2)
      description: |
        자산 명칭 마스터 목록. 자산은 소수(현재 4종)라 페이지네이션 없이 전량 반환한다.

        정렬은 **활성 자산 먼저, 그 안에서 등록 순(id 오름차순)** 이다. 화면(S1-A2)은
        `deleted` 로 갈라 활성 자산을 위에, 삭제된 자산을 '삭제됨' 섹션으로 아래에 둔다.
      parameters:
        - name: includeDeleted
          in: query
          required: false
          schema: { type: boolean, default: false }
          description: |
            true 면 소프트 삭제된 자산까지 포함한다. 자산 관리 화면(S1-A2)은 '삭제됨'
            섹션을 그려야 하므로 true 로 부르고, 재고 세팅(S1-A3)의 자산 선택기처럼
            활성 자산만 필요한 곳은 기본값(false)을 쓴다.
      responses:
        '200':
          description: 자산 목록
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Asset' }
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [admin-asset]
      summary: 자산 등록 (A2-M1)
      description: |
        명칭 하나만 받아 자산을 만든다. 앞뒤 공백은 서버가 제거한다.

        중복 검사는 **활성 자산끼리만** 한다 — 소프트 삭제된 자산의 명칭은 재사용할 수
        있어서, 같은 이름이 목록에 둘 보일 수 있다(하나는 '삭제됨').
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetNameRequest' }
      responses:
        '201':
          description: 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락 또는 공백만 입력
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/DuplicateAssetName'

  /admin/assets/{assetId}:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
        description: 자산 PK(숫자지만 문자열로 직렬화된다).

    put:
      tags: [admin-asset]
      summary: 자산 명칭 수정 (A2-M2)
      description: |
        명칭만 바꾼다. **삭제됨 상태의 자산은 수정할 수 없다**(409 `ASSET_DELETED`) —
        되살리려면 복원 엔드포인트를 쓴다. 중복 검사는 등록과 같이 활성 자산끼리만 하며,
        자기 자신은 비교에서 제외한다(값을 바꾸지 않고 저장해도 409가 아니다).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetNameRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락 또는 공백만 입력
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있음
            / `ASSET_DELETED` — 삭제된 자산은 수정 불가
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

    delete:
      tags: [admin-asset]
      summary: 자산 삭제 (A2-M3)
      description: |
        **재고 레코드 유무로 처리가 갈린다** — 0건이면 완전 삭제(hard), 1건 이상이면
        소프트 삭제. 어느 쪽이 일어났는지 응답의 `deletion` 으로 알려준다(화면은 이
        값으로 토스트 문구를 고른다).

        삭제 확인 모달의 문구 분기(CASE 1 / CASE 2)는 목록 응답의
        `hasInventoryRecords` 를 보고 **삭제를 부르기 전에** 정한다.

      responses:
        '200':
          description: 삭제 완료. 어떤 방식으로 지워졌는지 반환한다.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AssetDeleteResult' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: '`ASSET_ALREADY_DELETED` — 이미 소프트 삭제된 자산'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/assets/{assetId}/restore:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }

    post:
      tags: [admin-asset]
      summary: 자산 복원 (A2-M4)
      description: |
        소프트 삭제된 자산을 다시 활성으로 되돌린다. **id가 그대로라 과거 재고·예약
        이력을 그대로 승계**한다.

        명칭은 요청 본문으로 받는다 — 삭제된 명칭은 재사용 가능해서 그 사이 같은
        이름의 활성 자산이 생겼을 수 있고, 그때는 409 `DUPLICATE_ASSET_NAME` 로
        **명칭 변경을 요구**한다(A2-M4 모달의 입력 항목이 명칭인 이유).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AssetNameRequest' }
      responses:
        '200':
          description: 복원 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Asset' }
        '400':
          description: name 누락 또는 공백만 입력
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'
        '409':
          description: |
            `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있음(명칭 변경 필요)
            / `ASSET_NOT_DELETED` — 삭제 상태가 아니라 복원할 게 없음
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }

  /admin/inventory/assets/{assetId}/snapshot:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      summary: 월간 재고 스냅샷 (달력, S1-A3)
      description: |
        그 달 전체 일자의 계산된 스냅샷을 한 번에 돌려준다 — 달력이 이 배열 하나로
        잔여/고객 가용 색상과 재고 조정 있는 날 점 표시를 그린다.

        그날 총 보유 = 그 날짜의 기준 보유량 + 그 날짜에 걸리는 재고 조정 delta 합계
        (0 미만 불가). Slice 1은 여행사 할당이 없어 `customerAvailable` = `totalStock`.

        ⚠ `reserved` 는 예약 백엔드가 생기기 전까지 항상 0이다(헤더 TODO 7).
      parameters:
        - name: year
          in: query
          required: true
          schema: { type: integer }
        - name: month
          in: query
          required: true
          schema: { type: integer, minimum: 1, maximum: 12 }
      responses:
        '200':
          description: 그 달 일자별 스냅샷 배열
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/InventoryDaySnapshot' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/days/{date}:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
      - name: date
        in: path
        required: true
        schema: { type: string, format: date }
    get:
      tags: [admin-inventory]
      summary: 선택일 상세 (S1-A3)
      description: 달력에서 날짜를 탭했을 때 하단 상세 패널(기준 보유량 · 이 날 조정 N줄 · 총 보유 · 예약 · 잔여 · 매장 휴무)이 쓰는 값.
      responses:
        '200':
          description: 선택일 상세
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryDayDetail' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/baseline/current:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [admin-inventory]
      summary: 현재(오늘 기준) 기준 보유량
      responses:
        '200':
          description: 기준 보유량
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BaselineResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/baseline:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      summary: 기준 보유량 변경 (A3-M1)
      description: |
        구매·처분처럼 **영구적인 변화**를 적용 시작일과 함께 기록한다(이력 누적, 덮어쓰지
        않음). 그 시작일 이전 날짜의 총 보유·이미 걸린 재고 조정에는 영향을 주지 않는다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BaselineChangeRequest' }
      responses:
        '200':
          description: 변경 후 현재 기준 보유량
          content:
            application/json:
              schema: { $ref: '#/components/schemas/BaselineResponse' }
        '400':
          description: value·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/adjustments:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      summary: 재고 조정 추가 (A3-M2)
      description: |
        수리·임시 임차 등 **일시적인 증감**(±N)을 기간(+요일 지정)과 함께 기록한다.
        같은 날짜에 여러 조정이 걸리면 전부 합산된다. 저장 전에 초과 여부를 먼저
        확인하려면 `/preview` 를 먼저 부른다(A3-M3).
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '201':
          description: 등록 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryAdjustment' }
        '400':
          description: delta·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/assets/{assetId}/adjustments/preview:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [admin-inventory]
      summary: 재고 조정 추가 시 초과 미리보기 (A3-M3)
      description: |
        아무것도 저장하지 않는 계산 전용 엔드포인트 — 그래서 SUPER_ADMIN이 아니어도
        (조회 권한만 있어도) 부를 수 있다. 이 조정을 실제로 적용하면 예약이 총 보유를
        넘게 되는 날짜를 돌려준다.

        ⚠ `reserved` 가 항상 0인 동안(헤더 TODO 7)은 이 목록도 항상 빈 배열이다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 초과가 발생하는 날짜 목록(없으면 빈 배열)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/OverCapacityDate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AssetNotFound'

  /admin/inventory/adjustments/{adjustmentId}:
    parameters:
      - name: adjustmentId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-inventory]
      summary: 재고 조정 수정 (A3-M2)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 수정 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InventoryAdjustment' }
        '400':
          description: delta·startDate 누락 또는 값 오류
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AdjustmentNotFound'
    delete:
      tags: [admin-inventory]
      summary: 재고 조정 해제 (A3-M2)
      responses:
        '204':
          description: 해제 완료
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/AdjustmentNotFound'

  /admin/inventory/adjustments/{adjustmentId}/preview:
    parameters:
      - name: adjustmentId
        in: path
        required: true
        schema: { type: string }
    put:
      tags: [admin-inventory]
      summary: 재고 조정 수정 시 초과 미리보기 (A3-M3)
      description: |
        수정 중인 조정 자신은 계산에서 빼고(중복 반영 방지) 새 값을 얹어 미리 계산한다.
        조회 전용이라 SUPER_ADMIN이 아니어도 부를 수 있다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AdjustmentRequest' }
      responses:
        '200':
          description: 초과가 발생하는 날짜 목록(없으면 빈 배열)
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/OverCapacityDate' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/AdjustmentNotFound'

  /admin/inventory/closures/{date}:
    parameters:
      - name: date
        in: path
        required: true
        schema: { type: string, format: date }
    put:
      tags: [admin-inventory]
      summary: 매장 휴무 토글 (전 자산 공통)
      description: 이 날짜는 모든 자산이 함께 쉰다 — 수량은 보존되고 판매만 차단된다. 자산 하나만 중단하려면 재고 조정으로 수량 0을 만든다.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ClosureRequest' }
      responses:
        '200':
          description: 반영 완료
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ClosureResponse' }
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

# -----------------------------------------------------------------------------
components:

  securitySchemes:
    adminCookieAuth:
      type: apiKey
      in: cookie
      name: admin_access_token
      description: |
        관리자 액세스 토큰(JWT). 클레임 = adminId·loginId·role, 유효 **4시간**.

        ⚠ 고객 문서(chinguya-slice1-openapi.yaml)의 `cookieAuth` 와 **다른 쿠키다**.
        고객은 `access_token`(30분), 관리자는 `admin_access_token`(4시간).
        미들웨어·BFF가 쿠키 이름을 혼동하면 인증이 조용히 어긋난다.

  responses:
    Unauthorized:
      description: 인증 필요/만료 — 쿠키가 없거나 토큰이 유효하지 않다.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    InvalidCredentials:
      description: 아이디 또는 비밀번호 불일치
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: INVALID_CREDENTIALS
            message: 아이디 또는 비밀번호가 올바르지 않습니다.
    Forbidden:
      description: 권한 부족 — STAFF가 쓰기 메서드를 시도한 경우.
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    AssetNotFound:
      description: 존재하지 않는 자산
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ASSET_NOT_FOUND
            message: 자산을 찾을 수 없습니다.
    DuplicateAssetName:
      description: 같은 명칭의 **활성** 자산이 이미 있음
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: DUPLICATE_ASSET_NAME
            message: 이미 사용 중인 자산 명칭입니다.
    AdjustmentNotFound:
      description: 존재하지 않는 재고 조정
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
          example:
            code: ADJUSTMENT_NOT_FOUND
            message: 재고 조정을 찾을 수 없습니다.

  schemas:

    AdminRole:
      type: string
      enum: [SUPER_ADMIN, STAFF]
      description: |
        관리자 등급.
        - `SUPER_ADMIN` — 전체 권한. 쓰기 가능.
        - `STAFF` — 일반 관리자. **조회 전용**(접객용).

    LoginRequest:
      type: object
      required: [loginId, password]
      properties:
        loginId:
          type: string
          description: 관리자 아이디. admin_account.login_id 와 대조(고유).
        password:
          type: string
          format: password
          description: 평문 비밀번호. 서버가 BCrypt 해시와 대조한다.

    AdminSessionResponse:
      type: object
      required: [adminId, loginId, role, expiresAt]
      properties:
        adminId:
          type: string
          description: 관리자 PK(숫자지만 문자열로 직렬화된다).
        loginId: { type: string }
        role: { $ref: '#/components/schemas/AdminRole' }
        expiresAt:
          type: string
          format: date-time
          description: 액세스 토큰 만료 시각(UTC). 발급 시점 +4시간.

    Asset:
      type: object
      required: [assetId, name, deleted, hasInventoryRecords, createdAt, updatedAt]
      description: |
        대여 자산의 **명칭 마스터**(S1-A2). 자산은 명칭만 가진다 — 보유 대수는
        전부 재고 세팅(S1-A3)이 `자산 × 날짜` 단위로 관리하므로 이 스키마에 수량
        필드는 없다. 사유(수리/입고/외부임대)도 관리하지 않는다.
      properties:
        assetId:
          type: string
          description: 자산 PK(숫자지만 문자열로 직렬화된다).
        name: { type: string }
        deleted:
          type: boolean
          description: |
            소프트 삭제 여부. true 면 화면 하단 '삭제됨' 섹션에 놓고 수정은 막되
            복원은 허용한다. 재고 세팅의 자산 선택기에서도 제외한다.
        hasInventoryRecords:
          type: boolean
          description: |
            이 자산을 참조하는 **날짜별 재고 레코드(기준 보유량 이력 또는 재고 조정)가
            1건 이상** 있는지. 삭제 모달의 문구·처리 분기(CASE 1 완전 삭제 / CASE 2
            소프트 삭제)를 삭제를 부르기 전에 정하기 위한 값이다.
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt:
          type: [string, 'null']
          format: date-time
          description: 소프트 삭제 시각. `deleted` 가 false 면 null.

    AssetNameRequest:
      type: object
      required: [name]
      description: 등록·수정·복원이 공유하는 요청 본문. 입력 항목이 명칭 하나뿐이라 분리하지 않는다.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 60
          description: 자산 명칭. 서버가 앞뒤 공백을 제거한 뒤 저장·중복검사한다.

    AssetDeleteResult:
      type: object
      required: [deletion]
      properties:
        deletion:
          type: string
          enum: [HARD, SOFT]
          description: |
            - `HARD` — 재고 레코드가 없어 행을 완전히 지웠다. 목록에서 사라진다.
            - `SOFT` — 재고 레코드가 있어 `deleted_at` 만 찍었다. '삭제됨'으로 남고 복원 가능.

    InventoryDaySnapshot:
      type: object
      required: [date, baseline, totalStock, customerAvailable, closed, reserved, remaining, hasAdjustment]
      description: 달력 한 칸(하루)의 계산된 스냅샷(S1-A3). 월간 조회가 이 배열을 한 번에 돌려준다.
      properties:
        date: { type: string, format: date }
        baseline:
          type: integer
          description: 그 날짜에 적용되던 기준 보유량(오늘 기준 최신값이 아니라 "그날" 기준).
        totalStock:
          type: integer
          description: 그날 총 보유 = 기준 보유량 + 그날 걸리는 재고 조정 delta 합계(0 미만 불가).
        customerAvailable:
          type: integer
          description: Slice 1은 여행사 할당이 없어 totalStock과 같다. Slice 2부터 총 보유 − 할당으로 자동 계산될 자리.
        closed:
          type: boolean
          description: 매장 휴무(전 자산 공통) 여부.
        reserved:
          type: integer
          description: |
            고객 예약 확정 수량. ⚠ 예약 백엔드가 없어 헤더 TODO 7이 해소되기 전까지 항상 0.
        remaining:
          type: integer
          description: customerAvailable − reserved. 마이너스면 재고 초과.
        hasAdjustment:
          type: boolean
          description: 이 날짜에 걸리는 재고 조정이 1건 이상 있는지(달력 점 표시용).

    InventoryDayDetail:
      type: object
      required: [date, baseline, totalStock, customerAvailable, closed, reserved, remaining, adjustments]
      description: 선택일 상세(S1-A3) — 하단 패널이 이 값으로 그린다.
      properties:
        date: { type: string, format: date }
        baseline: { type: integer }
        totalStock: { type: integer }
        customerAvailable: { type: integer }
        closed: { type: boolean }
        reserved: { type: integer }
        remaining: { type: integer }
        adjustments:
          type: array
          items: { $ref: '#/components/schemas/InventoryAdjustment' }

    InventoryAdjustment:
      type: object
      required: [id, assetId, tag, delta, startDate, weekdays, memo, createdAt]
      description: 자산의 일시적 재고 증감 1건(A3-M2, 수리·임차 등).
      properties:
        id: { type: string }
        assetId: { type: string }
        tag:
          type: string
          description: 화면·안내메일 표시용 자유 라벨(예 "임차"/"수리"). 코드값이 아니다.
        delta: { type: integer, description: 증감량(양수/음수). }
        startDate: { type: string, format: date }
        endDate:
          type: [string, 'null']
          format: date
          description: null이면 "종료일 미정"(진행 중) — 복귀일이 정해지면 수정으로 채운다.
        weekdays:
          type: array
          items: { type: integer, minimum: 0, maximum: 6 }
          description: 특정 요일에만 반복 적용(0=일~6=토). 빈 배열이면 기간 내 모든 날짜.
        memo: { type: string }
        createdAt: { type: string, format: date-time }

    AdjustmentRequest:
      type: object
      required: [delta, startDate]
      description: 재고 조정 추가·수정(A3-M2)과 초과 미리보기가 공유하는 요청 본문.
      properties:
        tag: { type: string, maxLength: 60 }
        delta: { type: integer, description: 0이 아닌 증감량. }
        startDate: { type: string, format: date }
        endDate:
          type: [string, 'null']
          format: date
          description: null이면 종료일 미정.
        weekdays:
          type: [array, 'null']
          items: { type: integer, minimum: 0, maximum: 6 }
        memo: { type: string, maxLength: 200 }

    BaselineChangeRequest:
      type: object
      required: [value, startDate]
      description: 기준 보유량 변경 요청(A3-M1). 구매·처분처럼 영구적인 변화라 적용 시작일을 함께 받는다.
      properties:
        value: { type: integer, minimum: 0 }
        startDate: { type: string, format: date }
        memo: { type: string, maxLength: 200 }

    BaselineResponse:
      type: object
      required: [value]
      properties:
        value:
          type: integer
          description: 자산의 "지금"(오늘 날짜 기준) 기준 보유량.

    OverCapacityDate:
      type: object
      required: [date, reserved, totalStockAfter]
      description: |
        재고 조정을 실제로 적용하면 예약이 총 보유를 넘게 되는 날짜(A3-M3 초과 경고).
        ⚠ reserved가 항상 0인 동안(헤더 TODO 7)은 이 목록이 항상 비어 있다.
      properties:
        date: { type: string, format: date }
        reserved: { type: integer }
        totalStockAfter: { type: integer }

    ClosureRequest:
      type: object
      required: [closed]
      description: 매장 휴무 토글 요청 — 전 자산 공통(자산별이 아니다).
      properties:
        closed: { type: boolean }

    ClosureResponse:
      type: object
      required: [date, closed]
      properties:
        date: { type: string, format: date }
        closed: { type: boolean }

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          description: |
            도메인 에러 코드.

            인증(S0-A2):
            - `INVALID_CREDENTIALS` — 아이디 없음 또는 비밀번호 불일치(둘을 구분하지 않는다).

            자산(S1-A2):
            - `ASSET_NOT_FOUND` — 존재하지 않는 자산.
            - `DUPLICATE_ASSET_NAME` — 같은 명칭의 활성 자산이 이미 있다.
            - `ASSET_DELETED` — 삭제된 자산은 수정할 수 없다.
            - `ASSET_ALREADY_DELETED` — 이미 소프트 삭제된 자산을 또 삭제하려 했다.
            - `ASSET_NOT_DELETED` — 삭제 상태가 아닌 자산을 복원하려 했다.

            재고 세팅(S1-A3):
            - `ADJUSTMENT_NOT_FOUND` — 존재하지 않는 재고 조정.
        message: { type: string }
        fieldErrors:
          type: array
          items:
            type: object
            properties:
              field: { type: string }
              reason: { type: string }

security:
  - adminCookieAuth: []
